<template>
    <main>
        <breadcrumbs :caption="article.title" v-if="article"></breadcrumbs>
        <section class="article" v-if="article">
            <div class="article__wrapper container">
                <h1 class="main-caption-l article__caption">{{ article.title }}</h1>
                <ul class="star__list star__list-checked">
                    <li class="star__item">
                        <span class="icon-star"></span>
                    </li>
                    <li class="star__item">
                        <span class="icon-star"></span>
                    </li>
                    <li class="star__item">
                        <span class="icon-star"></span>
                    </li>
                    <li class="star__item">
                        <span class="icon-star"></span>
                    </li>
                    <li class="star__item active">
                        <span class="icon-star"></span>
                    </li>
                </ul>
                <div class="article__container">
                    <div class="article__main-info js-main-content">
                        <div class="article__main-info__header">
                            <div class="article__autor">
                                <div class="article__autor__img" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                                <div class="article__autor__info">
                                    <p class="article__autor__name">Марина Зуб</p>
                                    <p class="article__autor__position">стилист в MODA</p>
                                </div>
                            </div>
                            <div class="article__general-info">
                                <span class="time">{{ article.date }}</span>
                                <span class="decor">|</span>
                                <span class="timer">6 мин чтения</span>
                            </div>
                            <ul class="social__list social__list--inner-content">
                                <li class="social__item">
                                    <a href="#" class="social__link social__link--fb">
                                        <span class="icon-fb"></span>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="#" class="social__link">
                                        <span class="icon-whatsapp"></span>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="#" class="social__link social__link--telegram">
                                        <span class="icon-telegram"></span>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="#" class="social__link">
                                        <span class="icon-viber"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <article class="article__main-info__content">
                            <img class="article__main-img" v-lazy="article.image" alt="title">
                            <div class="article__aside-wrapper" v-if="windowWidth < 1025">
                                <aside class="article__aside-container">
                                    <p class="article__aside__caption">Содержание</p>
                                    <ul class="article__aside__list">
                                        <li class="article__aside__item js-drop-item">
                                            <button class="article__aside__item__wrapper js-drop-button">
                                                <a href="#" class="article__aside__link">Биография</a>
                                                <span class="icon-drop-arrow"></span>
                                            </button>
                                            <ul class="article__aside__sub-list">
                                                <li class="article__aside__sub-item">
                                                    <a href="#" class="article__aside__sub-link">Происхождение</a>
                                                </li>
                                                <li class="article__aside__sub-item">
                                                    <a href="#" class="article__aside__sub-link">Детство</a>
                                                </li>
                                                <li class="article__aside__sub-item">
                                                    <a href="#" class="article__aside__sub-link">Юность</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="article__aside__item js-drop-item">
                                            <button class="article__aside__item__wrapper js-drop-button">
                                                <a href="#" class="article__aside__link">Сумки</a>
                                                <span class="icon-drop-arrow"></span>
                                            </button>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="content" v-html="article.content"></div>
                            <!-- Переверстать таблицу тегом <table> без классов -->
                            <!-- <div class="article__table">
                                <div class="article__table__header">
                                    <p class="article-main-position">Название</p>
                                    <p class="article-main-position">Дополнительно</p>
                                    <p class="article-main-position">Дополнительно</p>
                                    <p class="article-main-position">Дополнительно</p>
                                    <p class="article-description-position">Описание</p>
                                </div>
                                <ul class="article__table__list">
                                    <li class="article__table__item">
                                        <div class="article__table__item__info article-main-position">
                                            <p class="type">Название</p>
                                            <p class="description">Финансовая</p>
                                        </div>
                                        <div class="article__table__item__info article-main-position">
                                            <p class="type">Дополнительно</p>
                                            <p class="description">Структрура</p>
                                        </div>
                                        <div class="article__table__item__info article-main-position">
                                            <p class="type">Дополнительно</p>
                                            <p class="description">Структрура</p>
                                        </div>
                                        <div class="article__table__item__info article-main-position">
                                            <p class="type">Дополнительно</p>
                                            <p class="description">Структрура</p>
                                        </div>
                                        <div class="article__table__item__info article-description-position">
                                            <p class="type">Описание</p>
                                            <p class="description">Равным образом дальнейшее развитие различных форм деятельности играет важную </p>
                                        </div>
                                    </li>
                                    <li class="article__table__item">
                                        <div class="article__table__item__info article-main-position">
                                            <p class="type">Название</p>
                                            <p class="description">Финансовая</p>
                                        </div>
                                        <div class="article__table__item__info article-main-position">
                                            <p class="type">Дополнительно</p>
                                            <p class="description">Структрура</p>
                                        </div>
                                        <div class="article__table__item__info article-main-position">
                                            <p class="type">Дополнительно</p>
                                            <p class="description">Структрура</p>
                                        </div>
                                        <div class="article__table__item__info article-main-position">
                                            <p class="type">Дополнительно</p>
                                            <p class="description">Структрура</p>
                                        </div>
                                        <div class="article__table__item__info article-description-position">
                                            <p class="type">Описание</p>
                                            <p class="description">Равным образом дальнейшее развитие различных форм деятельности играет важную </p>
                                        </div>
                                    </li>
                                    <li class="article__table__item">
                                        <div class="article__table__item__info article-main-position">
                                            <p class="type">Название</p>
                                            <p class="description">Финансовая</p>
                                        </div>
                                        <div class="article__table__item__info article-main-position">
                                            <p class="type">Дополнительно</p>
                                            <p class="description">Структрура</p>
                                        </div>
                                        <div class="article__table__item__info article-main-position">
                                            <p class="type">Дополнительно</p>
                                            <p class="description">Структрура</p>
                                        </div>
                                        <div class="article__table__item__info article-main-position">
                                            <p class="type">Дополнительно</p>
                                            <p class="description">Структрура</p>
                                        </div>
                                        <div class="article__table__item__info article-description-position">
                                            <p class="type">Описание</p>
                                            <p class="description">Равным образом дальнейшее развитие различных форм деятельности играет важную </p>
                                        </div>
                                    </li>
                                </ul>
                                <p class="article__table__name">Название таблицы</p>
                            </div> -->
                        </article>
                        <div class="article__footer">
                            <button class="text-button">вернуться к статьям</button>
                            <div class="article__footer__like">
                                <p class="article__footer__like__caption">Понравилась статья?</p>
                                <ul class="product__parameters__list">
                                    <li class="product__parameters__item">да<span>(5)</span></li>
                                    <li class="product__parameters__item">нет<span>(5)</span></li>
                                </ul>
                            </div>
                            <ul class="social__list social__list--inner-content">
                                <li class="social__item">
                                    <a href="#" class="social__link social__link--fb">
                                        <span class="icon-fb"></span>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="#" class="social__link">
                                        <span class="icon-whatsapp"></span>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="#" class="social__link social__link--telegram">
                                        <span class="icon-telegram"></span>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="#" class="social__link">
                                        <span class="icon-viber"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="article__aside-wrapper js-sitebar-wrapper" v-if="windowWidth > 1024">
                        <aside class="article__aside-container js-sitebar-container">
                            <p class="article__aside__caption">Содержание</p>
                            <ul class="article__aside__list">
                                <li class="article__aside__item">
                                    <div class="article__aside__item__wrapper">
                                        <a href="#" class="article__aside__link">Биография</a>
                                    </div>
                                    <ul class="article__aside__sub-list">
                                        <li class="article__aside__sub-item">
                                            <a href="#" class="article__aside__sub-link">Происхождение</a>
                                        </li>
                                        <li class="article__aside__sub-item">
                                            <a href="#" class="article__aside__sub-link">Детство</a>
                                        </li>
                                        <li class="article__aside__sub-item">
                                            <a href="#" class="article__aside__sub-link">Юность</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="article__aside__item">
                                    <div class="article__aside__item__wrapper">
                                        <a href="#" class="article__aside__link">Сумки</a>
                                    </div>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
                <div class="article__comments">
                    <div class="article__add-comments js-drop-item">
                        <button class="general-batton-more js-drop-button">
                            <span class="text">комментировать</span>
                            <span class="close">отмена</span>
                        </button>
                        <div class="product-reviews__add-comment product-reviews__add-comment--article">
                            <form action="product-reviews__add-comment__form">
                                <div class="product-reviews__header">
                                    <div class="product-reviews__img" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                                    <p class="product-reviews__name">Марина</p>
                                </div>
                                <label class="input_wrapper input_wrapper--margin-bottom">
                                    <input type="text" class="main_input" placeholder="Ваш ответ">
                                </label>
                                <div class="product-reviews__add-comment__buttons">
                                    <button class="main-button main-button--small">
                                        <span class="text">комментировать</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <p class="article__comments__caption">2 комментария</p>
                    <div class="product-reviews__wrapper">
                        <ul class="product-reviews__list">
                            <li class="product-reviews__item">
                                <div class="product-reviews__header">
                                    <div class="product-reviews__img" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                                    <p class="product-reviews__name">Марина</p>
                                    <p class="product-reviews__date">11 июня 2020 в 23:30</p>
                                </div>
                                <div class="product-reviews__text">
                                    <p>Спасибо за товар</p>
                                </div>
                                <div class="product-reviews__footer js-drop-item">
                                    <div class="product-reviews__footer__wrapper">
                                        <p class="product-reviews__footer__caption">Понравился комментарий?</p>
                                        <ul class="product__parameters__list">
                                            <li class="product__parameters__item">да<span>(5)</span></li>
                                            <li class="product__parameters__item">нет<span>(5)</span></li>
                                        </ul>
                                        <button class="text-button text-button--reviews-answer js-drop-button">ответить (0)</button>
                                    </div>
                                    <div class="product-reviews__add-comment">
                                        <form action="product-reviews__add-comment__form">
                                            <div class="product-reviews__header">
                                                <div class="product-reviews__img" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                                                <p class="product-reviews__name">Марина</p>
                                            </div>
                                            <label class="input_wrapper input_wrapper--margin-bottom">
                                                <input type="text" class="main_input" placeholder="Ваш ответ">
                                            </label>
                                            <div class="product-reviews__add-comment__buttons">
                                                <button type="button" class="text-button js-drop-button">отмена</button>
                                                <button class="main-button main-button--small">
                                                    <span class="text">ответить</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li class="product-reviews__item">
                                <div class="product-reviews__header">
                                    <div class="product-reviews__img" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                                    <p class="product-reviews__name">Марина</p>
                                    <p class="product-reviews__date">11 июня 2020 в 23:30</p>
                                </div>
                                <div class="product-reviews__text">
                                    <p>Спасибо за товар</p>
                                </div>
                                <div class="product-reviews__footer js-drop-item">
                                    <div class="product-reviews__footer__wrapper">
                                        <p class="product-reviews__footer__caption">Понравился комментарий?</p>
                                        <ul class="product__parameters__list">
                                            <li class="product__parameters__item">да<span>(5)</span></li>
                                            <li class="product__parameters__item">нет<span>(5)</span></li>
                                        </ul>
                                        <button class="text-button text-button--reviews-answer js-drop-button">ответить (0)</button>
                                    </div>
                                    <div class="product-reviews__add-comment">
                                        <form action="product-reviews__add-comment__form">
                                            <div class="product-reviews__header">
                                                <div class="product-reviews__img" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                                                <p class="product-reviews__name">Марина</p>
                                            </div>
                                            <label class="input_wrapper input_wrapper--margin-bottom">
                                                <input type="text" class="main_input" placeholder="Ваш ответ">
                                            </label>
                                            <div class="product-reviews__add-comment__buttons">
                                                <button type="button" class="text-button js-drop-button">отмена</button>
                                                <button class="main-button main-button--small">
                                                    <span class="text">ответить</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <ul class="product-reviews__list">
                                    <li class="product-reviews__item">
                                        <div class="product-reviews__header">
                                            <div class="product-reviews__img" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                                            <p class="product-reviews__name">Марина</p>
                                            <p class="product-reviews__date">11 июня 2020 в 23:30</p>
                                        </div>
                                        <div class="product-reviews__text">
                                            <p>Спасибо за товар</p>
                                        </div>
                                        <div class="product-reviews__footer js-drop-item">
                                            <div class="product-reviews__footer__wrapper">
                                                <p class="product-reviews__footer__caption">Понравился комментарий?</p>
                                                <ul class="product__parameters__list">
                                                    <li class="product__parameters__item">да<span>(5)</span></li>
                                                    <li class="product__parameters__item">нет<span>(5)</span></li>
                                                </ul>
                                                <button class="text-button text-button--reviews-answer js-drop-button">ответить (0)</button>
                                            </div>
                                            <div class="product-reviews__add-comment">
                                                <form action="product-reviews__add-comment__form">
                                                    <div class="product-reviews__header">
                                                        <div class="product-reviews__img" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                                                        <p class="product-reviews__name">Марина</p>
                                                    </div>
                                                    <label class="input_wrapper input_wrapper--margin-bottom">
                                                        <input type="text" class="main_input" placeholder="Ваш ответ">
                                                    </label>
                                                    <div class="product-reviews__add-comment__buttons">
                                                        <button type="button" class="text-button js-drop-button">отмена</button>
                                                        <button class="main-button main-button--small">
                                                            <span class="text">ответить</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product-reviews__item">
                                        <div class="product-reviews__header">
                                            <div class="product-reviews__img" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                                            <p class="product-reviews__name">Марина</p>
                                            <p class="product-reviews__date">11 июня 2020 в 23:30</p>
                                        </div>
                                        <div class="product-reviews__text">
                                            <p>Спасибо за товар</p>
                                        </div>
                                        <div class="product-reviews__footer js-drop-item">
                                            <div class="product-reviews__footer__wrapper">
                                                <p class="product-reviews__footer__caption">Понравился комментарий?</p>
                                                <ul class="product__parameters__list">
                                                    <li class="product__parameters__item">да<span>(5)</span></li>
                                                    <li class="product__parameters__item">нет<span>(5)</span></li>
                                                </ul>
                                                <button class="text-button text-button--reviews-answer js-drop-button">ответить (0)</button>
                                            </div>
                                            <div class="product-reviews__add-comment">
                                                <form action="product-reviews__add-comment__form">
                                                    <div class="product-reviews__header">
                                                        <div class="product-reviews__img" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                                                        <p class="product-reviews__name">Марина</p>
                                                    </div>
                                                    <label class="input_wrapper input_wrapper--margin-bottom">
                                                        <input type="text" class="main_input" placeholder="Ваш ответ">
                                                    </label>
                                                    <div class="product-reviews__add-comment__buttons">
                                                        <button type="button" class="text-button js-drop-button">отмена</button>
                                                        <button class="main-button main-button--small">
                                                            <span class="text">ответить</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="product-reviews__item">
                                <div class="product-reviews__header js-drop-item">
                                    <div class="product-reviews__img" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                                    <p class="product-reviews__name">Мое имя</p>
                                    <p class="product-reviews__date">11 июня 2020 в 23:30</p>
                                    <div class="general-drop-wrapper general-drop-wrapper--edit-reviews js-drop-item">
                                        <button class="product-reviews___button-edit js-drop-button">
                                            <span class="decor"></span>
                                        </button>
                                        <div class="general-drop-content__wrapper">
                                            <ul class="general-drop__list">
                                                <li class="general-drop__item">
                                                    <button class="general-drop__link general-drop__link--change-reviews js-change-reviews">
                                                        <span class="edit">Редактировать отзыв</span>
                                                        <span class="save">Сохранить</span>
                                                    </button>
                                                </li>
                                                <li class="general-drop__item">
                                                    <button class="general-drop__link">Удалить отзыв</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-reviews__text">
                                    <div class="hide-block-for-text js-change-text">
                                        <p>Таким образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития</p>
                                    </div>
                                    <textarea class="change-reviews js-change-textarea" readonly >Таким образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития</textarea>
                                </div>
                                <div class="product-reviews__footer js-drop-item">
                                    <div class="product-reviews__footer__wrapper">
                                        <p class="product-reviews__footer__caption">Понравился комментарий?</p>
                                        <ul class="product__parameters__list">
                                            <li class="product__parameters__item">да<span>(5)</span></li>
                                            <li class="product__parameters__item">нет<span>(5)</span></li>
                                        </ul>
                                        <button class="text-button text-button--reviews-answer js-drop-button">ответить (0)</button>
                                    </div>
                                    <div class="product-reviews__add-comment">
                                        <form action="product-reviews__add-comment__form">
                                            <div class="product-reviews__header">
                                                <div class="product-reviews__img" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                                                <p class="product-reviews__name">Марина</p>
                                            </div>
                                            <label class="input_wrapper input_wrapper--margin-bottom">
                                                <input type="text" class="main_input" placeholder="Ваш ответ">
                                            </label>
                                            <div class="product-reviews__add-comment__buttons">
                                                <button type="button" class="text-button js-drop-button">отмена</button>
                                                <button class="main-button main-button--small">
                                                    <span class="text">ответить</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="blog-block">
            <div class="blog-block__wrapper container">
                <div class="general-header-block">
                    <p class="general-header-block__caption main-caption-m">Блог</p>
                    <p class="general-header-block__sub">Дополнительный текст</p>
                </div>
                <div class="position-wrapper">
                    <ul class="blog__list position-wrapper__list">
                        <li class="blog__item position-wrapper__item">
                            <div class="blog__item__img">
                                <img v-lazy="'./img/banner-img.png'" alt="title">
                            </div>
                            <div class="blog__item__header">
                                <p class="blog__item__category">Категория блога</p>
                                <ul class="star__list star__list-checked">
                                    <li class="star__item">
                                        <span class="icon-star"></span>
                                    </li>
                                    <li class="star__item active">
                                        <span class="icon-star"></span>
                                    </li>
                                    <li class="star__item">
                                        <span class="icon-star"></span>
                                    </li>
                                    <li class="star__item">
                                        <span class="icon-star"></span>
                                    </li>
                                    <li class="star__item">
                                        <span class="icon-star"></span>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="blog__item__link">Консультация с широким форматом аудитории и ее участников</a>
                            <div class="blog__item__footer">
                                <p class="blog__item__time">6 мин чтения</p>
                                <p class="blog__item__comment">2 комментария</p>
                            </div>
                        </li>
                        <li class="blog__item position-wrapper__item">
                            <div class="blog__item__img">
                                <img v-lazy="'./img/banner-img.png'" alt="title">
                            </div>
                            <div class="blog__item__header">
                                <p class="blog__item__category">Категория блога</p>
                                <ul class="star__list star__list-checked">
                                    <li class="star__item">
                                        <span class="icon-star"></span>
                                    </li>
                                    <li class="star__item active">
                                        <span class="icon-star"></span>
                                    </li>
                                    <li class="star__item">
                                        <span class="icon-star"></span>
                                    </li>
                                    <li class="star__item">
                                        <span class="icon-star"></span>
                                    </li>
                                    <li class="star__item">
                                        <span class="icon-star"></span>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="blog__item__link">Консультация с широким форматом аудитории и ее участников</a>
                            <div class="blog__item__footer">
                                <p class="blog__item__time">6 мин чтения</p>
                                <p class="blog__item__comment">2 комментария</p>
                            </div>
                        </li>
                        <li class="blog__item position-wrapper__item">
                            <div class="blog__item__img">
                                <img v-lazy="'./img/banner-img.png'" alt="title">
                            </div>
                            <div class="blog__item__header">
                                <p class="blog__item__category">Категория блога</p>
                                <ul class="star__list star__list-checked">
                                    <li class="star__item">
                                        <span class="icon-star"></span>
                                    </li>
                                    <li class="star__item active">
                                        <span class="icon-star"></span>
                                    </li>
                                    <li class="star__item">
                                        <span class="icon-star"></span>
                                    </li>
                                    <li class="star__item">
                                        <span class="icon-star"></span>
                                    </li>
                                    <li class="star__item">
                                        <span class="icon-star"></span>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="blog__item__link">Консультация с широким форматом аудитории и ее участников</a>
                            <div class="blog__item__footer">
                                <p class="blog__item__time">6 мин чтения</p>
                                <p class="blog__item__comment">2 комментария</p>
                            </div>
                        </li>
                        <li class="blog__item position-wrapper__item">
                            <div class="blog__item__img">
                                <img v-lazy="'./img/banner-img.png'" alt="title">
                            </div>
                            <div class="blog__item__header">
                                <p class="blog__item__category">Категория блога</p>
                                <ul class="star__list star__list-checked">
                                    <li class="star__item">
                                        <span class="icon-star"></span>
                                    </li>
                                    <li class="star__item active">
                                        <span class="icon-star"></span>
                                    </li>
                                    <li class="star__item">
                                        <span class="icon-star"></span>
                                    </li>
                                    <li class="star__item">
                                        <span class="icon-star"></span>
                                    </li>
                                    <li class="star__item">
                                        <span class="icon-star"></span>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="blog__item__link">Консультация с широким форматом аудитории и ее участников</a>
                            <div class="blog__item__footer">
                                <p class="blog__item__time">6 мин чтения</p>
                                <p class="blog__item__comment">2 комментария</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="general-navigation">
                    <button class="general-button-more-info general-button-more-info--navigation">
                        <span class="text">перейти в блог</span>
                    </button>
                    <div class="general-pagination">
                        <button class="arrow-button arrow-button--pagination">
                            <span class="icon-arrow-left"></span>
                        </button>
                        <ul class="pagination__list">
                            <li class="pagination__item active">1</li>
                            <li class="pagination__item">2</li>
                            <li class="pagination__item">3</li>
                            <li class="pagination__item">4</li>
                        </ul>
                        <button class="arrow-button arrow-button--pagination">
                            <span class="icon-arrow-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="social-block">
            <div class="social-block__wrapper container">
                <div class="general-header-block general-header-block--social">
                    <p class="general-header-block__caption main-caption-m">Мы в социальных сетях</p>
                    <p class="general-header-block__sub">Дополнительный текст</p>
                </div>
                <ul class="social__list">
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <span class="icon-fb"></span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <span class="icon-inst"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="subscription">
            <div class="subscription__wrapper container">
                <p class="main-caption-s subscription__caption">Призыв на подписку о рассылке</p>
                <form class="subscription__form">
                    <label class="input_wrapper input_wrapper--subscription">
                        <span class="input-caption">Email</span>
                        <input type="email" class="main_input" placeholder="Email">
                    </label>
                    <div class="checkbox__container checkbox__container--subscription">
                        <label class="checkbox__wrapper checkbox__wrapper--subscription">
                            <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                            <span class="custome-check">
                                <span class="icon-active"></span>
                            </span>
                            <span class="text">Тема для рассылки</span>
                        </label>
                        <label class="checkbox__wrapper checkbox__wrapper--subscription">
                            <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                            <span class="custome-check">
                                <span class="icon-active"></span>
                            </span>
                            <span class="text">Тема для рассылки</span>
                        </label>
                        <label class="checkbox__wrapper checkbox__wrapper--subscription">
                            <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                            <span class="custome-check">
                                <span class="icon-active"></span>
                            </span>
                            <span class="text">Тема для рассылки</span>
                        </label>
                    </div>
                    <button class="main-button main-button--subscription">
                        <span class="text">отправить</span>
                    </button>
                </form>
            </div>
        </section>
    </main>
</template>

<script>
    import breadcrumbs from '../breadcrumbs'

    export default {
        name: "post",
        data() {
            return {
                slug: this.$route.params.slug,
                article: null
            }
        },
        props:['windowWidth'],
        components: {
            breadcrumbs
        },
        methods: {
            setStar() {
                let starsItem = document.querySelectorAll('.js-star-item');
                let starInput = document.querySelector('.js-stars-input');
                let starList = document.querySelector('.js-star-list');
                starsItem.forEach((item) =>{
                    item.addEventListener('click',function(){
                        let starValuse = item.getAttribute('data-target');
                        starInput.setAttribute('value', starValuse);
                        starList.classList.add('star__list-checked');
                        
                        for(var i = 0; starsItem.length > i; i++) {
                            starsItem[i].classList.remove('active');
                        }
                        item.classList.add('active');
                    });
                });
            },
            changeComents() {
                let textAreaAll = document.querySelectorAll('.js-change-textarea');
                let textHideblockAll = document.querySelectorAll('.js-change-text p');
                let buttonsChange = document.querySelectorAll('.js-change-reviews');
                
                function setHightTextArea() {
                    if(textHideblockAll){
                        for(let i = 0; textAreaAll.length > i; i++){
                            let textHideblockHeight = textHideblockAll[i].offsetHeight;
                            textAreaAll[i].setAttribute('style', `height: ${textHideblockHeight}px`);
                        }
                    }
                }
                
                function changeReviews() {
                    if(buttonsChange){
                        for(let i = 0; buttonsChange.length > i; i++){
                            buttonsChange[i].addEventListener('click', function(){
                                this.classList.toggle('active');
                                if(textAreaAll[i].hasAttribute('readonly')) {
                                    textAreaAll[i].removeAttribute('readonly');
                                    textAreaAll[i].focus();
                                }else {
                                    textAreaAll[i].setAttribute('readonly', "");
                                    textHideblockAll[i].innerHTML = textAreaAll[i].value;
                                    setHightTextArea();
                                }
                            });
                        }
                    }
                }
                
                window.addEventListener('resize', function() {
                    changeReviews();
                    setHightTextArea();
                });
                
                changeReviews();
                setHightTextArea();
            },
            fixedSiteBar() {
                let mainWrapper = document.querySelector('.js-sitebar-wrapper');
                let wrapper = document.querySelector('.js-sitebar-container');
                let mainContent = document.querySelector('.js-main-content');
                let wrapperTopPosition;
                let mainContentBottomPosition;
                
                if(wrapper) {
                    wrapperTopPosition = wrapper.getBoundingClientRect().top + pageYOffset;
                    mainContentBottomPosition = mainContent.offsetHeight + mainContent.getBoundingClientRect().top + pageYOffset;
                }
                
                function fixedBlock() {
                    mainContentBottomPosition = mainContent.offsetHeight + mainContent.getBoundingClientRect().top + pageYOffset;
                    if(mainContentBottomPosition < (window.scrollY + window.innerHeight - 100)) {
                        wrapper.classList.add("hide");
                    }else {
                        if(wrapperTopPosition < window.scrollY) {
                            wrapper.setAttribute("style",`position:fixed; top: 0px; width: ${mainWrapper.offsetWidth}px;`);
                            wrapper.classList.remove("hide");
                        }else {
                            wrapperTopPosition = wrapper.getBoundingClientRect().top + pageYOffset;
                            wrapper.setAttribute("style",`position:absolute; top: 0px; width: ${mainWrapper.offsetWidth}px;`);
                        }
                    }
                    
                }
                
                setTimeout(() => {
                    if(wrapper) {
                        fixedBlock();
                    }
                }, 1000);
                
                window.addEventListener('scroll', function(){
                    if(wrapper) {
                        fixedBlock();
                    }
                });
                
                window.addEventListener('resize', function(){
                    if(wrapper) {
                        fixedBlock();
                    }
                });
            }
        },
        created() {
            let styleLink = document.querySelector('link[rel="stylesheet"]');
            styleLink.setAttribute('href',`${styleLink.dataset.href}/mainArticle.css`);
        },
        mounted() {
            const component = this;
            setTimeout(() => {
                this.changeComents();
                this.setStar();
                this.fixedSiteBar();
            }, 2000);

            axios.get('/api/articles/' + this.slug)
                 .then(function(response) {
                     component.article = response.data.data;
                 })
        }
    }
</script>