<template>
    <main>
        <breadcrumbs></breadcrumbs>
        <section class="blog-page">
            <div class="blog-page__wrapper container">
                <h1 class="main-caption-l blog-page--caption">Блог</h1>
                <div class="general-tabs js-general-tabs-wrapper">
                    <button class="arrow-button general-tabs__scroll-button general-tabs__scroll-button--left js-general-tans-button-prev hidden">
                        <span class="icon-arrow-left"></span>
                    </button>
                    <div class="general-tabs__list js-general-tabs-list">
                        <router-link to="/blog" class="general-tabs__button" :class="{active: !$route.params.category}">
                            все
                        </router-link>
                        <router-link :to="'/blog/' + item.slug" v-for="item in categories" class="general-tabs__button" :class="{active: $route.params.category === item.slug}" :key="item.id">
                            {{ item.name }}
                        </router-link>
                    </div>
                    <button class="arrow-button general-tabs__scroll-button general-tabs__scroll-button--right js-general-tans-button-next">
                        <span class="icon-arrow-right"></span>
                    </button>
                </div>
                <div class="blog__header">
                    <p class="blog__caption">{{ articles.meta.total }} статьи</p>
                    <div class="general__sort" v-if="windowWidth > 767">
                        <p class="general__sort-text">Сортировка по:</p>
                        <ul class="general__sort-list">
                            <li class="general__sort-item">
                                <button>Дате</button>
                            </li>
                            <li class="general__sort-item active">
                                <button>Рейтингу</button>
                            </li>
                        </ul>
                    </div>
                    <div class="general-drop-wrapper js-drop-item" v-else>
                        <button class="mobile-button-sort js-drop-button">
                            <span class="icon-decor-sort" v-lazy:background-image="'./img/icon-sort.svg'"></span>
                        </button>
                        <div class="general-drop-content__wrapper">
                            <ul class="general-drop__list">
                                <li class="general-drop__item">Дате</li>
                                <li class="general-drop__item">Рейтингу</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="position-wrapper">
                    <ul class="blog__list position-wrapper__list">
                        <ArticleCard v-for="(item, key) in articles.data" :data-item="item" :data-classes="key === 0? 'blog__item--big' : ''" :key="key"></ArticleCard>
                    </ul>
                </div>
                <div class="general-navigation">
                    <button class="general-button-more-info general-button-more-info--navigation" v-if="articles.meta.current_page !== articles.meta.last_page" @click="loadmore()">
                        <span class="text">смотреть еще</span>
                    </button>
                    <div class="general-pagination" v-if="articles.meta.last_page > 1">
                        <button class="arrow-button arrow-button--pagination" :class="{disabled: articles.meta.current_page === 1}" @click="articles.meta.current_page--">
                            <span class="icon-arrow-left"></span>
                        </button>
                        <ul class="pagination__list">
                            <li class="pagination__item" :class="{active: articles.meta.current_page === 1}" @click="articles.meta.current_page = 1">1</li>

                            <template v-if="articles.meta.current_page === 1">
                                <li class="pagination__item" :class="{active: articles.meta.current_page === 2}" @click="articles.meta.current_page = 2" v-if="articles.meta.last_page > 2">2</li>
                                <li class="pagination__item" :class="{active: articles.meta.current_page === 3}" @click="articles.meta.current_page = 3" v-if="articles.meta.last_page > 3">3</li>
                            </template>

                            <template v-else-if="articles.meta.current_page === articles.meta.last_page">
                                <li class="pagination__item" :class="{active: articles.meta.current_page === articles.meta.last_page - 2}" @click="articles.meta.current_page = articles.meta.last_page - 2" v-if="articles.meta.last_page > 3">{{articles.meta.last_page - 2}}</li>
                                <li class="pagination__item" :class="{active: articles.meta.current_page === articles.meta.last_page - 1}" @click="articles.meta.current_page = articles.meta.last_page - 1" v-if="articles.meta.last_page > 2">{{ articles.meta.last_page - 1 }}</li>
                            </template>

                            <template v-else>
                                <li class="pagination__item" @click="articles.meta.current_page--" v-if="articles.meta.last_page > 3 && articles.meta.current_page === articles.meta.last_page - 1">{{ articles.meta.current_page - 1 }}</li>
                                <li class="pagination__item active" v-if="articles.meta.last_page > 2">{{ articles.meta.current_page }}</li>
                                <li class="pagination__item" @click="articles.meta.current_page++" v-if="articles.meta.last_page > 3 && articles.meta.current_page < articles.meta.last_page - 1">{{ articles.meta.current_page + 1 }}</li>
                            </template>

                            <li class="pagination__item" :class="{active: articles.meta.current_page === articles.meta.last_page}" @click="articles.meta.current_page = articles.meta.last_page">{{ articles.meta.last_page }}</li>
                        </ul>
                        <button class="arrow-button arrow-button--pagination" :class="{disabled: articles.meta.current_page === articles.meta.last_page}" @click="articles.meta.current_page++">
                            <span class="icon-arrow-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="seo-blog" v-if="seo_text">
            <div class="seo-blog__wrapper container">
                <h2 class="main-caption-m">{{ seo_title }}</h2>
                <div class="seo-text" v-html="seo_text">
                </div>
            </div>
        </section>
        <section class="social-block">
            <div class="social-block__wrapper container">
                <div class="general-header-block general-header-block--social">
                    <p class="general-header-block__caption main-caption-m">Мы в социальных сетях</p>
                    <p class="general-header-block__sub">Дополнительный текст</p>
                </div>
                <ul class="social__list">
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <span class="icon-fb"></span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <span class="icon-inst"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="subscription">
            <div class="subscription__wrapper container">
                <p class="main-caption-s subscription__caption">Призыв на подписку о рассылке</p>
                <form class="subscription__form">
                    <label class="input_wrapper input_wrapper--subscription">
                        <span class="input-caption">Email</span>
                        <input type="email" class="main_input" placeholder="Email">
                    </label>
                    <div class="checkbox__container checkbox__container--subscription">
                        <label class="checkbox__wrapper checkbox__wrapper--subscription">
                            <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                            <span class="custome-check">
                                <span class="icon-active"></span>
                            </span>
                            <span class="text">Тема для рассылки</span>
                        </label>
                        <label class="checkbox__wrapper checkbox__wrapper--subscription">
                            <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                            <span class="custome-check">
                                <span class="icon-active"></span>
                            </span>
                            <span class="text">Тема для рассылки</span>
                        </label>
                        <label class="checkbox__wrapper checkbox__wrapper--subscription">
                            <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                            <span class="custome-check">
                                <span class="icon-active"></span>
                            </span>
                            <span class="text">Тема для рассылки</span>
                        </label>
                    </div>
                    <button class="main-button main-button--subscription">
                        <span class="text">отправить</span>
                    </button>
                </form>
            </div>
        </section>
    </main>
</template>

<script>
    import breadcrumbs from '../breadcrumbs'

    export default {
        name: "blog",
        data() {
            return {
                categories: [],
                articles: {
                    meta: {
                        current_page: this.$route.query.page? +this.$route.query.page : 1,
                        last_page: 1,
                        total: 0
                    }
                },
                query: {
                    sort: 'date_desc',
                    per_page: 11,
                },
                append: false,
                seo_title: null,
                seo_text: null,
            }
        },
        props:['windowWidth'],
        components: {
            ArticleCard: () => import('../cards/ArticleCard.vue'),
            breadcrumbs
        },
        methods: {
            scrollTabs() {
                let tabsWrapper = document.querySelector('.js-general-tabs-wrapper');
                let tabsList = document.querySelector('.js-general-tabs-list');
                let buttonMoveNext = document.querySelector('.js-general-tans-button-next');
                let buttonMovePrev = document.querySelector('.js-general-tans-button-prev');
                let maxScrollLeft = tabsList.scrollWidth - tabsList.clientWidth;
                let currenScrollValue = tabsList.scrollLeft;
                buttonMoveNext.addEventListener('click',moveNext);
                buttonMovePrev.addEventListener('click',movePrev);
                
                function movePrev() {
                    currenScrollValue = tabsList.scrollLeft;
                    tabsList.scrollLeft -= 100;
                    currenScrollValue -= 100;
                    buttonMoveNext.classList.remove('hidden');
                    
                    if(currenScrollValue < 40) {
                        this.classList.add('hidden');
                        tabsWrapper.classList.remove('active');
                    }
                }
                
                function moveNext() {
                    currenScrollValue = tabsList.scrollLeft;
                    tabsList.scrollLeft += 100;
                    currenScrollValue += 100;

                    if(currenScrollValue >= 0) {
                        buttonMovePrev.classList.remove('hidden');
                        tabsWrapper.classList.add('active');
                    }
                    
                    if(currenScrollValue >= maxScrollLeft) {
                        this.classList.add('hidden');
                    }
                }
            },
            getArticles: function(){
                const component = this;
                let params = '?limit=' + this.query.per_page + '&page=' + this.articles.meta.current_page + '&sort=' + this.query.sort;
                params = this.$route.params.category? params + '&category_slug=' + this.$route.params.category : params;

                axios.get('/api/articles/paginate' + params)
                 .then(function(response) {
                    let itterations = 1;
          
                    if(component.append){
                        let currentData = component.articles.data;
                        component.articles.data = response.data.data;
                            
                        currentData.reverse().forEach(item => {
                        component.articles.data.unshift(item);
                        
                        if(itterations == currentData.length)
                        component.append = false;
                            
                        itterations++;
                        });
                    } else
                        component.articles = response.data;
                 });
            },
            loadmore: function() {
                this.append = true;
                this.articles.meta.current_page++;
            },
            setCategory: function() {
                if(this.$route.params.category) {
                    this.seo_title = this.categories[this.$route.params.category].seo_title;
                    this.seo_text = this.categories[this.$route.params.category].seo_text;
                } else {
                    this.seo_title = null;
                    this.seo_text = null;
                }
            }
        },
        watch: {
            query:{
                handler: function() {
                    if(this.articles.meta.current_page !== 1)
                        this.articles.meta.current_page = 1;
                    else
                        this.getArticles();
                },
                deep: true
            },
            'articles.meta.current_page': function(value) {
                this.getArticles();
                let query = {};
                if(value > 1)
                    query.page = value;
                if(this.query.sort !== 'date_desc')
                    query.sort = this.query.sort;

                if(this.$route.query.page || !this.$route.query.page && value > 1)
                    this.$router.push({query: query});
            },
            '$route.params.category': function() {
                this.setCategory();

                if(this.articles.meta.current_page !== 1)
                    this.articles.meta.current_page = 1;
                else
                    this.getArticles();
            }
        },
        created() {
            let styleLink = document.querySelector('link[rel="stylesheet"]');
            styleLink.setAttribute('href',`${styleLink.dataset.href}/mainBlog.css`);
        },
        mounted() {
            const component = this;

            setTimeout(() => {
                this.scrollTabs();
            }, 2000);

            axios.get('/api/categories')
                 .then(function(response) {
                    component.categories = response.data.data;
                    component.setCategory();
                 });
                 
            this.getArticles();
        }
    }
</script>