<template>
    <main>
        <section class="breadcrumbs">
            <div class="breadcrumbs__wrapper container">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                    <a href="#" class="breadcrumbs__link">Корзина</a>
                </ul>
            </div>
        </section>
        <section class="cart">
            <div class="cart__wrapper container">
                <h1 class="main-caption-l cart__caption">Оформление заказа</h1>
                <div class="cart__container">
                    <div class="cart__info">
                        <div class="cart__info__header">
                            <p class="cart__info__header__item cart-position-product">Товар</p>
                            <div class="wrapper cart-position-description">
                                <p class="cart__info__header__item cart-position-price">Цена</p>
                                <p class="cart__info__header__item cart-position-calc">Кол-во</p>
                                <p class="cart__info__header__item cart-position-total">Сумма</p>
                                <p class="cart-position-delete"></p>
                            </div>
                            
                        </div>
                        <ul class="cart__info__list">
                            <li class="cart__info__item js-delete-item">
                                <div class="cart__info__item-product cart-position-product">
                                    <div class="cart__info__item-product__img" v-lazy:background-image="'./img/banner-img.png'"></div>
                                    <div class="cart__info__item-product__info">
                                        <p class="cart__info__item-product__category">Категория</p>
                                        <a href="#" class="cart__info__item-product__name js-delete-item-name">Название товара12 название товара</a>
                                        <p class="cart__info__item-product__parm">
                                            <span class="type">Параметр:</span>
                                            <span class="description">значение параметра</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="cart__info__item-description cart-position-description">
                                    <div class="cart__info__item-description__price cart-position-price">
                                        <p class="product__old-price-cart">300грн</p>
                                        <p class="product__price-cart">280грн</p>
                                    </div>
                                    <div class="cart__change-amount cart-position-calc">
                                        <button class="cart__change-amount__button">-</button>
                                        <label class="input_wrapper">
                                            <input type="text" class="main_input" value="0">
                                        </label>
                                        <button class="cart__change-amount__button">+</button>
                                    </div>
                                    <div class="cart__info__item-description-total cart-position-total">300грн</div>
                                    <button class="cart__delete__button cart-position-delete js-button js-delete-item-button" data-target="delete-elem">
                                        <span class="icon-close"></span>
                                    </button>
                                </div>
                            </li>
                            <li class="cart__info__item js-delete-item">
                                <div class="cart__info__item-product cart-position-product">
                                    <div class="cart__info__item-product__img" v-lazy:background-image="'./img/banner-img.png'"></div>
                                    <div class="cart__info__item-product__info">
                                        <p class="cart__info__item-product__category">Категория</p>
                                        <a href="#" class="cart__info__item-product__name js-delete-item-name">Название товара название товара</a>
                                        <p class="cart__info__item-product__parm">
                                            <span class="type">Параметр:</span>
                                            <span class="description">значение параметра</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="cart__info__item-description cart-position-description">
                                    <div class="cart__info__item-description__price cart-position-price">
                                        <p class="product__old-price-cart">300грн</p>
                                        <p class="product__price-cart">280грн</p>
                                    </div>
                                    <div class="cart__change-amount cart-position-calc">
                                        <button class="cart__change-amount__button">-</button>
                                        <label class="input_wrapper">
                                            <input type="text" class="main_input" value="0">
                                        </label>
                                        <button class="cart__change-amount__button">+</button>
                                    </div>
                                    <div class="cart__info__item-description-total cart-position-total">300грн</div>
                                    <button class="cart__delete__button cart-position-delete js-button js-delete-item-button" data-target="delete-elem">
                                        <span class="icon-close"></span>
                                    </button>
                                </div>
                            </li>
                        </ul>
                        <div class="cart__final-price">
                            <span>Итого:</span>
                            <strong class="price">600 грн</strong>
                        </div>
                    </div>
                    <div class="cart__sitebar" v-if="windowWidth > 767">
                        <p class="cart__main-info__caption">Ваш заказ</p>
                        <ul class="cart__total-list">
                            <li class="cart__total-item">
                                <p class="cart__total-type">Кол-во товаров в корзине</p>
                                <p class="cart__total-description">2</p>
                            </li>
                            <li class="cart__total-item">
                                <p class="cart__total-type">Стоимость товаров</p>
                                <p class="cart__total-description">950 грн</p>
                            </li>
                            <li class="cart__total-item cart__total-item--promo-code">
                                <p class="cart__total-type">Посмотреть доступные промокоды</p>
                                <a href="#" class="cart__promo-code-button">Применить промокод</a>
                            </li>
                            <li class="cart__total-item cart__total-item--finish-price">
                                <p class="cart__total-type">Всего</p>
                                <p class="cart__total-description"> 900 грн</p>
                            </li>
                        </ul>
                        <button class="main-button main-button--cart">
                            <span class="text">оформить заказ</span>
                        </button>
                        <p class="cart__info-text">Текст например о бесплатной доставке от определенной суммы</p>
                        
                    </div>
                    <div class="cart__sitebar" v-else>
                        <div class="cart__sitebar__mobile-total">
                            <p class="info">4 товара на сумму</p>
                            <p class="price"><strong>600 грн</strong></p>
                        </div>
                        <ul class="cart__total-list">
                            <li class="cart__total-item cart__total-item--promo-code">
                                <p class="cart__total-type">Посмотреть доступные промокоды</p>
                                <a href="#" class="cart__promo-code-button">Применить промокод</a>
                            </li>
                        </ul>
                        <button class="main-button main-button--cart">
                            <span class="text">оформить заказ</span>
                        </button>
                            <button class="general-button-more-info general-button-more-info--cart">
                            <span class="text">вернуться к покупкам</span>
                        </button>
                    </div>
                </div>
                <div class="cart__buttons">
                    <a href="#" class="text-button">вернуться к покупкам</a>
                    <button class="text-button js-button" data-target="help">нужна помощь?</button>
                </div>
            </div>
        </section>
        <section class="popup popup-form js-popup" data-target="delete-elem">
            <button class="close__popup js-close">
                <span class="icon-close"></span>
            </button>
            <div class="popup__wrapper">
                <p class="popup__caption--delete-item">Удалить из корзины <span class="name js-popup-name"></span></p>
                <button class="general-button-more-info general-button-more-info--delete-item js-close">
                    <span class="text">удалить</span>
                </button>
                <button class="main-button main-button--delete-item js-close">
                    <span class="text">отмена</span>
                </button>
            </div>
        </section>
    </main>
</template>

<script>
    export default {
        name: "cart",
        data() {
            return {
                
            }
        },
        props:['windowWidth'],
        methods: {
            setNameInPopupDelete() {
                let allButton = document.querySelectorAll('.js-delete-item-button');
                
                allButton.forEach(item => {
                    item.addEventListener('click', function(e) {
                        let namaProduct = item.closest('.js-delete-item').querySelector('.js-delete-item-name').innerHTML;
                        document.querySelector('.js-popup-name').innerHTML = namaProduct;
                    });
                });
            }
        },
        created() {
            let styleLink = document.querySelector('link[rel="stylesheet"]');
            styleLink.setAttribute('href',`${styleLink.dataset.href}/mainCart.css`);
        },
        mounted() {
            setTimeout(() => {
                this.setNameInPopupDelete();
            }, 2000);
        }
    }
</script>