<template>
    <main>
        <section class="breadcrumbs">
            <div class="breadcrumbs__wrapper container">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                    <a href="#" class="breadcrumbs__link">{{ category.name }}</a>
                </ul>
            </div>
        </section>
        <section class="catalog">
            <div class="catalog__wrapper container" v-if="windowWidth > 767">
                <h1 class="main-caption-l">{{ category.name }}</h1>
                <div class="catalog__filtration">
                    <ul class="catalog__filtration__list">
                        <li class="catalog__filtration__item js-drop-item">
                            <button class="general-batton-more general-batton-more--filtration js-drop-button">
                                <span class="text">производитель</span>
                                <span class="icon-drop-arrow"></span>
                            </button>
                            <div class="filtration__drop filtration__drop--checkbox">
                                <label class="input_wrapper input_wrapper--filtration">
                                    <input type="text" placeholder="Поиск по фильтру" class="main_input main_input--filtration">
                                    <span class="icon-search input-search-icon"></span>
                                    <!-- <button class="clear-search-input">
                                        <span class="icon-close"></span>
                                    </button> -->
                                </label>
                                <ul class="filtration__list">
                                    <li class="filtration__item" v-for="(item, id) in filters.brands">
                                        <label class="checkbox__wrapper checkbox__wrapper--filtration">
                                            <input type="checkbox" :value="id" class="input-checkbox" v-model="selected.brands">
                                            <span class="custome-check">
                                                <span class="icon-active"></span>
                                            </span>
                                            <span class="text">{{ item }}</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="catalog__filtration__item js-drop-item" v-if="category.prices.min !== category.prices.max">
                            <button class="general-batton-more general-batton-more--filtration js-drop-button">
                                <span class="text">цена</span>
                                <span class="icon-drop-arrow"></span>
                            </button>
                            <div class="filtration__drop filtration__drop--range-selider">
                                <div class="filtration__drop__inputs-wrapper">
                                    <label class="input_wrapper input_wrapper--range-slider">
                                        <input type="number" :min="category.prices.min" :max="category.prices.max" class="main_input main_input--range-slider" v-model="selected.price[0]">
                                    </label>
                                    <span class="decor">-</span>
                                    <label class="input_wrapper input_wrapper--range-slider">
                                        <input type="number" :min="category.prices.min" :max="category.prices.max" class="main_input main_input--range-slider"  v-model="selected.price[1]">
                                    </label>
                                </div>
                                <div class="filtration__drop__range-selider">
                                    <vue-slider v-model="selected.price" :min="category.prices.min" :max="category.prices.max"></vue-slider>
                                </div>
                            </div>
                        </li>
                        <template v-for="(item, key, index) in filters.attributes">

                            <template v-if="index < 3 || show_filters">
                                <li class="catalog__filtration__item js-drop-item" v-if="item.type !== 'number'">
                                    <button class="general-batton-more general-batton-more--filtration js-drop-button">
                                        <span class="text">{{ item.name }}</span>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <div class="filtration__drop filtration__drop--checkbox">
                                        <label class="input_wrapper input_wrapper--filtration">
                                            <input type="text" placeholder="Поиск по фильтру" class="main_input main_input--filtration">
                                            <span class="icon-search input-search-icon"></span>
                                            <!-- <button class="clear-search-input">
                                                <span class="icon-close"></span>
                                            </button> -->
                                        </label>
                                        <ul class="filtration__list">
                                            <li class="filtration__item" v-for="value in item.values">
                                                <label class="checkbox__wrapper checkbox__wrapper--filtration">
                                                    <input type="checkbox" :value="value" class="input-checkbox" v-model="selected.attributes[item.id]">
                                                    <span class="custome-check">
                                                        <span class="icon-active"></span>
                                                    </span>
                                                    <span class="text">{{ value }}</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="catalog__filtration__item js-drop-item" v-else>
                                    <button class="general-batton-more general-batton-more--filtration js-drop-button">
                                        <span class="text">{{ item.name }}</span>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <div class="filtration__drop filtration__drop--range-selider">
                                        <div class="filtration__drop__inputs-wrapper">
                                            <label class="input_wrapper input_wrapper--range-slider">
                                                <input type="text" class="main_input main_input--range-slider" v-model="selected.attributes[item.id][0]">
                                            </label>
                                            <span class="decor">-</span>
                                            <label class="input_wrapper input_wrapper--range-slider">
                                                <input type="text" class="main_input main_input--range-slider"  v-model="selected.attributes[item.id][1]">
                                            </label>
                                        </div>
                                        <div class="filtration__drop__range-selider">
                                            <vue-slider v-model="selected.attributes[item.id]" :min="filters.attributes[item.id].values.min" :max="filters.attributes[item.id].values.max"></vue-slider>
                                        </div>
                                    </div>
                                </li>
                            </template>

                        </template>
                        <li class="catalog__filtration__item catalog__filtration__item--more" v-if="Object.keys(filters.attributes).length > 3">
                            <button class="general-batton-more general-batton-more--filtration-more" @click="show_filters = !show_filters" v-if="!show_filters">
                                <span class="icon-decor-filter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66675 2C4.29856 2 4.00008 2.29848 4.00008 2.66667V3.44714C3.22329 3.72169 2.66675 4.46252 2.66675 5.33333C2.66675 6.20415 3.22329 6.945 4.00008 7.21953V13.3333C4.00008 13.7015 4.29856 14 4.66675 14C5.03493 14 5.33341 13.7015 5.33341 13.3333V7.21953C6.11021 6.945 6.66675 6.20415 6.66675 5.33333C6.66675 4.46252 6.11021 3.72169 5.33341 3.44714V2.66667C5.33341 2.29848 5.03493 2 4.66675 2ZM5.33341 5.33333C5.33341 5.70153 5.03493 6 4.66675 6C4.29856 6 4.00008 5.70153 4.00008 5.33333C4.00008 4.96515 4.29856 4.66667 4.66675 4.66667C5.03493 4.66667 5.33341 4.96515 5.33341 5.33333Z" fill="#2F80ED"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3333 2C10.9651 2 10.6666 2.29848 10.6666 2.66667V8.1138C9.88979 8.38833 9.33325 9.1292 9.33325 10C9.33325 10.8708 9.88979 11.6117 10.6666 11.8862V13.3333C10.6666 13.7015 10.9651 14 11.3333 14C11.7015 14 11.9999 13.7015 11.9999 13.3333V11.8862C12.7767 11.6117 13.3333 10.8708 13.3333 10C13.3333 9.1292 12.7767 8.38833 11.9999 8.1138V2.66667C11.9999 2.29848 11.7015 2 11.3333 2ZM11.9999 10C11.9999 10.3682 11.7015 10.6667 11.3333 10.6667C10.9651 10.6667 10.6666 10.3682 10.6666 10C10.6666 9.6318 10.9651 9.33333 11.3333 9.33333C11.7015 9.33333 11.9999 9.6318 11.9999 10Z" fill="#2F80ED"/>
                                    </svg>
                                </span>
                                <span class="text">еще фильтры</span>
                            </button>
                            <button class="text-button" @click="show_filters = !show_filters" v-else>скрыть фильтры</button>
                        </li>

                    </ul>
                    <ul class="catalog__filtration__list">
                        <li class="catalog__filtration__item catalog__filtration__item--more">
                            <button class="main-button general-batton-more--filtration" @click="getProducts()">
                                <span class="text">применить фильтры</span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="catalog__selected">
                    <ul class="catalog__selected__list">
                        <li class="catalog__selected__item" v-for="item in selected.brands">
                            <span class="catalog__selected__text">{{ filters.brands[item] }}</span>
                            <button class="catalog__selected__delete" @click="selected.brands.splice(selected.brands.indexOf(item), 1)">
                                <span class="icon-close"></span>
                            </button>
                        </li>
                        <template v-for="(item, key) in selected.attributes">
                            <template v-if="filters.attributes[key].type !== 'number'">
                                <li class="catalog__selected__item" v-for="value in item">
                                    <span class="catalog__selected__text">{{ value }}</span>
                                    <button class="catalog__selected__delete" @click="selected.attributes[key].splice(selected.attributes[key].indexOf(value), 1)">
                                        <span class="icon-close"></span>
                                    </button>
                                </li>
                            </template>
                        </template>
                        <li class="catalog__selected__item catalog__selected__item--clear" v-if="filtersOn">
                            <button class="text-button" @click="clearFilters()">сбросить все ФИЛЬТРЫ</button>
                        </li>
                    </ul>
                </div>
                <div class="catalog__header">
                    <p class="catalog__caption" v-if="products.meta.total">Товаров: {{ products.meta.total }}</p>
                    <div class="general__sort">
                        <p class="general__sort-text">Сортировка по:</p>
                        <ul class="general__sort-list">
                            <li class="general__sort-item">
                                <button>Новым</button>
                            </li>
                            <li class="general__sort-item active">
                                <button>Со скидкой</button>
                            </li>
                            <li class="general__sort-item">
                                <button>Рейтингу</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="catalog__wrapper  container js-catalog-wrapper" v-else>
                <div class="catalog__wrapper__fixed">
                    <div class="catalog-mobile__container js-catalog-container">
                        <div class="catalog-mobile__header">
                            <a href="#" class="catalog-mobile__header__button">
                                <span class="icon-arrow-left"></span>
                            </a>
                            <p class="catalog-mobile__header__caption main-caption-m">Ноутбуки</p>
                            <span class="hidden-elem"></span>
                        </div>
                        <div class="catalog-mobile__buttons">
                            <button class="general-batton-more general-batton-more--catalog-mobile js-button" data-target="filtration">
                                <span class="text">фильтры (12)</span>
                            </button>
                            <div class="general-drop-wrapper js-drop-item">
                                <button class="mobile-button-sort js-drop-button">
                                    <span class="icon-decor-sort" v-lazy:background-image="'./img/icon-sort.svg'"></span>
                                </button>
                                <div class="general-drop-content__wrapper">
                                    <ul class="general-drop__list">
                                        <li class="general-drop__item">Новые</li>
                                        <li class="general-drop__item">Со скидкой</li>
                                        <li class="general-drop__item">По рейтигу</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <button class="text-button text-button--catalog-mobile">сбросить все ФИЛЬТРЫ</button>
                    </div>
                </div>
                <p class="catalog__caption">24 товара</p>
            </div>
        </section>
        <section class="popup popup-filtration js-popup" data-target="filtration">
            <div class="popup__wrapper popup__wrapper--filtration">
                <p class="popup-filtration__caption main-caption-m">Фильтры</p>
                <ul class="catalog__filtration__list">
                    <li class="catalog__filtration__item js-drop-item">
                        <button class="catalog-mobile-filter-button js-drop-button">
                            <span class="text">производитель</span>
                            <span class="icon-drop-arrow"></span>
                        </button>
                        <div class="filtration__drop filtration__drop--checkbox">
                            <ul class="filtration__list">
                                <li class="filtration__item">
                                    <label class="checkbox__wrapper checkbox__wrapper--filtration">
                                        <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                                        <span class="custome-check">
                                            <span class="icon-active"></span>
                                        </span>
                                        <span class="text">10 - 12 ГБ <span>(240)</span></span>
                                    </label>
                                </li>
                                <li class="filtration__item">
                                    <label class="checkbox__wrapper checkbox__wrapper--filtration">
                                        <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                                        <span class="custome-check">
                                            <span class="icon-active"></span>
                                        </span>
                                        <span class="text">32 ГБ и больше плюс вторая строка <span>(453)</span></span>
                                    </label>
                                </li>
                                <li class="filtration__item">
                                    <label class="checkbox__wrapper checkbox__wrapper--filtration">
                                        <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                                        <span class="custome-check">
                                            <span class="icon-active"></span>
                                        </span>
                                        <span class="text">10 - 12 ГБ <span>(240)</span></span>
                                    </label>
                                </li>
                                <li class="filtration__item">
                                    <label class="checkbox__wrapper checkbox__wrapper--filtration">
                                        <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                                        <span class="custome-check">
                                            <span class="icon-active"></span>
                                        </span>
                                        <span class="text">10 - 12 ГБ <span>(240)</span></span>
                                    </label>
                                </li>
                                <li class="filtration__item">
                                    <label class="checkbox__wrapper checkbox__wrapper--filtration">
                                        <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                                        <span class="custome-check">
                                            <span class="icon-active"></span>
                                        </span>
                                        <span class="text">10 - 12 ГБ <span>(240)</span></span>
                                    </label>
                                </li>
                                <li class="filtration__item">
                                    <label class="checkbox__wrapper checkbox__wrapper--filtration">
                                        <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                                        <span class="custome-check">
                                            <span class="icon-active"></span>
                                        </span>
                                        <span class="text">10 - 12 ГБ <span>(240)</span></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- <li class="catalog__filtration__item js-drop-item">
                        <button class="catalog-mobile-filter-button js-drop-button">
                            <span class="text">цена</span>
                            <span class="icon-drop-arrow"></span>
                        </button>
                        <div class="filtration__drop filtration__drop--range-selider">
                            <div class="filtration__drop__inputs-wrapper">
                                <label class="input_wrapper input_wrapper--range-slider">
                                    <input type="text" class="main_input main_input--range-slider" v-model="calcPrice.value[0]">
                                </label>
                                <span class="decor">-</span>
                                <label class="input_wrapper input_wrapper--range-slider">
                                    <input type="text" class="main_input main_input--range-slider"  v-model="calcPrice.value[1]">
                                </label>
                            </div>
                            <div class="filtration__drop__range-selider">
                                <vue-slider v-model="calcPrice.value"></vue-slider>
                            </div>
                        </div>
                    </li> -->
                    <!-- <li class="catalog__filtration__item js-drop-item">
                        <button class="catalog-mobile-filter-button js-drop-button">
                            <span class="text">производитель</span>
                            <span class="icon-drop-arrow"></span>
                        </button>
                        <div class="filtration__drop filtration__drop--checkbox">
                            <ul class="filtration__list">
                                <li class="filtration__item">
                                    <label class="checkbox__wrapper checkbox__wrapper--filtration">
                                        <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                                        <span class="custome-check">
                                            <span class="icon-active"></span>
                                        </span>
                                        <span class="text">10 - 12 ГБ <span>(240)</span></span>
                                    </label>
                                </li>
                                <li class="filtration__item">
                                    <label class="checkbox__wrapper checkbox__wrapper--filtration">
                                        <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                                        <span class="custome-check">
                                            <span class="icon-active"></span>
                                        </span>
                                        <span class="text">32 ГБ и больше плюс вторая строка <span>(453)</span></span>
                                    </label>
                                </li>
                                <li class="filtration__item">
                                    <label class="checkbox__wrapper checkbox__wrapper--filtration">
                                        <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                                        <span class="custome-check">
                                            <span class="icon-active"></span>
                                        </span>
                                        <span class="text">10 - 12 ГБ <span>(240)</span></span>
                                    </label>
                                </li>
                                <li class="filtration__item">
                                    <label class="checkbox__wrapper checkbox__wrapper--filtration">
                                        <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                                        <span class="custome-check">
                                            <span class="icon-active"></span>
                                        </span>
                                        <span class="text">10 - 12 ГБ <span>(240)</span></span>
                                    </label>
                                </li>
                                <li class="filtration__item">
                                    <label class="checkbox__wrapper checkbox__wrapper--filtration">
                                        <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                                        <span class="custome-check">
                                            <span class="icon-active"></span>
                                        </span>
                                        <span class="text">10 - 12 ГБ <span>(240)</span></span>
                                    </label>
                                </li>
                                <li class="filtration__item">
                                    <label class="checkbox__wrapper checkbox__wrapper--filtration">
                                        <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                                        <span class="custome-check">
                                            <span class="icon-active"></span>
                                        </span>
                                        <span class="text">10 - 12 ГБ <span>(240)</span></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="catalog__filtration__item js-drop-item">
                        <button class="catalog-mobile-filter-button js-drop-button">
                            <span class="text">цена</span>
                            <span class="icon-drop-arrow"></span>
                        </button>
                        <div class="filtration__drop filtration__drop--range-selider">
                            <div class="filtration__drop__inputs-wrapper">
                                <label class="input_wrapper input_wrapper--range-slider">
                                    <input type="text" class="main_input main_input--range-slider" v-model="calcPrice.value[0]">
                                </label>
                                <span class="decor">-</span>
                                <label class="input_wrapper input_wrapper--range-slider">
                                    <input type="text" class="main_input main_input--range-slider"  v-model="calcPrice.value[1]">
                                </label>
                            </div>
                            <div class="filtration__drop__range-selider">
                                <vue-slider v-model="calcPrice.value"></vue-slider>
                            </div>
                        </div>
                    </li> -->
                </ul>
                <div class="popup-filtration__buttons">
                    <button class="main-button main-button--width js-close">
                        <span class="text">применить фильтры</span>
                    </button>
                    <button class="text-button js-close">сбросить все ФИЛЬТРЫ</button>
                </div>
            </div>
        </section>
        <section class="products-block js-main-content">
            <div class="products-block__wrapper container">
                <div class="position-wrapper">
                    <ul class="products-list position-wrapper__list">
                        <ProductCard v-for="(item, key) in products.data" :data-item="item" :key="key" data-classes="products-item--parameters"></ProductCard>
                    </ul>
                </div>
                <div class="general-navigation">
                    <button class="general-button-more-info general-button-more-info--navigation" v-if="products.meta.current_page !== products.meta.last_page" @click="loadmore()">
                        <span class="text">загрузить еще</span>
                    </button>
                    <div class="general-pagination" v-if="products.meta.last_page > 1">
                        <button class="arrow-button arrow-button--pagination" :class="{disabled: products.meta.current_page === 1}" @click="products.meta.current_page--">
                            <span class="icon-arrow-left"></span>
                        </button>
                        <ul class="pagination__list">
                            <li class="pagination__item" :class="{active: products.meta.current_page === 1}" @click="products.meta.current_page = 1">1</li>

                            <template v-if="products.meta.current_page === 1">
                                <li class="pagination__item" :class="{active: products.meta.current_page === 2}" @click="products.meta.current_page = 2" v-if="products.meta.last_page > 2">2</li>
                                <li class="pagination__item" :class="{active: products.meta.current_page === 3}" @click="products.meta.current_page = 3" v-if="products.meta.last_page > 3">3</li>
                            </template>

                            <template v-else-if="products.meta.current_page === products.meta.last_page">
                                <li class="pagination__item" :class="{active: products.meta.current_page === products.meta.last_page - 2}" @click="products.meta.current_page = products.meta.last_page - 2" v-if="products.meta.last_page > 3">{{products.meta.last_page - 2}}</li>
                                <li class="pagination__item" :class="{active: products.meta.current_page === products.meta.last_page - 1}" @click="products.meta.current_page = products.meta.last_page - 1" v-if="products.meta.last_page > 2">{{ products.meta.last_page - 1 }}</li>
                            </template>

                            <template v-else>
                                <li class="pagination__item" @click="products.meta.current_page--" v-if="products.meta.last_page > 3 && products.meta.current_page === products.meta.last_page - 1">{{ products.meta.current_page - 1 }}</li>
                                <li class="pagination__item active" v-if="products.meta.last_page > 2">{{ products.meta.current_page }}</li>
                                <li class="pagination__item" @click="products.meta.current_page++" v-if="products.meta.last_page > 3 && products.meta.current_page < products.meta.last_page - 1">{{ products.meta.current_page + 1 }}</li>
                            </template>

                            <li class="pagination__item" :class="{active: products.meta.current_page === products.meta.last_page}" @click="products.meta.current_page = products.meta.last_page">{{ products.meta.last_page }}</li>
                        </ul>
                        <button class="arrow-button arrow-button--pagination" :class="{disabled: products.meta.current_page === products.meta.last_page}" @click="products.meta.current_page++">
                            <span class="icon-arrow-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="seo-blog">
            <div class="seo-blog__wrapper container">
                <p class="main-caption-m">SEO уникальный для каждой категории</p>
                <div class="seo-text">
                    <h5>Подзаголовок</h5>
                    <p>Таким образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития. С другой стороны постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции требуют определения и уточнения систем массового участия.</p>
                        <p>Таким образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития. С другой стороны постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции требуют определения и уточнения систем массового участия.</p>
                </div>
            </div>
        </section>
        <section class="advantages">
            <div class="advantages__wrapper container">
                <div class="general-header-block">
                    <p class="general-header-block__caption main-caption-m">Преимущества магазина</p>
                    <p class="general-header-block__sub">Дополнительный текст</p>
                </div>
                <ul class="advantages__list">
                    <li class="advantages__item" v-lazy:background-image="'./img/banner-img.png'"></li>
                    <li class="advantages__item" v-lazy:background-image="'./img/banner-img.png'"></li>
                    <li class="advantages__item" v-lazy:background-image="'./img/banner-img.png'"></li>
                </ul>
            </div>
        </section>
        <section class="social-block">
            <div class="social-block__wrapper container">
                <div class="general-header-block general-header-block--social">
                    <p class="general-header-block__caption main-caption-m">Мы в социальных сетях</p>
                    <p class="general-header-block__sub">Дополнительный текст</p>
                </div>
                <ul class="social__list">
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <span class="icon-fb"></span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <span class="icon-inst"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="subscription">
            <div class="subscription__wrapper container">
                <p class="main-caption-s subscription__caption">Призыв на подписку о рассылке</p>
                <form class="subscription__form">
                    <label class="input_wrapper input_wrapper--subscription">
                        <span class="input-caption">Email</span>
                        <input type="email" class="main_input" placeholder="Email">
                    </label>
                    <div class="checkbox__container checkbox__container--subscription">
                        <label class="checkbox__wrapper checkbox__wrapper--subscription">
                            <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                            <span class="custome-check">
                                <span class="icon-active"></span>
                            </span>
                            <span class="text">Тема для рассылки</span>
                        </label>
                        <label class="checkbox__wrapper checkbox__wrapper--subscription">
                            <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                            <span class="custome-check">
                                <span class="icon-active"></span>
                            </span>
                            <span class="text">Тема для рассылки</span>
                        </label>
                        <label class="checkbox__wrapper checkbox__wrapper--subscription">
                            <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                            <span class="custome-check">
                                <span class="icon-active"></span>
                            </span>
                            <span class="text">Тема для рассылки</span>
                        </label>
                    </div>
                    <button class="main-button main-button--subscription">
                        <span class="text">отправить</span>
                    </button>
                </form>
            </div>
        </section>
    </main>
</template>

<script>
    import VueSlider from 'vue-slider-component/dist-css/vue-slider-component.umd.min.js'
    
   	export default {
		name: 'catalog',
		data (){
            return {
                products: {
                    meta: {
                        current_page: this.$route.query.page? +this.$route.query.page : 1,
                        last_page: 1,
                        total: 0
                    }
                },
                category: {
                    prices: {
                        min: 0,
                        max: 99999999999
                    }
                },
                filters: {
                    attributes: {},
                    brands: {},
                    sort: 'created_at_desc',
                },
                selected: {
                    attributes: {},
                    price: [0,0],
                    brands: []
                },
                show_filters: false,
                append: false
            }
		},
        props:['windowWidth'],
        components: {
            VueSlider,
            ProductCard: () => import('../cards/ProductCard.vue'),
        },
        computed: {
            filtersOn: function() {
                let result = this.selected.brands.length;

                for (let key in this.selected.attributes) {
                    if(this.filters.attributes[key].type !== 'number')
                        result += this.selected.attributes[key].length;
                }

                return result;
            },
        },
        methods:{
            fixedSiteBar() {
                let wrapper = document.querySelector('.js-catalog-container');
                let mainContent = document.querySelector('.js-main-content');
                let headerInfoBlock = document.querySelector('.js-header-wrapper');
                let wrapperTopPosition;
                let mainContentBottomPosition;
                
                if(wrapper) {
                    wrapperTopPosition = wrapper.getBoundingClientRect().top + pageYOffset;
                    mainContentBottomPosition = mainContent.offsetHeight + mainContent.getBoundingClientRect().top + pageYOffset;
                }
                
                function fixedBlock() {
                    let mainContentBottomPosition = mainContent.offsetHeight + mainContent.getBoundingClientRect().top + pageYOffset;
                    if(mainContentBottomPosition < (window.scrollY + window.innerHeight - 100)) {
                        wrapper.classList.add("hide");
                    }else {
                        if((wrapperTopPosition - (headerInfoBlock.offsetHeight + 10)) < window.scrollY) {
                            wrapper.setAttribute("style",`position:fixed; top: ${headerInfoBlock.offsetHeight}px; left: 16px; width: calc(100% - 32px); `);
                            wrapper.classList.remove("hide");
                        }else {
                            wrapper.setAttribute("style",`position:absolute; top: 0px;`);
                        }
                    }
                    
                }
                setTimeout(() => {
                    if(wrapper) {
                        fixedBlock();
                    }
                }, 1000);
                
                window.addEventListener('scroll', function(){
                    if(wrapper) {
                        fixedBlock();
                    }
                });
                
            //     window.addEventListener('resize', function(){
            //         if(wrapper) {
            //             fixedBlock();
            //         }
            //     });
            },
            getCategory: function() {
                let component = this;
                axios.get('/api/product_categories/' + this.$route.params.category).then(function(response) {
                    Vue.set(component.selected, 'price', [response.data.data.prices.min, response.data.data.prices.max]);
                    component.category = response.data.data;
                });
            },
            getAttributes: function(categoryId) {
                axios.get('/api/attributes/byCategory/' + categoryId).then((response) => {
                    let attrs = response.data.data;
                    this.selected.attributes = {};

                    for (let key in attrs) {
                        Vue.set(this.selected.attributes, attrs[key].id, attrs[key].type === 'number'? [attrs[key].values.min, attrs[key].values.max] : []);
                    };

                    this.filters.attributes = attrs;
                });
            },
            getBrands: function(categoryId) {
                axios.get('/api/brands/byCategory/' + categoryId).then((response) => {
                    this.selected.brands = [];
                    this.filters.brands = response.data;
                });
            },
            clearFilters: function() {
                this.selected.brands = [];
                this.selected.price = [this.category.prices.min, this.category.prices.max];
                for (let key in this.filters.attributes) {
                    Vue.set(this.selected.attributes, this.filters.attributes[key].id, this.filters.attributes[key].type === 'number'? [this.filters.attributes[key].values.min, this.filters.attributes[key].values.max] : []);
                };
            },
            getProducts: function() {
                let data = Object.assign({}, this.selected);
                data.category_id = this.category.id;
                data.page = this.products.meta.current_page;

                axios.post('/api/products/filtered', data).then((response) => {
                    let itterations = 1;
                    
                    if(this.append){
                        let currentData = this.products.data;
                        this.products.data = response.data.data;
                            
                        currentData.reverse().forEach(item => {
                        this.products.data.unshift(item);
                        
                        if(itterations == currentData.length)
                        this.append = false;
                            
                        itterations++;
                        });
                    } else
                        this.products = response.data;
                });
            },
            loadmore: function() {
                this.append = true;
                this.products.meta.current_page++;
            },
        },
        watch: {
            '$route.params.category' : function() {
                Vue.set(this.category.prices, 'min', 0);
                Vue.set(this.category.prices, 'max', 99999999999);
                this.show_filters = false;
                this.getCategory();
            },
            category: {
                handler: function() {
                    this.getAttributes(this.category.id);
                    this.getBrands(this.category.id);
                    this.getProducts();
                },
                deep: true
            },
            'products.meta.current_page': function(value) {
                this.getProducts();
                let query = {};
                if(value > 1)
                    query.page = value;
                if(this.filters.sort !== 'created_at_desc')
                    query.sort = this.filters.sort;

                if(this.$route.query.page || !this.$route.query.page && value > 1)
                    this.$router.push({query: query});
            },
        },
        created() {
            let styleLink = document.querySelector('link[rel="stylesheet"]');
            styleLink.setAttribute('href',`${styleLink.dataset.href}/mainCatalog.css`);
        },
        mounted() {
            setTimeout(() => {
                this.fixedSiteBar();
            }, 1000);

            this.getCategory();
        }
	}
</script>