<template>
    <main>
        <section class="breadcrumbs">
            <div class="breadcrumbs__wrapper container">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                    <a href="#" class="breadcrumbs__link">Оформление заказа</a>
                </ul>
            </div>
        </section>
        <section class="checkout" v-if="windowWidth > 767">
            <div class="checkout__wrapper container">
                <h1 class="main-caption-l checkout-page__caption">Оформление заказа</h1>
                <div class="checkout__container">
                    <div class="checkout__main-info">
                        <div class="checkout__main-info__item">
                            <p class="checkout__main-info__caption">Получатель заказа</p>
                            <div class="checkout__inputs__wrapper">
                                <label class="input_wrapper input_wrapper--checkout">
                                    <span class="input-caption">Фамилия</span>
                                    <input type="text" class="main_input" placeholder="Фамилия">
                                </label>
                                <label class="input_wrapper input_wrapper--checkout">
                                    <span class="input-caption">Имя</span>
                                    <input type="text" class="main_input" placeholder="Имя">
                                </label>
                            </div>
                            <div class="checkout__inputs__wrapper">
                                <label class="input_wrapper input_wrapper--checkout">
                                    <span class="input-caption">Телефон</span>
                                    <input type="tel" class="main_input" placeholder="+38">
                                </label>
                            </div>
                            <div class="checkout__inputs__wrapper">
                                <label class="checkbox__wrapper input_wrapper--checkout">
                                    <input type="checkbox" value="Создать аккаунт в нашем магазине" class="input-checkbox"> 
                                    <span class="custome-check">
                                        <span class="icon-active"></span></span> 
                                        <span class="text">Создать аккаунт в нашем магазине</span>
                                </label>
                            </div>
                            <div class="checkout__inputs__wrapper">
                                <label class="input_wrapper input_wrapper--checkout">
                                    <span class="input-caption">Email</span>
                                    <input type="email" class="main_input" placeholder="Email">
                                </label>
                            </div>
                            <button class="text-button">Добавить комментарий к заказу</button>
                        </div>
                        <!-- Доставка почта -->
                        <!-- <div class="checkout__main-info__item">
                            <p class="checkout__main-info__caption">Доставка</p>
                            <div class="checkout__inputs__wrapper">
                                <div class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                    <span class="input-caption">Способ доставки</span>
                                    <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                        <input type="text" class="main_input js-drop-input" placeholder="Способ доставки" readonly>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                        <span class="general-drop__list">
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Новая почта</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Новая почта1</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Новая почта2</span>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="checkout__inputs__wrapper">
                                <div class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                    <span class="input-caption">Выберите город</span>
                                    <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                        <input type="text" class="main_input js-drop-input" placeholder="Выберите город" readonly>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                        <span class="general-drop__list">
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Харьков</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Харьков1</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Харьков2</span>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                                <div class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                    <span class="input-caption">Выберите отделение</span>
                                    <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                        <input type="text" class="main_input js-drop-input" placeholder="Выберите отделение" readonly>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                        <span class="general-drop__list">
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">№24, пр. Победы,76</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">№23, пр. Победы,76</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">№22, пр. Победы,76</span>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <p class="checkout__main-info__item__sub-text">Мы сохраним эти данные для того, чтобы в следующий раз вы смогли выбрать адрес доставки в 1 клик</p>
                        </div> -->
                        <!-- //Доставка почта -->
                        <!-- Доставка самовывоз -->
                        <div class="checkout__main-info__item">
                            <p class="checkout__main-info__caption">Доставка</p>
                            <div class="checkout__inputs__wrapper">
                                <div class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                    <span class="input-caption">Способ доставки</span>
                                    <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                        <input type="text" class="main_input js-drop-input" placeholder="Способ доставки" readonly>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                        <span class="general-drop__list">
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Новая почта</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Новая почта1</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Новая почта2</span>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="checkout__inputs__wrapper">
                                <div class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                    <span class="input-caption">Выберите город</span>
                                    <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                        <input type="text" class="main_input js-drop-input" placeholder="Выберите город" readonly>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                        <span class="general-drop__list">
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Харьков</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Харьков1</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Харьков2</span>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                                <div class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                    <span class="input-caption">Выберите магазин</span>
                                    <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                        <input type="text" class="main_input js-drop-input" placeholder="Выберите магазин" readonly>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                        <span class="general-drop__list">
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">№24, пр. Победы,76</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">№23, пр. Победы,76</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">№22, пр. Победы,76</span>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <p class="checkout__main-info__item__sub-text">Мы сохраним эти данные для того, чтобы в следующий раз вы смогли выбрать адрес доставки в 1 клик</p>
                        </div>
                        <!-- //Доставка самовывоз -->
                        <!-- Доставка курьером  -->
                        <!-- <div class="checkout__main-info__item">
                            <p class="checkout__main-info__caption">Доставка</p>
                            <div class="checkout__inputs__wrapper">
                                <div class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                    <span class="input-caption">Способ доставки</span>
                                    <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                        <input type="text" class="main_input js-drop-input" placeholder="Способ доставки" readonly>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                        <span class="general-drop__list">
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Новая почта</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Новая почта1</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Новая почта2</span>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="checkout__inputs__wrapper">
                                <div class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                    <span class="input-caption">Выберите город</span>
                                    <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                        <input type="text" class="main_input js-drop-input" placeholder="Выберите город" readonly>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                        <span class="general-drop__list">
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Харьков</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Харьков1</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Харьков2</span>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="checkout__inputs__wrapper">
                                <div class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                    <span class="input-caption">Улица</span>
                                    <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                        <input type="text" class="main_input js-drop-input" placeholder="Улица" readonly>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                        <span class="general-drop__list">
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Улица</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Улица1</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Улица2</span>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                                <label class="input_wrapper input_wrapper--house">
                                    <span class="input-caption">Дом</span>
                                    <input type="text" class="main_input" placeholder="Дом">
                                </label>
                                <label class="input_wrapper input_wrapper--house">
                                    <span class="input-caption">Подъезд</span>
                                    <input type="text" class="main_input" placeholder="Подъезд">
                                </label>
                                <label class="input_wrapper input_wrapper--house">
                                    <span class="input-caption">Этаж</span>
                                    <input type="text" class="main_input" placeholder="Этаж">
                                </label>
                                <label class="input_wrapper input_wrapper--house">
                                    <span class="input-caption">Кв</span>
                                    <input type="text" class="main_input" placeholder="Кв">
                                </label>
                            </div>
                            <p class="checkout__main-info__item__sub-text">Мы сохраним эти данные для того, чтобы в следующий раз вы смогли выбрать адрес доставки в 1 клик</p>
                        </div> -->
                        <!-- //Доставка курьером  -->
                        <div class="checkout__main-info__item">
                            <p class="checkout__main-info__caption">Оплата</p>
                            <p class="input-caption input-caption--margin-bottom">Способ оплаты</p>
                            <div class="checkout__inputs__wrapper checkout__inputs__wrapper--radio">
                                <label class="radio__wrapper radio__wrapper--checkout">
                                    <input type="radio" class="input-radio" name="paysystem" value="Банковской картой" checked>
                                    <span class="custome-radio"></span>
                                    <span class="text">Банковской картой</span>
                                </label>
                                <label class="radio__wrapper radio__wrapper--checkout">
                                    <input type="radio" class="input-radio" name="payyistem" value="Наложенным платежом">
                                    <span class="custome-radio"></span>
                                    <span class="text">Наложенным платежом</span>
                                </label>
                            </div>
                            <div class="checkout__inputs__wrapper checkout__inputs__wrapper--cart">
                                <label class="input_wrapper input_wrapper--cart">
                                    <span class="input-caption">Номер карты</span>
                                    <input type="number" class="main_input" placeholder="2345 7654 7654 9876" maxlength="16">
                                </label>
                                <label class="input_wrapper input_wrapper--cart-date">
                                    <span class="input-caption">Срок действия</span>
                                    <input type="text" class="main_input" placeholder="ММ/ГГ">
                                </label>
                                <label class="input_wrapper input_wrapper--cart-cvv js-drop-item">
                                    <span class="input-caption">CVV-код</span>
                                    <input type="password" class="main_input" placeholder="***" maxlength="3">
                                    <button class="show-cvv-button js-drop-button">
                                        <span>i</span>
                                    </button>
                                    <span class="checkout__placeholder-cvv">
                                        <span class="img" v-lazy:background-image="'./img/CVV-code.png'"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <!-- Другой способ оплаты -->
                        <!-- <div class="checkout__main-info__item">
                            <p class="checkout__main-info__caption">Оплата</p>
                            <div class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                <span class="input-caption">Способ оплаты</span>
                                <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                    <input type="text" class="main_input js-drop-input" placeholder="Способ оплаты" readonly>
                                    <span class="icon-drop-arrow"></span>
                                </button>
                                <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                    <span class="general-drop__list">
                                        <span class="general-drop__item js-drop-contains">
                                            <span class="text">Опалат</span>
                                        </span>
                                        <span class="general-drop__item js-drop-contains">
                                            <span class="text">Опалат1</span>
                                        </span>
                                        <span class="general-drop__item js-drop-contains">
                                            <span class="text">Опалат2</span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div> -->
                        <!-- Другой способ оплаты -->
                        <button class="main-button main-button--checkout">
                            <span class="text">оформить заказ</span>
                        </button>
                    </div>
                    <div class="checkout-page__sitebar">
                        <p class="checkout__main-info__caption">Ваш заказ</p>
                        <ul class="checkout__total-list">
                            <li class="checkout__total-item">
                                <p class="checkout__total-type">Кол-во товаров в корзине</p>
                                <p class="checkout__total-description">2</p>
                            </li>
                            <li class="checkout__total-item">
                                <p class="checkout__total-type">Стоимость товаров</p>
                                <p class="checkout__total-description">950 грн</p>
                            </li>
                            <li class="checkout__total-item">
                                <p class="checkout__total-type">Ваша скидка</p>
                                <p class="checkout__total-description">50 грн</p>
                            </li>
                            <li class="checkout__total-item checkout__total-item--finish-price">
                                <p class="checkout__total-type">Всего</p>
                                <p class="checkout__total-description"> 900 грн</p>
                            </li>
                        </ul>
                        <button class="text-button text-button--checkout-site-bar js-button" data-target="help">нужна помощь?</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="checkout" v-else>
            <div class="checkout__wrapper container">
                <h1 class="main-caption-l checkout-page__caption">Оформление заказа</h1>
                <ul class="registration-order__list">
                    <li class="registration-order__item" :class="{active: checkoutMobileTab >= 1}">
                        <span class="decor">1</span>
                        <p class="text">Получатель</p>
                    </li>
                    <li class="registration-order__item" :class="{active: checkoutMobileTab >= 2}">
                        <span class="decor">2</span>
                        <p class="text">Доставка</p>
                    </li>
                    <li class="registration-order__item" :class="{active: checkoutMobileTab >= 3}">
                        <span class="decor">3</span>
                        <p class="text">Оплата</p>
                    </li>
                </ul>
                <div class="checkout__container">
                    <div class="checkout__main-info">
                        <div class="checkout__main-info__item" v-if="checkoutMobileTab == 1">
                            <p class="checkout__main-info__caption">Получатель заказа</p>
                            <div class="checkout__inputs__wrapper">
                                <label class="input_wrapper input_wrapper--checkout">
                                    <span class="input-caption">Фамилия</span>
                                    <input type="text" class="main_input" placeholder="Фамилия">
                                </label>
                                <label class="input_wrapper input_wrapper--checkout">
                                    <span class="input-caption">Имя</span>
                                    <input type="text" class="main_input" placeholder="Имя">
                                </label>
                            </div>
                            <div class="checkout__inputs__wrapper">
                                <label class="input_wrapper input_wrapper--checkout">
                                    <span class="input-caption">Телефон</span>
                                    <input type="tel" class="main_input" placeholder="+38">
                                </label>
                            </div>
                            <div class="checkout__inputs__wrapper">
                                <label class="checkbox__wrapper input_wrapper--checkout">
                                    <input type="checkbox" value="Создать аккаунт в нашем магазине" class="input-checkbox"> 
                                    <span class="custome-check">
                                        <span class="icon-active"></span></span> 
                                        <span class="text">Создать аккаунт в нашем магазине</span>
                                </label>
                            </div>
                            <div class="checkout__inputs__wrapper">
                                <label class="input_wrapper input_wrapper--checkout">
                                    <span class="input-caption">Email</span>
                                    <input type="email" class="main_input" placeholder="Email">
                                </label>
                            </div>
                            <button class="text-button">Добавить комментарий к заказу</button>
                        </div>
                        <!-- Доставка почта -->
                        <!-- <div class="checkout__main-info__item">
                            <p class="checkout__main-info__caption">Доставка</p>
                            <div class="checkout__inputs__wrapper">
                                <label class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                    <span class="input-caption">Способ доставки</span>
                                    <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                        <input type="text" class="main_input js-drop-input" placeholder="Способ доставки" readonly>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                        <span class="general-drop__list">
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Новая почта</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Новая почта1</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Новая почта2</span>
                                            </span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkout__inputs__wrapper">
                                <label class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                    <span class="input-caption">Выберите город</span>
                                    <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                        <input type="text" class="main_input js-drop-input" placeholder="Выберите город" readonly>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                        <span class="general-drop__list">
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Харьков</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Харьков1</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Харьков2</span>
                                            </span>
                                        </span>
                                    </span>
                                </label>
                                <label class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                    <span class="input-caption">Выберите отделение</span>
                                    <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                        <input type="text" class="main_input js-drop-input" placeholder="Выберите отделение" readonly>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                        <span class="general-drop__list">
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">№24, пр. Победы,76</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">№23, пр. Победы,76</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">№22, пр. Победы,76</span>
                                            </span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                            <p class="checkout__main-info__item__sub-text">Мы сохраним эти данные для того, чтобы в следующий раз вы смогли выбрать адрес доставки в 1 клик</p>
                        </div> -->
                        <!-- //Доставка почта -->
                        <!-- Доставка самовывоз -->
                        <div class="checkout__main-info__item" v-if="checkoutMobileTab == 2">
                            <p class="checkout__main-info__caption">Доставка</p>
                            <div class="checkout__inputs__wrapper">
                                <label class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                    <span class="input-caption">Способ доставки</span>
                                    <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                        <input type="text" class="main_input js-drop-input" placeholder="Способ доставки" readonly>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                        <span class="general-drop__list">
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Новая почта</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Новая почта1</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Новая почта2</span>
                                            </span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkout__inputs__wrapper">
                                <label class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                    <span class="input-caption">Выберите город</span>
                                    <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                        <input type="text" class="main_input js-drop-input" placeholder="Выберите город" readonly>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                        <span class="general-drop__list">
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Харьков</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Харьков1</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Харьков2</span>
                                            </span>
                                        </span>
                                    </span>
                                </label>
                                <label class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                    <span class="input-caption">Выберите магазин</span>
                                    <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                        <input type="text" class="main_input js-drop-input" placeholder="Выберите магазин" readonly>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                        <span class="general-drop__list">
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">№24, пр. Победы,76</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">№23, пр. Победы,76</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">№22, пр. Победы,76</span>
                                            </span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                            <p class="checkout__main-info__item__sub-text">Мы сохраним эти данные для того, чтобы в следующий раз вы смогли выбрать адрес доставки в 1 клик</p>
                        </div>
                        <!-- //Доставка самовывоз -->
                        <!-- Доставка курьером  -->
                        <!-- <div class="checkout__main-info__item">
                            <p class="checkout__main-info__caption">Доставка</p>
                            <div class="checkout__inputs__wrapper">
                                <label class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                    <span class="input-caption">Способ доставки</span>
                                    <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                        <input type="text" class="main_input js-drop-input" placeholder="Способ доставки" readonly>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                        <span class="general-drop__list">
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Новая почта</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Новая почта1</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Новая почта2</span>
                                            </span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkout__inputs__wrapper">
                                <label class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                    <span class="input-caption">Выберите город</span>
                                    <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                        <input type="text" class="main_input js-drop-input" placeholder="Выберите город" readonly>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                        <span class="general-drop__list">
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Харьков</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Харьков1</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Харьков2</span>
                                            </span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkout__inputs__wrapper">
                                <label class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                    <span class="input-caption">Улица</span>
                                    <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                        <input type="text" class="main_input js-drop-input" placeholder="Улица" readonly>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                        <span class="general-drop__list">
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Улица</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Улица1</span>
                                            </span>
                                            <span class="general-drop__item js-drop-contains">
                                                <span class="text">Улица2</span>
                                            </span>
                                        </span>
                                    </span>
                                </label>
                                <label class="input_wrapper input_wrapper--house">
                                    <span class="input-caption">Дом</span>
                                    <input type="text" class="main_input" placeholder="Дом">
                                </label>
                                <label class="input_wrapper input_wrapper--house">
                                    <span class="input-caption">Подъезд</span>
                                    <input type="text" class="main_input" placeholder="Подъезд">
                                </label>
                                <label class="input_wrapper input_wrapper--house">
                                    <span class="input-caption">Этаж</span>
                                    <input type="text" class="main_input" placeholder="Этаж">
                                </label>
                                <label class="input_wrapper input_wrapper--house">
                                    <span class="input-caption">Кв</span>
                                    <input type="text" class="main_input" placeholder="Кв">
                                </label>
                            </div>
                            <p class="checkout__main-info__item__sub-text">Мы сохраним эти данные для того, чтобы в следующий раз вы смогли выбрать адрес доставки в 1 клик</p>
                        </div> -->
                        <!-- //Доставка курьером  -->
                        <div class="checkout__main-info__item" v-if="checkoutMobileTab == 3">
                            <p class="checkout__main-info__caption">Оплата</p>
                            <p class="input-caption input-caption--margin-bottom">Способ оплаты</p>
                            <div class="checkout__inputs__wrapper checkout__inputs__wrapper--radio">
                                <label class="radio__wrapper radio__wrapper--checkout">
                                    <input type="radio" class="input-radio" name="paysystem" value="Банковской картой" checked>
                                    <span class="custome-radio"></span>
                                    <span class="text">Банковской картой</span>
                                </label>
                                <label class="radio__wrapper radio__wrapper--checkout">
                                    <input type="radio" class="input-radio" name="payyistem" value="Наложенным платежом">
                                    <span class="custome-radio"></span>
                                    <span class="text">Наложенным платежом</span>
                                </label>
                            </div>
                            <div class="checkout__inputs__wrapper checkout__inputs__wrapper--cart">
                                <label class="input_wrapper input_wrapper--cart">
                                    <span class="input-caption">Номер карты</span>
                                    <input type="number" class="main_input" placeholder="2345 7654 7654 9876" maxlength="16">
                                </label>
                                <label class="input_wrapper input_wrapper--cart-date">
                                    <span class="input-caption">Срок действия</span>
                                    <input type="text" class="main_input" placeholder="ММ/ГГ">
                                </label>
                                <label class="input_wrapper input_wrapper--cart-cvv js-drop-item">
                                    <span class="input-caption">CVV-код</span>
                                    <input type="password" class="main_input" placeholder="***" maxlength="3">
                                    <button class="show-cvv-button js-drop-button">
                                        <span>i</span>
                                    </button>
                                    <span class="checkout__placeholder-cvv">
                                        <span class="img" v-lazy:background-image="'./img/CVV-code.png'"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <!-- Другой способ оплаты -->
                        <!-- <div class="checkout__main-info__item">
                            <p class="checkout__main-info__caption">Оплата</p>
                            <label class="input_wrapper input_wrapper--checkout js-drop-item general-drop-wrapper">
                                <span class="input-caption">Способ оплаты</span>
                                <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                    <input type="text" class="main_input js-drop-input" placeholder="Способ оплаты" readonly>
                                    <span class="icon-drop-arrow"></span>
                                </button>
                                <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                    <span class="general-drop__list">
                                        <span class="general-drop__item js-drop-contains">
                                            <span class="text">Опалат</span>
                                        </span>
                                        <span class="general-drop__item js-drop-contains">
                                            <span class="text">Опалат1</span>
                                        </span>
                                        <span class="general-drop__item js-drop-contains">
                                            <span class="text">Опалат2</span>
                                        </span>
                                    </span>
                                </span>
                            </label>
                        </div> -->
                        <!-- Другой способ оплаты -->
                        <button class="main-button main-button--checkout" v-if="checkoutMobileTab < 3" @click="checkoutMobileTab++">
                            <span class="text">далее</span>
                        </button>
                        <button class="main-button main-button--checkout" v-if="checkoutMobileTab == 3">
                            <span class="text">оформить заказ</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
    export default {
        name: "checkout",
        data() {
            return {
                checkoutMobileTab: 1,
            }
        },
        props:['windowWidth'],
        methods: {
            setNameInPopupDelete() {
                let allButton = document.querySelectorAll('.js-delete-item-button');
                allButton.forEach(item => {
                    item.addEventListener('click', function(e) {
                        let namaProduct = item.closest('.js-delete-item').querySelector('.js-delete-item-name').innerHTML;
                        document.querySelector('.js-popup-name').innerHTML = namaProduct;
                    });
                });
            }
        },
        created() {
            let styleLink = document.querySelector('link[rel="stylesheet"]');
            styleLink.setAttribute('href',`${styleLink.dataset.href}/mainCheckout.css`);
        },
        mounted() {
            setTimeout(() => {
                this.setNameInPopupDelete();
            }, 2000);
        }
    }
</script>