<template>
    <main>
        <section class="breadcrumbs">
            <div class="breadcrumbs__wrapper container">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                    <a href="#" class="breadcrumbs__link">Сравнение товаров</a>
                </ul>
            </div>
        </section>
        <section class="comparison">
            <div class="comparison__wrapper container">
                <div class="comparison__top">
                    <h1 class="main-caption-l">Сравнение товаров</h1>
                        <button class="general-batton-more general-batton-more--comparison-add-product js-drop-button">
                            <span class="plus">+</span>
                        <span class="text">добавить товары</span>
                    </button>
                </div>
                <div class="comparison__header">
                    <div class="comparison__param comparison-param-position js-comparison-param">
                        <div class="input_wrapper js-drop-item general-drop-wrapper">
                            <span class="input-caption">Для категории</span>
                            <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                <input type="text" class="main_input js-drop-input" placeholder="Для категории" readonly>
                                <span class="icon-drop-arrow"></span>
                            </button>
                            <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                <span class="general-drop__list">
                                    <span class="general-drop__item js-drop-contains">
                                        <span class="text">Смартфоны и мобильные телефоны </span>
                                    </span>
                                    <span class="general-drop__item js-drop-contains">
                                        <span class="text">Смартфоны и мобильные телефоны 1</span>
                                    </span>
                                    <span class="general-drop__item js-drop-contains">
                                        <span class="text">Смартфоны и мобильные телефоны 2</span>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div class="comparison__radio-filter">
                            <label class="radio__wrapper radio__wrapper--comparison">
                                <input type="radio" class="input-radio" name="param" value="Все параметры" checked>
                                <span class="custome-radio"></span>
                                <span class="text">Все параметры</span>
                            </label>
                            <label class="radio__wrapper radio__wrapper--comparison">
                                <input type="radio" class="input-radio" name="param" value="Различающиеся">
                                <span class="custome-radio"></span>
                                <span class="text">Различающиеся</span>
                            </label>
                        </div>
                    </div>
                    <div class="comparison__product comparison-param-product js-comparison-wrapper-product">
                        <div class="comparison__product__sticky-wrapper js-comparison-sticky-product">
                            <div class="hidden-block js-hidden-comparison-block"></div>
                            <div class="comparison__product__container js-comparison-container-product">
                                <div class="comparison__product__button">
                                    <button class="arrow-button js-comparison-button-prev disabled">
                                        <span class="icon-arrow-left"></span>
                                    </button>
                                    <button class="arrow-button js-comparison-button-next">
                                        <span class="icon-arrow-right"></span>
                                    </button>
                                </div>
                                <ul class="comparison__product__list js-comparison-product-list">
                                    <li class="comparison__product__item js-comparison-product-item">
                                        <div class="comparison__product__img">
                                            <img v-lazy="'./img/product-img.png'" alt="title">
                                        </div>
                                        <div class="comparison__product__info">
                                            <a href="#" class="comparison__product__name">Название товара и, конечно же, место для второй строки</a>
                                            <div class="comparison__product-price">
                                                <p class="comparison__product__old-price">300грн</p>
                                                <p class="comparison__product__price">280грн</p>
                                            </div>
                                            <button class="main-button main-button--small main-button--width">
                                                <span class="text">в корзину</span>
                                            </button>
                                        </div>
                                        <button class="comparison__product__delete">
                                            <span class="icon-close"></span>
                                        </button>
                                    </li>
                                    <li class="comparison__product__item">
                                        <div class="comparison__product__img">
                                            <img v-lazy="'./img/product-img.png'" alt="title">
                                        </div>
                                        <div class="comparison__product__info">
                                            <a href="#" class="comparison__product__name">Название товара и, конечно же, место для второй строки</a>
                                            <div class="comparison__product-price">
                                                <p class="comparison__product__old-price">300грн</p>
                                                <p class="comparison__product__price">280грн</p>
                                            </div>
                                            <button class="main-button main-button--small main-button--width">
                                                <span class="text">в корзину</span>
                                            </button>
                                        </div>
                                        <button class="comparison__product__delete">
                                            <span class="icon-close"></span>
                                        </button>
                                    </li>
                                    <li class="comparison__product__item">
                                        <div class="comparison__product__img">
                                            <img v-lazy="'./img/product-img.png'" alt="title">
                                        </div>
                                        <div class="comparison__product__info">
                                            <a href="#" class="comparison__product__name">Название товара и, конечно же, место для второй строки</a>
                                            <div class="comparison__product-price">
                                                <p class="comparison__product__price">280грн</p>
                                            </div>
                                            <button class="main-button main-button--small main-button--width">
                                                <span class="text">в корзину</span>
                                            </button>
                                        </div>
                                        <button class="comparison__product__delete">
                                            <span class="icon-close"></span>
                                        </button>
                                    </li>
                                    <li class="comparison__product__item">
                                        <div class="comparison__product__img">
                                            <img v-lazy="'./img/product-img.png'" alt="title">
                                        </div>
                                        <div class="comparison__product__info">
                                            <a href="#" class="comparison__product__name">Название товара и, конечно же, место для второй строки</a>
                                            <div class="comparison__product-price">
                                                <p class="comparison__product__old-price">300грн</p>
                                                <p class="comparison__product__price">280грн</p>
                                            </div>
                                            <button class="main-button main-button--small main-button--width">
                                                <span class="text">в корзину</span>
                                            </button>
                                        </div>
                                        <button class="comparison__product__delete">
                                            <span class="icon-close"></span>
                                        </button>
                                    </li>
                                    <li class="comparison__product__item">
                                        <div class="comparison__product__img">
                                            <img v-lazy="'./img/product-img.png'" alt="title">
                                        </div>
                                        <div class="comparison__product__info">
                                            <a href="#" class="comparison__product__name">Название товара и, конечно же, место для второй строки</a>
                                            <div class="comparison__product-price">
                                                <p class="comparison__product__old-price">300грн</p>
                                                <p class="comparison__product__price">280грн</p>
                                            </div>
                                            <button class="main-button main-button--small main-button--width">
                                                <span class="text">в корзину</span>
                                            </button>
                                        </div>
                                        <button class="comparison__product__delete">
                                            <span class="icon-close"></span>
                                        </button>
                                    </li>
                                    <li class="comparison__product__item">
                                        <div class="comparison__product__img">
                                            <img v-lazy="'./img/product-img.png'" alt="title">
                                        </div>
                                        <div class="comparison__product__info">
                                            <a href="#" class="comparison__product__name">Название товара и, конечно же, место для второй строки</a>
                                            <div class="comparison__product-price">
                                                <p class="comparison__product__old-price">300грн</p>
                                                <p class="comparison__product__price">280грн</p>
                                            </div>
                                            <button class="main-button main-button--small main-button--width">
                                                <span class="text">в корзину</span>
                                            </button>
                                        </div>
                                        <button class="comparison__product__delete">
                                            <span class="icon-close"></span>
                                        </button>
                                    </li>
                                    <li class="comparison__product__item">
                                        <div class="comparison__product__img">
                                            <img v-lazy="'./img/product-img.png'" alt="title">
                                        </div>
                                        <div class="comparison__product__info">
                                            <a href="#" class="comparison__product__name">Название товара и, конечно же, место для второй строки</a>
                                            <div class="comparison__product-price">
                                                <p class="comparison__product__old-price">300грн</p>
                                                <p class="comparison__product__price">280грн</p>
                                            </div>
                                            <button class="main-button main-button--small main-button--width">
                                                <span class="text">в корзину</span>
                                            </button>
                                        </div>
                                        <button class="comparison__product__delete">
                                            <span class="icon-close"></span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comparison__info js-comparison-body" v-if="windowWidth > 767">
                    <div class="comparison__info-param comparison-param-position">
                        <div class="comparison__info__item">
                            <p class="comparison__info-param__caption js-comparison-info">Акции и специальные предложения</p>
                        </div>
                        <div class="comparison__info__item">
                            <p class="comparison__info-param__caption js-comparison-info">Связь</p>
                            <ul class="comparison__info-param__list">
                                <li class="comparison__info-param__item js-comparison-info">
                                    <div class="comparison__info-param__wrapper js-drop-item">
                                        <span>Диапазоны GSM</span>
                                        <button class="comparison__placeholder__button js-drop-button">?</button>
                                        <div class="comparison__placeholder__text">
                                            <p>Глобальный стандарт цифровой мобильной сотовой связи. Относится к сетям второго поколения.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="comparison__info-param__item js-comparison-info">
                                    <div class="comparison__info-param__wrapper js-drop-item">
                                        <span>Диапазоны UMTS</span>
                                        <button class="comparison__placeholder__button js-drop-button">?</button>
                                        <div class="comparison__placeholder__text">
                                            <p>Глобальный стандарт цифровой мобильной сотовой связи. Относится к сетям второго поколения.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="comparison__info-param__item js-comparison-info">
                                    <div class="comparison__info-param__wrapper js-drop-item">
                                        <span>Диапазоны LTE</span>
                                        <button class="comparison__placeholder__button js-drop-button">?</button>
                                        <div class="comparison__placeholder__text">
                                            <p>Глобальный стандарт цифровой мобильной сотовой связи. Относится к сетям второго поколения.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="comparison__info__item">
                            <p class="comparison__info-param__caption js-comparison-info">Дисплей</p>
                            <ul class="comparison__info-param__list">
                                <li class="comparison__info-param__item js-comparison-info">
                                    <div class="comparison__info-param__wrapper js-drop-item">
                                        <span>Тип дисплея</span>
                                        <button class="comparison__placeholder__button js-drop-button">?</button>
                                        <div class="comparison__placeholder__text">
                                            <p>Глобальный стандарт цифровой мобильной сотовой связи. Относится к сетям второго поколения.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="comparison__info-param__item js-comparison-info">
                                    <div class="comparison__info-param__wrapper js-drop-item">
                                        <span>Диагональ дисплея (дюйм)</span>
                                        <button class="comparison__placeholder__button js-drop-button">?</button>
                                        <div class="comparison__placeholder__text">
                                            <p>Глобальный стандарт цифровой мобильной сотовой связи. Относится к сетям второго поколения.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="comparison__info-param__item js-comparison-info">
                                    <div class="comparison__info-param__wrapper js-drop-item">
                                        <span>Разрешение дисплея (пикс)</span>
                                        <button class="comparison__placeholder__button js-drop-button">?</button>
                                        <div class="comparison__placeholder__text">
                                            <p>Глобальный стандарт цифровой мобильной сотовой связи. Относится к сетям второго поколения.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="comparison__info-product comparison-param-product">
                        <ul class="comparison__info-product__list js-comparison-info-product-list">
                            <li class="comparison__info-product__item">
                                <div class="comparison__info__item js-comparison-info-product">
                                    -
                                </div>
                                <div class="comparison__info__item">
                                    <p class="comparison__info-param__caption js-comparison-info-product"></p>
                                    <ul class="comparison__info-param__list">
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>800, 900, 1800, 1900</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>800, 900, 1800, 1900</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comparison__info__item">
                                    <p class="comparison__info-param__caption js-comparison-info-product"></p>
                                    <ul class="comparison__info-param__list">
                                        <!-- Если прараметры одинаковы нужно додавить класс same -->
                                        <li class="comparison__info-param__item same js-comparison-info-product">
                                            <p>USB Type-C</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>6.1</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>3040×1440</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="comparison__info-product__item">
                                <div class="comparison__info__item js-comparison-info-product">
                                    -
                                </div>
                                <div class="comparison__info__item">
                                    <p class="comparison__info-param__caption js-comparison-info-product"></p>
                                    <ul class="comparison__info-param__list">
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>800, 900, 1800, 1900</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>800, 900, 1800, 1900</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comparison__info__item">
                                    <p class="comparison__info-param__caption js-comparison-info-product"></p>
                                    <ul class="comparison__info-param__list">
                                        <!-- Если прараметры одинаковы нужно додавить класс same -->
                                        <li class="comparison__info-param__item same js-comparison-info-product">
                                            <p>USB Type-C</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>6.1</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>3040×1440</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="comparison__info-product__item">
                                <div class="comparison__info__item js-comparison-info-product">
                                    -
                                </div>
                                <div class="comparison__info__item">
                                    <p class="comparison__info-param__caption js-comparison-info-product"></p>
                                    <ul class="comparison__info-param__list">
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>800, 900, 1800, 1900</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>800, 900, 1800, 1900</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comparison__info__item">
                                    <p class="comparison__info-param__caption js-comparison-info-product"></p>
                                    <ul class="comparison__info-param__list">
                                        <!-- Если прараметры одинаковы нужно додавить класс same -->
                                        <li class="comparison__info-param__item same js-comparison-info-product">
                                            <p>USB Type-C</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>6.1</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>3040×1440</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="comparison__info-product__item">
                                <div class="comparison__info__item js-comparison-info-product">
                                    -
                                </div>
                                <div class="comparison__info__item">
                                    <p class="comparison__info-param__caption js-comparison-info-product"></p>
                                    <ul class="comparison__info-param__list">
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>800, 900, 1800, 1900</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>800, 900, 1800, 1900</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comparison__info__item">
                                    <p class="comparison__info-param__caption js-comparison-info-product"></p>
                                    <ul class="comparison__info-param__list">
                                        <!-- Если прараметры одинаковы нужно додавить класс same -->
                                        <li class="comparison__info-param__item same js-comparison-info-product">
                                            <p>USB Type-C</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>6.1</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>3040×1440</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="comparison__info-product__item">
                                <div class="comparison__info__item js-comparison-info-product">
                                    -
                                </div>
                                <div class="comparison__info__item">
                                    <p class="comparison__info-param__caption js-comparison-info-product"></p>
                                    <ul class="comparison__info-param__list">
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>800, 900, 1800, 1900</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>800, 900, 1800, 1900</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comparison__info__item">
                                    <p class="comparison__info-param__caption js-comparison-info-product"></p>
                                    <ul class="comparison__info-param__list">
                                        <!-- Если прараметры одинаковы нужно додавить класс same -->
                                        <li class="comparison__info-param__item same js-comparison-info-product">
                                            <p>USB Type-C</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>6.1</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>3040×1440</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="comparison__info-product__item">
                                <div class="comparison__info__item js-comparison-info-product">
                                    -
                                </div>
                                <div class="comparison__info__item">
                                    <p class="comparison__info-param__caption js-comparison-info-product"></p>
                                    <ul class="comparison__info-param__list">
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>800, 900, 1800, 1900</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>800, 900, 1800, 1900</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comparison__info__item">
                                    <p class="comparison__info-param__caption js-comparison-info-product"></p>
                                    <ul class="comparison__info-param__list">
                                        <!-- Если прараметры одинаковы нужно додавить класс same -->
                                        <li class="comparison__info-param__item same js-comparison-info-product">
                                            <p>USB Type-C</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>6.1</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>3040×1440</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="comparison__info-product__item">
                                <div class="comparison__info__item js-comparison-info-product">
                                    -
                                </div>
                                <div class="comparison__info__item">
                                    <p class="comparison__info-param__caption js-comparison-info-product"></p>
                                    <ul class="comparison__info-param__list">
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>800, 900, 1800, 1900</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>800, 900, 1800, 1900</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comparison__info__item">
                                    <p class="comparison__info-param__caption js-comparison-info-product"></p>
                                    <ul class="comparison__info-param__list">
                                        <!-- Если прараметры одинаковы нужно додавить класс same -->
                                        <li class="comparison__info-param__item same js-comparison-info-product">
                                            <p>USB Type-C</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>6.1</p>
                                        </li>
                                        <li class="comparison__info-param__item js-comparison-info-product">
                                            <p>3040×1440</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="comparison__info js-comparison-body" v-else>
                    <div class="comparison__info-param comparison-param-position">
                        <ul class="comparison__info-param__list">
                            <li class="comparison__info-param__item">
                                <div class="comparison__info-param__wrapper js-drop-item">
                                    <span>Диапазоны GSM</span>
                                    <button class="comparison__placeholder__button js-drop-button">?</button>
                                    <div class="comparison__placeholder__text">
                                        <p>Глобальный стандарт цифровой мобильной сотовой связи. Относится к сетям второго поколения.</p>
                                    </div>
                                </div>
                                <ul class="comparison__product__mobile-list">
                                    <li class="comparison__product__mobile-item">
                                        <div class="comparison__product__img">
                                            <img v-lazy="'/img/product-img.png'" alt="title">
                                        </div>
                                        <div class="comparison__product__info">
                                            <a href="#" class="comparison__product__name">Название товара и, конечно же, место для второй строки</a>
                                            <div class="comparison__product-price">
                                                <p class="comparison__product__old-price">300грн</p>
                                                <p class="comparison__product__price">280грн</p>
                                            </div>
                                        </div>
                                        <div class="comparison__info-param-mobile">
                                            <p>800, 900, 1800, 1900</p>
                                        </div>
                                    </li>
                                    <li class="comparison__product__mobile-item">
                                        <div class="comparison__product__img">
                                            <img v-lazy="'/img/product-img.png'" alt="title">
                                        </div>
                                        <div class="comparison__product__info">
                                            <a href="#" class="comparison__product__name">Название товара и, конечно же, место для второй строки</a>
                                            <div class="comparison__product-price">
                                                <p class="comparison__product__old-price">300грн</p>
                                                <p class="comparison__product__price">280грн</p>
                                            </div>
                                        </div>
                                        <div class="comparison__info-param-mobile">
                                            <p>800, 900, 1800, 1900</p>
                                        </div>
                                    </li>
                                    <li class="comparison__product__mobile-item">
                                        <div class="comparison__product__img">
                                            <img v-lazy="'/img/product-img.png'" alt="title">
                                        </div>
                                        <div class="comparison__product__info">
                                            <a href="#" class="comparison__product__name">Название товара и, конечно же, место для второй строки</a>
                                            <div class="comparison__product-price">
                                                <p class="comparison__product__old-price">300грн</p>
                                                <p class="comparison__product__price">280грн</p>
                                            </div>
                                        </div>
                                        <div class="comparison__info-param-mobile">
                                            <p>800, 900, 1800, 1900</p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="comparison__info-param__item">
                                <div class="comparison__info-param__wrapper js-drop-item">
                                    <span>Диагональ дисплея (дюйм)</span>
                                    <button class="comparison__placeholder__button js-drop-button">?</button>
                                    <div class="comparison__placeholder__text">
                                        <p>Глобальный стандарт цифровой мобильной сотовой связи. Относится к сетям второго поколения.</p>
                                    </div>
                                </div>
                                <ul class="comparison__product__mobile-list">
                                    <li class="comparison__product__mobile-item">
                                        <div class="comparison__product__img">
                                            <img v-lazy="'/img/product-img.png'" alt="title">
                                        </div>
                                        <div class="comparison__product__info">
                                            <a href="#" class="comparison__product__name">Название товара и, конечно же, место для второй строки</a>
                                            <div class="comparison__product-price">
                                                <p class="comparison__product__old-price">300грн</p>
                                                <p class="comparison__product__price">280грн</p>
                                            </div>
                                        </div>
                                        <!-- same когда одинаковы параметры -->
                                        <div class="comparison__info-param-mobile same">
                                            <p>6.1</p>
                                        </div>
                                    </li>
                                    <li class="comparison__product__mobile-item">
                                        <div class="comparison__product__img">
                                            <img v-lazy="'/img/product-img.png'" alt="title">
                                        </div>
                                        <div class="comparison__product__info">
                                            <a href="#" class="comparison__product__name">Название товара и, конечно же, место для второй строки</a>
                                            <div class="comparison__product-price">
                                                <p class="comparison__product__old-price">300грн</p>
                                                <p class="comparison__product__price">280грн</p>
                                            </div>
                                        </div>
                                        <div class="comparison__info-param-mobile">
                                            <p>6.1</p>
                                        </div>
                                    </li>
                                    <li class="comparison__product__mobile-item">
                                        <div class="comparison__product__img">
                                            <img v-lazy="'/img/product-img.png'" alt="title">
                                        </div>
                                        <div class="comparison__product__info">
                                            <a href="#" class="comparison__product__name">Название товара и, конечно же, место для второй строки</a>
                                            <div class="comparison__product-price">
                                                <p class="comparison__product__old-price">300грн</p>
                                                <p class="comparison__product__price">280грн</p>
                                            </div>
                                        </div>
                                        <div class="comparison__info-param-mobile">
                                            <p>6.1</p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="products-block">
            <div class="products-block__wrapper container">
                <div class="general-header-block">
                    <p class="general-header-block__caption main-caption-m">Просмотренные товары</p>
                </div>
                <div class="position-wrapper">
                    <ul class="products-list position-wrapper__list">
                        <li class="products-item products-item--parameters position-wrapper__item">
                            <button class="products-item__open-popup js-button" data-target="product"></button>
                            <div class="products-item__img">
                                <img v-lazy="'/img/banner-img.png'" alt="title">
                                <img v-lazy="'/img/product-hover-img.png'" alt="title">
                            </div>
                            <div class="products-item__container">
                                <div class="products-item__main-info">
                                    <p class="products-item__category">Категория</p>
                                    <a href="#" class="products-item__link">Название товара и, конечно же, место для второй строки</a>
                                    <div class="product-item__price product-price">
                                        <p class="product__old-price product__old-price--item">300грн</p>
                                        <p class="product__price product__price--item">280грн</p>
                                    </div>
                                </div>
                                <div class="products-item__parameters">
                                    <ul class="product-category__color-list">
                                        <li class="product-category__color-item" style="background-color: red"></li>
                                        <li class="product-category__color-item" style="background-color: blue"></li>
                                        <li class="product-category__color-item" style="background-color: blueviolet"></li>
                                    </ul>
                                </div>
                            </div>
                            <button class="add-to-favorite">
                                <span class="icon-add-favorite"></span>
                            </button>
                            <div class="product-noty product-noty--products-item">SALE</div>
                        </li>
                        <li class="products-item products-item--parameters position-wrapper__item">
                            <button class="products-item__open-popup js-button" data-target="product"></button>
                            <div class="products-item__img">
                                <img v-lazy="'/img/banner-img.png'" alt="title">
                                <img v-lazy="'/img/product-hover-img.png'" alt="title">
                            </div>
                            <div class="products-item__container">
                                <div class="products-item__main-info">
                                    <p class="products-item__category">Категория</p>
                                    <a href="#" class="products-item__link">Название товара и, конечно же, место для второй строки</a>
                                    <div class="product-item__price product-price">
                                        <p class="product__old-price product__old-price--item">300грн</p>
                                        <p class="product__price product__price--item">280грн</p>
                                    </div>
                                </div>
                                <div class="products-item__parameters">
                                    <ul class="product-category__color-list">
                                        <li class="product-category__color-item" style="background-color: red"></li>
                                        <li class="product-category__color-item" style="background-color: blue"></li>
                                        <li class="product-category__color-item" style="background-color: blueviolet"></li>
                                    </ul>
                                </div>
                            </div>
                            <button class="add-to-favorite">
                                <span class="icon-add-favorite"></span>
                            </button>
                            <div class="product-noty product-noty--products-item">SALE</div>
                        </li>
                        <li class="products-item position-wrapper__item">
                            <button class="products-item__open-popup js-button" data-target="product"></button>
                            <div class="products-item__img">
                                <img v-lazy="'/img/banner-img.png'" alt="title">
                                <img v-lazy="'/img/product-hover-img.png'" alt="title">
                            </div>
                            <div class="products-item__container">
                                <div class="products-item__main-info">
                                    <p class="products-item__category">Категория</p>
                                    <a href="#" class="products-item__link">Название товара и, конечно же, место для второй строки</a>
                                    <div class="product-item__price product-price">
                                        <p class="product__old-price product__old-price--item">300грн</p>
                                        <p class="product__price product__price--item">280грн</p>
                                    </div>
                                </div>
                            </div>
                            <button class="add-to-favorite">
                                <span class="icon-add-favorite"></span>
                            </button>
                            <div class="product-noty product-noty--products-item">SALE</div>
                        </li>
                        <li class="products-item position-wrapper__item">
                            <button class="products-item__open-popup js-button" data-target="product"></button>
                            <div class="products-item__img">
                                <img v-lazy="'/img/banner-img.png'" alt="title">
                                <img v-lazy="'/img/product-hover-img.png'" alt="title">
                            </div>
                            <div class="products-item__container">
                                <div class="products-item__main-info">
                                    <p class="products-item__category">Категория</p>
                                    <a href="#" class="products-item__link">Название товара и, конечно же, место для второй строки</a>
                                    <div class="product-item__price product-price">
                                        <p class="product__old-price product__old-price--item">300грн</p>
                                        <p class="product__price product__price--item">280грн</p>
                                    </div>
                                </div>
                            </div>
                            <button class="add-to-favorite">
                                <span class="icon-add-favorite"></span>
                            </button>
                            <div class="product-noty product-noty--products-item">SALE</div>
                        </li>
                    </ul>
                </div>
                <div class="general-navigation">
                    <button class="general-button-more-info general-button-more-info--navigation">
                        <span class="text">смотреть еще</span>
                    </button>
                    <div class="general-pagination">
                        <button class="arrow-button arrow-button--pagination">
                            <span class="icon-arrow-left"></span>
                        </button>
                        <ul class="pagination__list">
                            <li class="pagination__item active">1</li>
                            <li class="pagination__item">2</li>
                            <li class="pagination__item">3</li>
                            <li class="pagination__item">12</li>
                        </ul>
                        <button class="arrow-button arrow-button--pagination">
                            <span class="icon-arrow-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
    export default {
        name: "comparison",
        data() {
            return {
                
            }
        },
        props:['windowWidth'],
        methods: {
            setHeightProp() {
                let allInfoItems = document.querySelectorAll('.js-comparison-info');
                let allInfoProductItems = document.querySelectorAll('.js-comparison-info-product');
                let arrayHeights = [];
                
                
                for(let i = 0; allInfoItems.length > i; i++) {
                    arrayHeights.push(allInfoItems[i].offsetHeight);
                }
                
                let counter = 0;
                allInfoProductItems.forEach((item,index) => {
                    item.setAttribute('style', `height: ${arrayHeights[counter]}px;`);
                    counter == arrayHeights.length - 1 ? counter = 0 : counter++;
                });
            },
            
            moveProductItem() {
                let productList = document.querySelector('.js-comparison-product-list');
                let productInfoList = document.querySelector('.js-comparison-info-product-list');
                let productItem = document.querySelector('.js-comparison-product-item');
                let buttonMoveNext = document.querySelector('.js-comparison-button-next');
                let buttonMovePrev = document.querySelector('.js-comparison-button-prev');
                let maxScrollLeft = productList.scrollWidth - productList.clientWidth;
                let currenScrollValue = productList.scrollLeft;
                buttonMoveNext.addEventListener('click',moveNext);
                buttonMovePrev.addEventListener('click',movePrev);
                
                let styleProductItem = window.getComputedStyle(productItem);
                let productItemWidth = productItem.offsetWidth + +styleProductItem['margin-right'].match(/\d/g).join('');
                
                function movePrev() {
                    currenScrollValue = productList.scrollLeft;
                    productInfoList.scrollLeft -= productItemWidth;
                    productList.scrollLeft -= productItemWidth;
                    currenScrollValue -= productItemWidth;
                    buttonMoveNext.classList.remove('disabled');
                    
                    if(currenScrollValue < 40) {
                        this.classList.add('disabled');
                    }
                }
                
                function moveNext() {
                    currenScrollValue = productList.scrollLeft;
                    productList.scrollLeft += productItemWidth;
                    productInfoList.scrollLeft += productItemWidth;
                    currenScrollValue += productItemWidth;

                    if(currenScrollValue >= 0) {
                        buttonMovePrev.classList.remove('disabled');
                    }
                    
                    if(currenScrollValue >= maxScrollLeft) {
                        this.classList.add('disabled');
                    }
                }
            },
            showProductList() {
                function move(){
                    let comparisonWrapper = document.querySelector('.js-comparison-wrapper-product');
                    let comparisonContainer = document.querySelector('.js-comparison-container-product');
                    let stikyBlock = document.querySelector('.js-comparison-sticky-product');
                    let comparisonParam = document.querySelector('.js-comparison-param');
                    let comparisonHiddenblock = document.querySelector('.js-hidden-comparison-block');
                    
                    let comparisonBodyBottom = document.querySelector('.js-comparison-body').getBoundingClientRect().bottom;
                    
                    if(comparisonBodyBottom < stikyBlock.offsetHeight) {
                        stikyBlock.classList.add('hide');
                    }else {
                        stikyBlock.classList.remove('hide');
                    }
                    
                    comparisonHiddenblock.style.width = comparisonParam.offsetWidth + 'px';
                
                    if((comparisonWrapper.getBoundingClientRect().top + pageYOffset - 30) < window.scrollY) {
                        stikyBlock.setAttribute('style', `position: fixed;`);
                        stikyBlock.classList.add("fixed");
                        comparisonContainer.setAttribute('style', `width:${comparisonWrapper.offsetWidth}px;`);
                        
                    }else {
                        stikyBlock.setAttribute('style', `position: absolute;`);
                        stikyBlock.classList.remove("fixed");
                        comparisonContainer.setAttribute('style', `width:${comparisonWrapper.offsetWidth}px;`);
                    }
                }
            
            
                window.addEventListener("resize",function(){
                    move();
                });
                
                move()
                
                document.addEventListener("scroll",function(){
                    move();
                });
            }
        },
        created() {
            let styleLink = document.querySelector('link[rel="stylesheet"]');
            styleLink.setAttribute('href',`${styleLink.dataset.href}/mainComparison.css`);
        },
        mounted() {
            setTimeout(() => {
                if(this.windowWidth > 767) {
                    this.showProductList();
                    this.moveProductItem();
                    this.setHeightProp();
                }
            },2000);
        }
    }
</script>