<template>
    <main>
        <section class="breadcrumbs">
            <div class="breadcrumbs__wrapper container">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                    <a href="#" class="breadcrumbs__link">Контакты</a>
                </ul>
            </div>
        </section>
        <section class="contact">
            <div class="contact__wrapper container">
                <h1 class="main-caption-l">Контакты</h1>
                <div class="contact__container">
                    <div class="contact__call-back">
                        <p class="contact__caption">Свяжитесь с нами</p>
                        <p class="contact__sub-caption">Мы вам перезвоним в любое время суток</p>
                        <form class="contact__call-back__form" action="#">
                            <label class="input_wrapper input_wrapper--margin-bottom">
                                <span class="input-caption">Ваше имя</span>
                                <input type="text" class="main_input" placeholder="Ваше имя">
                            </label>
                            <label class="input_wrapper input_wrapper--margin-bottom">
                                <span class="input-caption">Номер телефона</span>
                                <input type="tel" class="main_input" placeholder="Номер телефона">
                            </label>
                            <button class="main-button">
                                <span class="text">отправить</span>
                            </button>
                        </form>
                    </div>
                    <div class="contact__map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d164153.5222970856!2d36.145742038497254!3d49.99450702572823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a09f63ab0f8b%3A0x2d4c18681aa4be0a!2z0KXQsNGA0YzQutC-0LIsINCl0LDRgNGM0LrQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sua!4v1598868053425!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <ul class="contact__link-list">
                    <li class="contact__link-item">
                        <span class="icon-place"></span>
                        <a href="#" class="contact__link-text">Харьков, 45</a>
                    </li>
                    <li class="contact__link-item">
                        <span class="icon-email"></span>
                        <a href="mailto:mailmagaz@gmail.com" class="contact__link-text">mailmagaz@gmail.com</a>
                    </li>
                    <li class="contact__link-item">
                        <span class="icon-phone"></span>
                        <div class="wrapper">
                            <a href="tel: +38 095 765 78 65" class="contact__link-text">+38 095 765 78 65,</a>
                            <a href="tel: +38 093 456 78 98" class="contact__link-text">+38 093 456 78 98</a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="social-block">
            <div class="social-block__wrapper container">
                <div class="general-header-block general-header-block--social">
                    <p class="general-header-block__caption main-caption-m">Мы в социальных сетях</p>
                    <p class="general-header-block__sub">Дополнительный текст</p>
                </div>
                <ul class="social__list">
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <span class="icon-fb"></span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <span class="icon-inst"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</template>

<script>
    export default {
        name: "faq",
        data() {
            return {
                
            }
        },
        props:['windowWidth'],
        methods: {
        },
        created() {
            let styleLink = document.querySelector('link[rel="stylesheet"]');
            styleLink.setAttribute('href',`${styleLink.dataset.href}/mainContact.css`);
        },
        mounted() {
            
        }
    }
</script>