<template>
    <main>
        <section class="breadcrumbs">
            <div class="breadcrumbs__wrapper container">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                    <a href="#" class="breadcrumbs__link">FAQ</a>
                </ul>
            </div>
        </section>
        <section class="faq">
            <div class="faq__wrapper container">
                <h1 class="main-caption-l">FAQ</h1>
                <ul class="faq__main-list">
                    <li class="faq__main-item" v-for="category in faq_categories">
                        <p class="faq__type">{{ category.name }}</p>
                        <div class="faq__main-item__container">
                            <ul class="faq__sub-list" >
                                <li class="faq__sub-item js-drop-item" v-for="item in category.questions">
                                    <button class="faq__sub-item__caption js-drop-button">
                                        <span class="decor-elem">?</span>
                                        <span class="text">{{ item.question }}</span>
                                        <span class="icon-drop-arrow"></span>
                                    </button>
                                    <div class="faq__sub-item__info" v-html="item.answer">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="faq__call-back">
                    <p class="main-caption-m">Не нашли нужного ответа?</p>
                    <p class="faq__call-back__sub-caption">Вы можете задать его нам и мы ответим в ближайшее время</p>
                    <form class="faq__call-back__form" action="#">
                        <label class="input_wrapper input_wrapper--margin-bottom">
                            <span class="input-caption">Email</span>
                            <input type="email" class="main_input" placeholder="Email">
                        </label>
                        <label class="input_wrapper input_wrapper--margin-bottom">
                            <span class="input-caption">Ваш вопрос</span>
                            <textarea class="main_textarea" placeholder="Ваш вопрос "></textarea>
                        </label>
                        <button class="main-button">
                            <span class="text">отправить вопрос</span>
                        </button>
                    </form>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
    export default {
        name: "faq",
        data() {
            return {
                faq_categories: [],
            }
        },
        props:['windowWidth'],
        methods: {
        },
        created() {
            let styleLink = document.querySelector('link[rel="stylesheet"]');
            styleLink.setAttribute('href',`${styleLink.dataset.href}/mainFaq.css`);
        },
        mounted() {
            let component = this;
            axios.get('/api/faq_categories').then(function(response) {
                component.faq_categories = response.data.data;
            });
        }
    }
</script>