<template>
    <main class="main-page">
        <section class="main-banner">
            <ul class="main-banner__list js-list">
                <li class="main-banner__item" :class="{show: currentIndex == index}" v-for="(item,index) in banners">
                    <div class="main-banner__img" v-lazy:background-image="item.image"></div>
                    <div class="main-banner__info container">
                        <div class="main-banner__info-wrapper">
                            <p class="main-banner__info__type">{{item.short_desc}}</p>
                            <p class="main-caption-l main-banner__info__caption">{{item.title}}</p>
                            <p class="main-banner__info__sub" v-html="item.desc"></p>
                            <a :href="item.link" class="main-button main-button--banners">
                                <span class="text">{{item.button_text}}</span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <button class="main-banner__arrow-button main-banner__arrow-button--left arrow-button" @click="prevSlide" v-if="banners.length > 1">
                <span class="icon-arrow-left"></span>
            </button>
            <button class="main-banner__arrow-button main-banner__arrow-button--right arrow-button" @click="nextSlide" v-if="banners.length > 1">
                <span class="icon-arrow-right"></span>
            </button>
            <div class="main-banner__dots" v-if="banners.length > 1">
                <ul class="main-banner__dots__list">
                    <li class="main-banner__dots__item" v-for="(item,index) in banners" :class="{active: currentIndex == index}"></li>
                </ul>
            </div>
        </section>
        <section class="popular-category">
            <div class="popular-category__wrapper container">
                <ul class="popular-category__list">
                    <li class="popular-category__item popular-category__item--big" v-lazy:background-image="'./img/popular-category-img.png'">
                        <p class="popular-category__caption">Распродажа</p>
                        <p class="popular-category__sub">действует до 5 сентября</p>
                        <router-link to="/catalog" class="general-batton-more">
                            <span class="text">в каталог</span>
                        </router-link>
                    </li>
                    <li class="popular-category__item" v-lazy:background-image="item.image" v-for="item in product_categories">
                        <p class="popular-category__caption">{{ item.name }}</p>
                        <p class="popular-category__sub">{{ item.description }}</p>
                        <router-link :to="item.link" class="general-batton-more">
                            <span class="text">в каталог</span>
                        </router-link>
                    </li>
                </ul>
            </div>
        </section>
        <section class="products-block">
            <div class="products-block__wrapper container">
                <div class="general-header-block">
                    <p class="general-header-block__caption main-caption-m">Бестселлеры</p>
                    <p class="general-header-block__sub">Хороший текст о магазине или о его товарах</p>
                </div>
                <div class="position-wrapper">
                    <ul class="products-list position-wrapper__list">
                        <ProductCard v-for="(item, key) in popular_products.data" :data-item="item" :key="key" data-classes="products-item--parameters position-wrapper__item"></ProductCard>
                    </ul>
                </div>
                <div class="general-navigation">
                    <button class="general-button-more-info general-button-more-info--navigation">
                        <span class="text">смотреть еще</span>
                    </button>
                    <div class="general-pagination" v-if="popular_products.meta.last_page > 1">
                        <button class="arrow-button arrow-button--pagination" :class="{disabled: popular_products.meta.current_page === 1}" @click="popular_products.meta.current_page--">
                            <span class="icon-arrow-left"></span>
                        </button>
                        <ul class="pagination__list">
                            <li class="pagination__item" :class="{active: popular_products.meta.current_page === 1}" @click="popular_products.meta.current_page = 1">1</li>

                            <template v-if="popular_products.meta.current_page === 1">
                                <li class="pagination__item" :class="{active: popular_products.meta.current_page === 2}" @click="popular_products.meta.current_page = 2" v-if="popular_products.meta.last_page > 2">2</li>
                                <li class="pagination__item" :class="{active: popular_products.meta.current_page === 3}" @click="popular_products.meta.current_page = 3" v-if="popular_products.meta.last_page > 3">3</li>
                            </template>

                            <template v-else-if="popular_products.meta.current_page === popular_products.meta.last_page">
                                <li class="pagination__item" :class="{active: popular_products.meta.current_page === popular_products.meta.last_page - 2}" @click="popular_products.meta.current_page = popular_products.meta.last_page - 2" v-if="popular_products.meta.last_page > 3">{{popular_products.meta.last_page - 2}}</li>
                                <li class="pagination__item" :class="{active: popular_products.meta.current_page === popular_products.meta.last_page - 1}" @click="popular_products.meta.current_page = popular_products.meta.last_page - 1" v-if="popular_products.meta.last_page > 2">{{ popular_products.meta.last_page - 1 }}</li>
                            </template>

                            <template v-else>
                                <li class="pagination__item" @click="popular_products.meta.current_page--" v-if="popular_products.meta.last_page > 3 && popular_products.meta.current_page === popular_products.meta.last_page - 1">{{ popular_products.meta.current_page - 1 }}</li>
                                <li class="pagination__item active" v-if="popular_products.meta.last_page > 2">{{ popular_products.meta.current_page }}</li>
                                <li class="pagination__item" @click="popular_products.meta.current_page++" v-if="popular_products.meta.last_page > 3 && popular_products.meta.current_page < popular_products.meta.last_page - 1">{{ popular_products.meta.current_page + 1 }}</li>
                            </template>

                            <li class="pagination__item" :class="{active: popular_products.meta.current_page === popular_products.meta.last_page}" @click="popular_products.meta.current_page = popular_products.meta.last_page">{{ popular_products.meta.last_page }}</li>
                        </ul>
                        <button class="arrow-button arrow-button--pagination" :class="{disabled: popular_products.meta.current_page === popular_products.meta.last_page}" @click="popular_products.meta.current_page++">
                            <span class="icon-arrow-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-company">
            <div class="about-company__wrapper container">
                <div class="about-company__info">
                    <p class="about-company__caption main-caption-m">О компаниии</p>
                    <div class="about-company__sub">Таким образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития. С другой стороны постоянный количественный рост и сфера нашей активности</div>
                    <button class="general-button-more-info">
                        <span class="text">подробнее</span>
                    </button>
                </div>
                <div class="about-company__img" v-lazy:background-image="'./img/banner-img.png'"></div>
            </div>
        </section>
        <section class="our-clients">
            <div class="our-clients__wrapper container">
                <div class="general-header-block">
                    <p class="general-header-block__caption main-caption-m">Наши клиенты</p>
                    <p class="general-header-block__sub">Хороший текст о магазине или о его товарах</p>
                </div>
                <ul class="our-clients__list">
                    <li class="our-clients__item" v-lazy:background-image="'./img/banner-img.png'"></li>
                    <li class="our-clients__item" v-lazy:background-image="'./img/banner-img.png'"></li>
                    <li class="our-clients__item" v-lazy:background-image="'./img/banner-img.png'"></li>
                    <li class="our-clients__item" v-lazy:background-image="'./img/banner-img.png'"></li>
                    <li class="our-clients__item" v-lazy:background-image="'./img/banner-img.png'"></li>
                    <li class="our-clients__item" v-lazy:background-image="'./img/banner-img.png'"></li>
                </ul>
            </div>
        </section>
        <section class="reviews-block">
            <div class="reviews-block__wrapper container">
                <div class="general-header-block">
                    <p class="general-header-block__caption main-caption-m">Отзывы покупателей о магазине</p>
                    <p class="general-header-block__sub">Дополнительный текст</p>
                </div>
                <div class="position-wrapper">
                    <ul class="reviews__list position-wrapper__list">
                        <ReviewCard v-for="(item, key) in reviews.data" :data-item="item" :key="key"></ReviewCard>
                    </ul>
                </div>
                <div class="general-navigation">
                    <button class="general-button-more-info general-button-more-info--navigation">
                        <span class="text">больше отзывов</span>
                    </button>
                    <div class="general-pagination" v-if="reviews.meta.last_page > 1">
                        <button class="arrow-button arrow-button--pagination" :class="{disabled: reviews.meta.current_page === 1}" @click="reviews.meta.current_page--">
                            <span class="icon-arrow-left"></span>
                        </button>
                        <ul class="pagination__list">
                            <li class="pagination__item" :class="{active: reviews.meta.current_page === 1}" @click="reviews.meta.current_page = 1">1</li>

                            <template v-if="reviews.meta.current_page === 1">
                                <li class="pagination__item" :class="{active: reviews.meta.current_page === 2}" @click="reviews.meta.current_page = 2" v-if="reviews.meta.last_page > 2">2</li>
                                <li class="pagination__item" :class="{active: reviews.meta.current_page === 3}" @click="reviews.meta.current_page = 3" v-if="reviews.meta.last_page > 3">3</li>
                            </template>

                            <template v-else-if="reviews.meta.current_page === reviews.meta.last_page">
                                <li class="pagination__item" :class="{active: reviews.meta.current_page === reviews.meta.last_page - 2}" @click="reviews.meta.current_page = reviews.meta.last_page - 2" v-if="reviews.meta.last_page > 3">{{reviews.meta.last_page - 2}}</li>
                                <li class="pagination__item" :class="{active: reviews.meta.current_page === reviews.meta.last_page - 1}" @click="reviews.meta.current_page = reviews.meta.last_page - 1" v-if="reviews.meta.last_page > 2">{{ reviews.meta.last_page - 1 }}</li>
                            </template>

                            <template v-else>
                                <li class="pagination__item" @click="reviews.meta.current_page--" v-if="reviews.meta.last_page > 3 && reviews.meta.current_page === reviews.meta.last_page - 1">{{ reviews.meta.current_page - 1 }}</li>
                                <li class="pagination__item active" v-if="reviews.meta.last_page > 2">{{ reviews.meta.current_page }}</li>
                                <li class="pagination__item" @click="reviews.meta.current_page++" v-if="reviews.meta.last_page > 3 && reviews.meta.current_page < reviews.meta.last_page - 1">{{ reviews.meta.current_page + 1 }}</li>
                            </template>

                            <li class="pagination__item" :class="{active: reviews.meta.current_page === reviews.meta.last_page}" @click="reviews.meta.current_page = reviews.meta.last_page">{{ reviews.meta.last_page }}</li>
                        </ul>
                        <button class="arrow-button arrow-button--pagination" :class="{disabled: reviews.meta.current_page === reviews.meta.last_page}" @click="reviews.meta.current_page++">
                            <span class="icon-arrow-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="advantages">
            <div class="advantages__wrapper container">
                <div class="general-header-block">
                    <p class="general-header-block__caption main-caption-m">Преимущества магазина</p>
                    <p class="general-header-block__sub">Дополнительный текст</p>
                </div>
                <ul class="advantages__list">
                    <li class="advantages__item" v-lazy:background-image="'./img/banner-img.png'"></li>
                    <li class="advantages__item" v-lazy:background-image="'./img/banner-img.png'"></li>
                    <li class="advantages__item" v-lazy:background-image="'./img/banner-img.png'"></li>
                </ul>
            </div>
        </section>
        <section class="blog-block">
            <div class="blog-block__wrapper container">
                <div class="general-header-block">
                    <p class="general-header-block__caption main-caption-m">Блог</p>
                    <p class="general-header-block__sub">Дополнительный текст</p>
                </div>
                <div class="position-wrapper">
                    <ul class="blog__list position-wrapper__list">
                        <ArticleCard v-for="(item, key) in articles.data" :data-item="item" :key="key" data-classes="position-wrapper__item"></ArticleCard>
                    </ul>
                </div>
                <div class="general-navigation">
                    
                    <router-link to="/blog" class="general-button-more-info general-button-more-info--navigation">
                        <span class="text">перейти в блог</span>
                    </router-link>
                    <div class="general-pagination" v-if="articles.meta.last_page > 1">
                        <button class="arrow-button arrow-button--pagination" :class="{disabled: articles.meta.current_page === 1}" @click="articles.meta.current_page--">
                            <span class="icon-arrow-left"></span>
                        </button>
                        <ul class="pagination__list">
                            <li class="pagination__item" :class="{active: articles.meta.current_page === 1}" @click="articles.meta.current_page = 1">1</li>

                            <template v-if="articles.meta.current_page === 1">
                                <li class="pagination__item" :class="{active: articles.meta.current_page === 2}" @click="articles.meta.current_page = 2" v-if="articles.meta.last_page > 2">2</li>
                                <li class="pagination__item" :class="{active: articles.meta.current_page === 3}" @click="articles.meta.current_page = 3" v-if="articles.meta.last_page > 3">3</li>
                            </template>

                            <template v-else-if="articles.meta.current_page === articles.meta.last_page">
                                <li class="pagination__item" :class="{active: articles.meta.current_page === articles.meta.last_page - 2}" @click="articles.meta.current_page = articles.meta.last_page - 2" v-if="articles.meta.last_page > 3">{{articles.meta.last_page - 2}}</li>
                                <li class="pagination__item" :class="{active: articles.meta.current_page === articles.meta.last_page - 1}" @click="articles.meta.current_page = articles.meta.last_page - 1" v-if="articles.meta.last_page > 2">{{ articles.meta.last_page - 1 }}</li>
                            </template>

                            <template v-else>
                                <li class="pagination__item" @click="articles.meta.current_page--" v-if="articles.meta.last_page > 3 && articles.meta.current_page === articles.meta.last_page - 1">{{ articles.meta.current_page - 1 }}</li>
                                <li class="pagination__item active" v-if="articles.meta.last_page > 2">{{ articles.meta.current_page }}</li>
                                <li class="pagination__item" @click="articles.meta.current_page++" v-if="articles.meta.last_page > 3 && articles.meta.current_page < articles.meta.last_page - 1">{{ articles.meta.current_page + 1 }}</li>
                            </template>

                            <li class="pagination__item" :class="{active: articles.meta.current_page === articles.meta.last_page}" @click="articles.meta.current_page = articles.meta.last_page">{{ articles.meta.last_page }}</li>
                        </ul>
                        <button class="arrow-button arrow-button--pagination" :class="{disabled: articles.meta.current_page === articles.meta.last_page}" @click="articles.meta.current_page++">
                            <span class="icon-arrow-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="social-block">
            <div class="social-block__wrapper container">
                <div class="general-header-block general-header-block--social">
                    <p class="general-header-block__caption main-caption-m">Мы в социальных сетях</p>
                    <p class="general-header-block__sub">Дополнительный текст</p>
                </div>
                <ul class="social__list">
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <span class="icon-fb"></span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <span class="icon-inst"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="subscription">
            <div class="subscription__wrapper container">
                <p class="main-caption-s subscription__caption">Призыв на подписку о рассылке</p>
                <form class="subscription__form">
                    <label class="input_wrapper input_wrapper--subscription">
                        <span class="input-caption">Email</span>
                        <input type="email" class="main_input" placeholder="Email">
                    </label>
                    <div class="checkbox__container checkbox__container--subscription">
                        <label class="checkbox__wrapper checkbox__wrapper--subscription">
                            <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                            <span class="custome-check">
                                <span class="icon-active"></span>
                            </span>
                            <span class="text">Тема для рассылки</span>
                        </label>
                        <label class="checkbox__wrapper checkbox__wrapper--subscription">
                            <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                            <span class="custome-check">
                                <span class="icon-active"></span>
                            </span>
                            <span class="text">Тема для рассылки</span>
                        </label>
                        <label class="checkbox__wrapper checkbox__wrapper--subscription">
                            <input type="checkbox" value="Тема для рассылки" class="input-checkbox">
                            <span class="custome-check">
                                <span class="icon-active"></span>
                            </span>
                            <span class="text">Тема для рассылки</span>
                        </label>
                    </div>
                    <button class="main-button main-button--subscription">
                        <span class="text">отправить</span>
                    </button>
                </form>
            </div>
        </section>
        <popup-product></popup-product>
    </main>
</template>

<script>
   	export default {
		name: 'home',
		data (){
            return {
                currentIndex: 0,
                banners: [],
                product_categories: [],
                popular_products: {
                    meta: {
                        current_page: 1,
                        last_page: 1,
                    }
                },
                reviews: {
                    meta: {
                        current_page: 1,
                        last_page: 1
                    }
                },
                articles: {
                    meta: {
                        current_page: 1,
                        last_page: 1
                    }
                },
            }
		},
        methods:{
            prevSlide: function(){
                if(this.currentIndex >= 1)
                    this.currentIndex--;
                else
                    this.currentIndex = this.banners.length - 1;
            },
            nextSlide: function(){
                if(this.currentIndex < this.banners.length - 1)
                    this.currentIndex++;
                else
                    this.currentIndex = 0;
            },
            getPopularProducts: function(){
                const component = this;
                var current_page = this.popular_products.meta.current_page;

                axios.get('/api/products/popular?page=' + current_page)
                 .then(function(response) {
                    component.popular_products = response.data;
                 });
            },
            getReviews: function(){
                const component = this;
                let current_page = this.reviews.meta.current_page;

                axios.get('/api/reviews/paginate?limit=4&page=' + current_page)
                 .then(function(response) {
                    component.reviews = response.data;
                 });
            },
            getArticles: function(){
                const component = this;
                let current_page = this.articles.meta.current_page;

                axios.get('/api/articles/paginate?limit=4&page=' + current_page)
                 .then(function(response) {
                    component.articles = response.data;
                 });
            }
        },
        watch: {
            'popular_products.meta.current_page': function() {
                this.getPopularProducts();
            },
            'reviews.meta.current_page': function() {
                this.getReviews();
            },
            'articles.meta.current_page': function() {
                this.getArticles();
            }
        },
        components: {
            popupProduct: () => import('../popupProduct'),
            ProductCard: () => import('../cards/ProductCard.vue'),
            ReviewCard: () => import('../cards/ReviewCardSmall.vue'),
            ArticleCard: () => import('../cards/ArticleCard.vue'),
        },
        created() {
            let styleLink = document.querySelector('link[rel="stylesheet"]');
            styleLink.setAttribute('href',`${styleLink.dataset.href}/index.css`);
        },
        mounted() {
            // Slider banner
            var sliderAutoStart;
            const component = this;
            setTimeout(function(){
                let slider = document.querySelector('.main-banner');
                if(slider) {
                    if(window.innerWidth > 1160){
                        slider.addEventListener('mouseover', function(){
                            clearInterval(sliderAutoStart);
                        });
                        
                            
                        slider.addEventListener('mouseleave', () => {
                            sliderAutoStart = setInterval(component.nextSlide, 5000);
                        });
                        
                        sliderAutoStart = setInterval(component.nextSlide, 5000);
                    }
                    
                    var startPointX;
                    slider.addEventListener("touchstart", function(event) {
                        startPointX = event.changedTouches[0].screenX;
                        clearInterval(sliderAutoStart);
                    }, {passive: true});
                    slider.addEventListener("touchend", function(event){
                        var endPointX = event.changedTouches[0].screenX;
                        
                        if(startPointX - endPointX > 40) {
                            component.nextSlide();
                        } else if(endPointX - startPointX > 40) {
                            component.prevSlide();
                        }
                    }, {passive: true});
                }
            },0)
            
            // Slider banner
            
            axios.get('/api/banners')
                 .then(function(response) {
                    component.banners = response.data.data;
                 });

            axios.get('/api/product_categories/popular')
                 .then(function(response) {
                    component.product_categories = response.data.data;
                 });

            this.getPopularProducts();
            this.getReviews();
            this.getArticles();
        }
	}
</script>