<template>
    <main>
        <section class="breadcrumbs">
            <div class="breadcrumbs__wrapper container">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                    <a href="#" class="breadcrumbs__link">Заказ оформлен</a>
                </ul>
            </div>
        </section>
        <section class="checkout">
            <div class="checkout__wrapper container">
                <h1 class="main-caption-l checkout-page__caption">Заказ успешно оформлен</h1>
                <p class="checkout__number-order checkout__number-order--mobile">Номер заказа: <strong>321123</strong></p>
                <div class="checkout__container">
                    <div class="checkout__main-info">
                        <p class="checkout__main-info__text">Таким образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития. </p>
                        <p class="checkout__number-order">Номер заказа: <strong>321123</strong></p>
                        <ul class="order__info-list">
                            <li class="order__info-item">
                                <span class="type">Получатель:</span>
                                <span class="description">Иванов Иван</span>
                            </li>
                            <li class="order__info-item">
                                <span class="type">Номер телефона:</span>
                                <span class="description">+380509876675</span>
                            </li>
                            <li class="order__info-item">
                                <span class="type">Email:</span>
                                <span class="description">email@mail.com</span>
                            </li>
                            <li class="order__info-item">
                                <span class="type">Город:</span>
                                <span class="description">Харьков</span>
                            </li>
                            <li class="order__info-item">
                                <span class="type">Способ доставки: </span>
                                <span class="description">Новая почта</span>
                            </li>
                            <li class="order__info-item">
                                <span class="type">Отделение: </span>
                                <span class="description">№25, ул. Пушкинская, 25</span>
                            </li>
                            <li class="order__info-item">
                                <span class="type">Способ оплаты: </span>
                                <span class="description">Банковской картой</span>
                            </li>
                            <li class="order__info-item">
                                <span class="type">Комментарий к заказу: </span>
                                <span class="description">Хорошо упаковать</span>
                            </li>
                        </ul>
                        <a href="#" class="main-button main-button--order-thanks">
                            <span class="text">продолжить покупки</span>
                        </a>
                        <button class="text-button text-button--thanks-order js-button" data-target="help">нужна помощь?</button>
                    </div>
                    <div class="checkout-page__sitebar">
                        <p class="checkout__main-info__caption">Ваш заказ</p>
                        <div class="checkout-product__wrapper">
                            <ul class="checkout-product__list">
                                <li class="checkout-product__item">
                                    <div class="checkout-product__img" v-lazy:background-image="'./img/banner-img.png'"></div>
                                    <div class="checkout-product__info">
                                        <a href="#" class="checkout-product__name">Название товара название товара</a>
                                        <p class="checkout-product__param checkout-product__general-info">
                                            <span class="checkout-product__type">Параметр:</span>
                                            <span class="checkout-product__description">значение параметра</span>
                                        </p>
                                        <div class="product-price-checkout checkout-product__general-info">
                                            <p class="product__old-price-checkout">300грн</p>
                                            <span class="checkout-product__type">Цена:</span>
                                            <p class="product__price-checkout">280грн</p>
                                        </div>
                                        <div class="checkout-product__footer">
                                            <p class="checkout-product__calc checkout-product__general-info">
                                                <span class="checkout-product__type">Кол-во:</span>
                                                <span class="checkout-product__description">2</span>
                                            </p>
                                            <p class="checkout-product__total checkout-product__general-info">
                                                <span class="checkout-product__type">Сумма:</span>
                                                <span class="checkout-product__description">600 грн</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="checkout-product__item">
                                    <div class="checkout-product__img" v-lazy:background-image="'./img/banner-img.png'"></div>
                                    <div class="checkout-product__info">
                                        <a href="#" class="checkout-product__name">Название товара название товара</a>
                                        <p class="checkout-product__param checkout-product__general-info">
                                            <span class="checkout-product__type">Параметр:</span>
                                            <span class="checkout-product__description">значение параметра</span>
                                        </p>
                                        <div class="product-price-checkout checkout-product__general-info">
                                            <span class="checkout-product__type">Цена:</span>
                                            <p class="product__price-checkout">280грн</p>
                                        </div>
                                        <div class="checkout-product__footer">
                                            <p class="checkout-product__calc checkout-product__general-info">
                                                <span class="checkout-product__type">Кол-во:</span>
                                                <span class="checkout-product__description">2</span>
                                            </p>
                                            <p class="checkout-product__total checkout-product__general-info">
                                                <span class="checkout-product__type">Сумма:</span>
                                                <span class="checkout-product__description">600 грн</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="checkout-product__item">
                                    <div class="checkout-product__img" v-lazy:background-image="'./img/banner-img.png'"></div>
                                    <div class="checkout-product__info">
                                        <a href="#" class="checkout-product__name">Название товара название товара</a>
                                        <p class="checkout-product__param checkout-product__general-info">
                                            <span class="checkout-product__type">Параметр:</span>
                                            <span class="checkout-product__description">значение параметра</span>
                                        </p>
                                        <div class="product-price-checkout checkout-product__general-info">
                                            <span class="checkout-product__type">Цена:</span>
                                            <p class="product__price-checkout">280грн</p>
                                        </div>
                                        <div class="checkout-product__footer">
                                            <p class="checkout-product__calc checkout-product__general-info">
                                                <span class="checkout-product__type">Кол-во:</span>
                                                <span class="checkout-product__description">2</span>
                                            </p>
                                            <p class="checkout-product__total checkout-product__general-info">
                                                <span class="checkout-product__type">Сумма:</span>
                                                <span class="checkout-product__description">600 грн</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ul class="checkout__total-list">
                            <li class="checkout__total-item">
                                <p class="checkout__total-type">Кол-во товаров в корзине</p>
                                <p class="checkout__total-description">2</p>
                            </li>
                            <li class="checkout__total-item">
                                <p class="checkout__total-type">Стоимость товаров</p>
                                <p class="checkout__total-description">950 грн</p>
                            </li>
                            <li class="checkout__total-item">
                                <p class="checkout__total-type">Ваша скидка</p>
                                <p class="checkout__total-description">50 грн</p>
                            </li>
                            <li class="checkout__total-item checkout__total-item--finish-price">
                                <p class="checkout__total-type">Всего</p>
                                <p class="checkout__total-description"> 900 грн</p>
                            </li>
                        </ul>
                        <button class="text-button text-button--checkout-site-bar js-button" data-target="help">нужна помощь?</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="social-block">
            <div class="social-block__wrapper container">
                <div class="general-header-block general-header-block--social">
                    <p class="general-header-block__caption main-caption-m">Мы в социальных сетях</p>
                    <p class="general-header-block__sub">Дополнительный текст</p>
                </div>
                <ul class="social__list">
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <span class="icon-fb"></span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <span class="icon-inst"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</template>

<script>
    export default {
        name: "checkout",
        data() {
            return {
                
            }
        },
        props:['windowWidth'],
        methods: {
        },
        created() {
            let styleLink = document.querySelector('link[rel="stylesheet"]');
            styleLink.setAttribute('href',`${styleLink.dataset.href}/mainCheckout.css`);
        },
        mounted() {
        }
    }
</script>