<template>
    <main>
        <section class="breadcrumbs">
            <div class="breadcrumbs__wrapper container">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                    <a href="#" class="breadcrumbs__link">Мой профиль</a>
                </ul>
            </div>
        </section>
        <section class="profile">
            <div class="profile__wrapper container">
                <div class="profile__header">
                    <h1 class="main-caption-l">Добро пожаловать!</h1>
                    <div class="profile__main-info">
                        <div class="profile__main-info__image" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                        <p class="profile__main-info__email">marina@gmail.com</p>
                        <div class="general-drop-wrapper general-drop-wrapper--profile-info js-drop-item">
                            <button class="profile__main-info__edit js-drop-button">
                                <span class="decor"></span>
                            </button>
                            <div class="general-drop-content__wrapper">
                                <ul class="general-drop__list">
                                    <li class="general-drop__item">
                                        <button class="general-drop__link">Выйти</button>
                                    </li>
                                    <li class="general-drop__item">
                                        <button class="general-drop__link">Удалить аккаунт</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="general-tabs">
                    <div class="general-tabs__list">
                        <button class="general-tabs__button" @click="profileTabs = 1" :class="{active: profileTabs == 1}">Мои заказы</button>
                        <button class="general-tabs__button" @click="profileTabs = 2" :class="{active: profileTabs == 2}">Мои возвраты</button>
                        <button class="general-tabs__button" @click="profileTabs = 3" :class="{active: profileTabs == 3}">Мой профиль</button>
                        <button class="general-tabs__button" @click="profileTabs = 4" :class="{active: profileTabs == 4}">мои отзывы</button>
                        <button class="general-tabs__button" @click="profileTabs = 5" :class="{active: profileTabs == 5}">избранное</button>
                        <button class="general-tabs__button" @click="profileTabs = 6" :class="{active: profileTabs == 6}">просмотренное</button>
                        <button class="general-tabs__button" @click="profileTabs = 7" :class="{active: profileTabs == 7}">мои промокоды</button>
                        <button class="general-tabs__button" @click="profileTabs = 8" :class="{active: profileTabs == 8}">настройки о рассылке</button>
                    </div>
                </div>
                <div class="profile__content" v-if="profileTabs == 1">
                    <p class="main-caption-m profile__content__caption">Мои заказы</p>
                    <div class="profile__order-table">
                        <div class="profile__order-table__header">
                            <p class="order-table-position-number">№</p>
                            <p class="order-table-position-date">Дата оформления</p>
                            <p class="order-table-position-name">Имя получателя</p>
                            <p class="order-table-position-price">Общая сумма заказа</p>
                            <p class="order-table-position-status">Статус</p>
                            <p class="order-table-position-edit"></p>
                        </div>
                        <ul class="profile__order-table__list">
                            <li class="profile__order-table__item">
                                <div class="profile__order-table__item-points order-table-position-number">
                                    <p class="type">№</p>
                                    <p class="description">123456</p>
                                </div>
                                <div class="profile__order-table__item-points order-table-position-date">
                                    <p class="type">Дата оформления</p>
                                    <p class="description">12.09.2020</p>
                                </div>
                                <div class="profile__order-table__item-points order-table-position-name">
                                    <p class="type">Имя получателя</p>
                                    <p class="description">Иванов Иван</p>
                                </div>
                                <div class="profile__order-table__item-points profile__order-table__item-points--price order-table-position-price">
                                    <p class="type">Общая сумма заказа</p>
                                    <p class="description">300 грн</p>
                                </div>
                                <div class="profile__order-table__item-points profile__order-table__item-points--status order-table-position-status">
                                    <p class="type">Статус</p>
                                    <p class="description">отправлен</p>
                                </div>
                                <div class="profile__order-table__item-points order-table-position-edit">
                                    <button class="profile__main-info__edit js-button" data-target="order-info">
                                        <span class="decor"></span>
                                    </button>
                                </div>
                            </li>
                            <li class="profile__order-table__item">
                                <div class="profile__order-table__item-points order-table-position-number">
                                    <p class="type">№</p>
                                    <p class="description">123456</p>
                                </div>
                                <div class="profile__order-table__item-points order-table-position-date">
                                    <p class="type">Дата оформления</p>
                                    <p class="description">12.09.2020</p>
                                </div>
                                <div class="profile__order-table__item-points order-table-position-name">
                                    <p class="type">Имя получателя</p>
                                    <p class="description">Иванов Иван</p>
                                </div>
                                <div class="profile__order-table__item-points profile__order-table__item-points--price order-table-position-price">
                                    <p class="type">Общая сумма заказа</p>
                                    <p class="description">300 грн</p>
                                </div>
                                <div class="profile__order-table__item-points profile__order-table__item-points--status order-table-position-status">
                                    <p class="type">Статус</p>
                                    <p class="description delivery-product">доставлен</p>
                                </div>
                                <div class="profile__order-table__item-points order-table-position-edit">
                                    <button class="profile__main-info__edit js-button" data-target="order-info">
                                        <span class="decor"></span>
                                    </button>
                                </div>
                            </li>
                            <li class="profile__order-table__item">
                                <div class="profile__order-table__item-points order-table-position-number">
                                    <p class="type">№</p>
                                    <p class="description">123456</p>
                                </div>
                                <div class="profile__order-table__item-points order-table-position-date">
                                    <p class="type">Дата оформления</p>
                                    <p class="description">12.09.2020</p>
                                </div>
                                <div class="profile__order-table__item-points order-table-position-name">
                                    <p class="type">Имя получателя</p>
                                    <p class="description">Иванов Иван</p>
                                </div>
                                <div class="profile__order-table__item-points profile__order-table__item-points--price order-table-position-price">
                                    <p class="type">Общая сумма заказа</p>
                                    <p class="description">300 грн</p>
                                </div>
                                <div class="profile__order-table__item-points profile__order-table__item-points--status order-table-position-status">
                                    <p class="type">Статус</p>
                                    <p class="description delivery-product">доставлен</p>
                                </div>
                                <div class="profile__order-table__item-points order-table-position-edit">
                                    <button class="profile__main-info__edit js-button" data-target="order-info">
                                        <span class="decor"></span>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="general-navigation">
                        <button class="general-button-more-info general-button-more-info--navigation">
                            <span class="text">загрузить еще</span>
                        </button>
                        <div class="general-pagination">
                            <button class="arrow-button arrow-button--pagination disabled">
                                <span class="icon-arrow-left"></span>
                            </button>
                            <ul class="pagination__list">
                                <li class="pagination__item active">1</li>
                                <li class="pagination__item">2</li>
                                <li class="pagination__item">3</li>
                                <li class="pagination__item pagination__item--dots">...</li>
                                <li class="pagination__item">12</li>
                            </ul>
                            <button class="arrow-button arrow-button--pagination">
                                <span class="icon-arrow-right"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="profile__content" v-if="profileTabs == 3">
                    <p class="main-caption-m profile__content__caption">Мой профиль</p>
                    <div class="profile__main-info">
                        <div class="profile__main-info__image" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                        <p class="profile__main-info__email">marina@gmail.com</p>
                        <label class="profile__main-info__change-photo">
                            <input class="input" type="file" accept=".jpg, .jpeg, .png, .svg">
                            <span>Сменить фото</span>
                        </label>
                    </div>
                    <div class="profile__information">
                        <div class="profile__information__item">
                            <p class="profile__caption">Персональные данные</p>
                            <label class="input_wrapper input_wrapper--margin-bottom">
                                <span class="input-caption">Email</span>
                                <input type="email" class="main_input" placeholder="Email">
                            </label>
                            <label class="input_wrapper input_wrapper--margin-bottom">
                                <span class="input-caption">Номер телефона</span>
                                <input type="tel" class="main_input" placeholder="+38">
                            </label>
                            <button class="text-button js-button" data-target="change-pass">Изменить пароль</button>
                        </div>
                        <div class="profile__information__item">
                            <p class="profile__caption">Информация о доставке</p>
                            <label class="input_wrapper input_wrapper--margin-bottom">
                                <span class="input-caption">Фамилия получателя</span>
                                <input type="text" class="main_input" placeholder="Фамилия получателя">
                            </label>
                            <label class="input_wrapper input_wrapper--margin-bottom">
                                <span class="input-caption">Имя получателя</span>
                                <input type="text" class="main_input" placeholder="Имя">
                            </label>
                            <label class="input_wrapper input_wrapper--margin-bottom">
                                <span class="input-caption">Номер телефона</span>
                                <input type="tel" class="main_input" placeholder="+38">
                            </label>
                            <div class="input_wrapper js-drop-item general-drop-wrapper input_wrapper--margin-bottom">
                                <span class="input-caption">Способ доставки</span>
                                <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                    <input type="text" class="main_input js-drop-input" placeholder="Способ доставки" readonly>
                                    <span class="icon-drop-arrow"></span>
                                </button>
                                <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                    <span class="general-drop__list">
                                        <span class="general-drop__item js-drop-contains">
                                            <span class="text">Способ доставки</span>
                                        </span>
                                        <span class="general-drop__item js-drop-contains">
                                            <span class="text">Способ доставки1</span>
                                        </span>
                                        <span class="general-drop__item js-drop-contains">
                                            <span class="text">Способ доставки2</span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="input_wrapper js-drop-item general-drop-wrapper input_wrapper--margin-bottom">
                                <span class="input-caption">Выберите город</span>
                                <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                    <input type="text" class="main_input js-drop-input" placeholder="Выберите город" readonly>
                                    <span class="icon-drop-arrow"></span>
                                </button>
                                <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                    <span class="general-drop__list">
                                        <span class="general-drop__item js-drop-contains">
                                            <span class="text">Харьков</span>
                                        </span>
                                        <span class="general-drop__item js-drop-contains">
                                            <span class="text">Харьков1</span>
                                        </span>
                                        <span class="general-drop__item js-drop-contains">
                                            <span class="text">Харьков2</span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="input_wrapper js-drop-item general-drop-wrapper input_wrapper--margin-bottom">
                                <span class="input-caption">Выберите отделение</span>
                                <button class="general-drop-wrapper__button general-drop-wrapper__button--inputs js-drop-button">
                                    <input type="text" class="main_input js-drop-input" placeholder="Выберите отделение" readonly>
                                    <span class="icon-drop-arrow"></span>
                                </button>
                                <span class="general-drop-content__wrapper general-drop-content__wrapper--input">
                                    <span class="general-drop__list">
                                        <span class="general-drop__item js-drop-contains">
                                            <span class="text">№24, ул.Есенина,</span>
                                        </span>
                                        <span class="general-drop__item js-drop-contains">
                                            <span class="text">№24, ул.Есенина,1</span>
                                        </span>
                                        <span class="general-drop__item js-drop-contains">
                                            <span class="text">№24, ул.Есенина,2</span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <button class="main-button main-button--profile">
                            <span class="text">сохранить изменения</span>
                        </button>
                    </div>
                </div>
                <div class="profile__content" v-if="profileTabs == 4">
                    <div class="profile__content__header">
                        <p class="main-caption-m profile__content__caption">Мои отзывы</p>
                        <button class="main-button js-button" data-target="add-reviews">
                            <span class="text">оставить отзыв магазин</span>
                        </button>
                    </div>
                    <div class="product-reviews__wrapper">
                        <ul class="product-reviews__list">
                            <li class="product-reviews__item product-reviews__item--profile">
                                <div class="product-reviews__item-info">
                                    <div class="product-reviews__item-info__img" v-lazy:background-image="'./img/product-hover-img.png'"></div>
                                    <a href="#" class="product-reviews__item-info__name">Название товара и вторая строка</a>
                                </div>
                                <div class="product-reviews__item__wrapper">
                                    <div class="product-reviews__header">
                                        <div class="product-reviews__img" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                                        <p class="product-reviews__name">Марина</p>
                                        <p class="product-reviews__date">11 июня 2020 в 23:30</p>
                                        <div class="general-drop-wrapper general-drop-wrapper--edit-reviews js-drop-item">
                                            <button class="product-reviews___button-edit js-drop-button">
                                                <span class="decor"></span>
                                            </button>
                                            <div class="general-drop-content__wrapper">
                                                <ul class="general-drop__list">
                                                    <li class="general-drop__item">
                                                        <button class="general-drop__link general-drop__link--change-reviews js-change-reviews">
                                                            <span class="edit">Редактировать отзыв</span>
                                                            <span class="save">Сохранить</span>
                                                        </button>
                                                    </li>
                                                    <li class="general-drop__item">
                                                        <button class="general-drop__link">Удалить отзыв</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-reviews__info">
                                        <ul class="star__list star__list-checked">
                                            <li class="star__item">
                                                <span class="icon-star"></span>
                                            </li>
                                            <li class="star__item active">
                                                <span class="icon-star"></span>
                                            </li>
                                            <li class="star__item">
                                                <span class="icon-star"></span>
                                            </li>
                                            <li class="star__item">
                                                <span class="icon-star"></span>
                                            </li>
                                            <li class="star__item">
                                                <span class="icon-star"></span>
                                            </li>
                                        </ul>
                                        <p class="product-reviews__info__status">Товар понравился</p>
                                    </div>
                                    <div class="product-reviews-photo">
                                        <div class="product-reviews-photo__list">
                                            <button class="product-reviews-photo__item js-button js-reviews-photo" data-target="reviews-photo" v-lazy:background-image="'./img/reviews-photo-full.png'"></button>
                                            <button class="product-reviews-photo__item js-button js-reviews-photo" data-target="reviews-photo" v-lazy:background-image="'./img/reviews-photo-full.png'"></button>
                                            <button class="product-reviews-photo__item js-button js-reviews-photo" data-target="reviews-photo" v-lazy:background-image="'./img/reviews-photo-full.png'"></button>
                                        </div>
                                    </div>
                                    <div class="product-reviews__text">
                                        <div class="hide-block-for-text js-change-text">
                                            <p>Таким образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития</p>
                                        </div>
                                        <textarea class="change-reviews js-change-textarea" readonly >Таким образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития</textarea>
                                    </div>
                                    <div class="product-reviews__footer">
                                        <div class="product-reviews__footer__wrapper">
                                            <p class="product-reviews__footer__caption product-reviews__footer__caption--profile">Отзыв полезен <span> 5 пользователям </span></p>
                                            <p class="text-button text-button--reviews-answer text-button--profile-disabled">ответы (0)</p>
                                        </div>
                                    </div>
                                    <ul class="product-reviews__list">
                                        <li class="product-reviews__item">
                                            <div class="product-reviews__header">
                                                <div class="product-reviews__img" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                                                <p class="product-reviews__name">Представитель магазина</p>
                                                <p class="product-reviews__date">11 июня 2020 в 23:30</p>
                                            </div>
                                            <div class="product-reviews__info">
                                                <ul class="star__list star__list-checked">
                                                    <li class="star__item">
                                                        <span class="icon-star"></span>
                                                    </li>
                                                    <li class="star__item active">
                                                        <span class="icon-star"></span>
                                                    </li>
                                                    <li class="star__item">
                                                        <span class="icon-star"></span>
                                                    </li>
                                                    <li class="star__item">
                                                        <span class="icon-star"></span>
                                                    </li>
                                                    <li class="star__item">
                                                        <span class="icon-star"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="product-reviews__text">
                                                <p>Таким образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития</p>
                                            </div>
                                            <div class="product-reviews__footer js-drop-item">
                                                <div class="product-reviews__footer__wrapper">
                                                    <p class="product-reviews__footer__caption">Ответ полезен?</p>
                                                    <ul class="product__parameters__list">
                                                        <li class="product__parameters__item">да<span>(5)</span></li>
                                                        <li class="product__parameters__item">нет<span>(5)</span></li>
                                                    </ul>
                                                    <button class="text-button text-button--reviews-answer js-drop-button">ответить (0)</button>
                                                </div>
                                                <div class="product-reviews__add-comment">
                                                    <form action="product-reviews__add-comment__form">
                                                        <div class="product-reviews__header">
                                                            <div class="product-reviews__img" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                                                            <p class="product-reviews__name">Марина</p>
                                                        </div>
                                                        <label class="input_wrapper input_wrapper--margin-bottom">
                                                            <input type="text" class="main_input" placeholder="Ваш ответ">
                                                        </label>
                                                        <div class="product-reviews__add-comment__buttons">
                                                            <button type="button" class="text-button js-drop-button">отмена</button>
                                                            <button class="main-button main-button--small">
                                                                <span class="text">ответить</span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="product-reviews__item product-reviews__item--profile">
                                <div class="product-reviews__item__wrapper">
                                    <div class="product-reviews__header">
                                        <div class="product-reviews__img" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                                        <p class="product-reviews__name">Марина</p>
                                        <p class="product-reviews__date">11 июня 2020 в 23:30</p>
                                        <div class="general-drop-wrapper general-drop-wrapper--edit-reviews js-drop-item">
                                            <button class="product-reviews___button-edit js-drop-button">
                                                <span class="decor"></span>
                                            </button>
                                            <div class="general-drop-content__wrapper">
                                                <ul class="general-drop__list">
                                                    <li class="general-drop__item">
                                                        <button class="general-drop__link general-drop__link--change-reviews js-change-reviews">
                                                            <span class="edit">Редактировать отзыв</span>
                                                            <span class="save">Сохранить</span>
                                                        </button>
                                                    </li>
                                                    <li class="general-drop__item">
                                                        <button class="general-drop__link">Удалить отзыв</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-reviews__info">
                                        <ul class="star__list star__list-checked">
                                            <li class="star__item">
                                                <span class="icon-star"></span>
                                            </li>
                                            <li class="star__item active">
                                                <span class="icon-star"></span>
                                            </li>
                                            <li class="star__item">
                                                <span class="icon-star"></span>
                                            </li>
                                            <li class="star__item">
                                                <span class="icon-star"></span>
                                            </li>
                                            <li class="star__item">
                                                <span class="icon-star"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-reviews__text">
                                        <div class="hide-block-for-text js-change-text">
                                            <p>Таким образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития</p>
                                        </div>
                                        <textarea class="change-reviews js-change-textarea" readonly >Таким образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития</textarea>
                                    </div>
                                    <div class="product-reviews__footer js-drop-item">
                                        <div class="product-reviews__footer__wrapper">
                                            <p class="product-reviews__footer__caption product-reviews__footer__caption--profile">Отзыв полезен <span> 5 пользователям </span></p>
                                            <p class="text-button text-button--reviews-answer text-button--profile-disabled">ответы (0)</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="product-reviews__item product-reviews__item--profile">
                                <div class="product-reviews__item-info">
                                    <div class="product-reviews__item-info__img" v-lazy:background-image="'./img/product-hover-img.png'"></div>
                                    <a href="#" class="product-reviews__item-info__name">Название товара и вторая строка</a>
                                </div>
                                <div class="product-reviews__item__wrapper">
                                    <div class="product-reviews__header">
                                        <div class="product-reviews__img" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                                        <p class="product-reviews__name">Марина</p>
                                        <p class="product-reviews__date">11 июня 2020 в 23:30</p>
                                        <div class="general-drop-wrapper general-drop-wrapper--edit-reviews js-drop-item">
                                            <button class="product-reviews___button-edit js-drop-button">
                                                <span class="decor"></span>
                                            </button>
                                            <div class="general-drop-content__wrapper">
                                                <ul class="general-drop__list">
                                                    <li class="general-drop__item">
                                                        <button class="general-drop__link general-drop__link--change-reviews js-change-reviews">
                                                            <span class="edit">Редактировать отзыв</span>
                                                            <span class="save">Сохранить</span>
                                                        </button>
                                                    </li>
                                                    <li class="general-drop__item">
                                                        <button class="general-drop__link">Удалить отзыв</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-reviews__info">
                                        <ul class="star__list star__list-checked">
                                            <li class="star__item">
                                                <span class="icon-star"></span>
                                            </li>
                                            <li class="star__item active">
                                                <span class="icon-star"></span>
                                            </li>
                                            <li class="star__item">
                                                <span class="icon-star"></span>
                                            </li>
                                            <li class="star__item">
                                                <span class="icon-star"></span>
                                            </li>
                                            <li class="star__item">
                                                <span class="icon-star"></span>
                                            </li>
                                        </ul>
                                        <p class="product-reviews__info__status">Товар понравился</p>
                                    </div>
                                    <div class="product-reviews__text">
                                        <div class="hide-block-for-text js-change-text">
                                            <p>Таким образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития</p>
                                        </div>
                                        <textarea class="change-reviews js-change-textarea" readonly >Таким образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития</textarea>
                                    </div>
                                    <div class="product-reviews__footer">
                                        <div class="product-reviews__footer__wrapper">
                                            <p class="product-reviews__footer__caption product-reviews__footer__caption--profile">Отзыв полезен <span> 5 пользователям </span></p>
                                            <p class="text-button text-button--reviews-answer text-button--profile-disabled">ответы (0)</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="profile__content" v-if="profileTabs == 5">
                    <p class="main-caption-m profile__content__caption">Избранное</p>
                    <div class="position-wrapper">
                        <ul class="products-list position-wrapper__list">
                            <li class="products-item products-item--parameters">
                                <button class="products-item__open-popup js-button" data-target="product"></button>
                                <div class="products-item__img">
                                    <img v-lazy="'./img/banner-img.png'" alt="title">
                                    <img v-lazy="'./img/product-hover-img.png'" alt="title">
                                </div>
                                <div class="products-item__container">
                                    <div class="products-item__main-info">
                                        <p class="products-item__category">Категория</p>
                                        <a href="#" class="products-item__link">Название товара и, конечно же, место для второй строки</a>
                                        <div class="product-item__price product-price">
                                            <p class="product__old-price product__old-price--item">300грн</p>
                                            <p class="product__price product__price--item">280грн</p>
                                        </div>
                                    </div>
                                    <div class="products-item__parameters">
                                        <ul class="product-category__color-list">
                                            <li class="product-category__color-item" style="background-color: red"></li>
                                            <li class="product-category__color-item" style="background-color: blue"></li>
                                            <li class="product-category__color-item" style="background-color: blueviolet"></li>
                                        </ul>
                                    </div>
                                </div>
                                <button class="add-to-favorite">
                                    <span class="icon-add-favorite"></span>
                                </button>
                                <div class="product-noty product-noty--products-item">SALE</div>
                            </li>
                            <li class="products-item products-item--parameters">
                                <button class="products-item__open-popup js-button" data-target="product"></button>
                                <div class="products-item__img">
                                    <img v-lazy="'./img/banner-img.png'" alt="title">
                                    <img v-lazy="'./img/product-hover-img.png'" alt="title">
                                </div>
                                <div class="products-item__container">
                                    <div class="products-item__main-info">
                                        <p class="products-item__category">Категория</p>
                                        <a href="#" class="products-item__link">Название товара и, конечно же, место для второй строки</a>
                                        <div class="product-item__price product-price">
                                            <p class="product__old-price product__old-price--item">300грн</p>
                                            <p class="product__price product__price--item">280грн</p>
                                        </div>
                                    </div>
                                    <div class="products-item__parameters">
                                        <ul class="product-category__color-list">
                                            <li class="product-category__color-item" style="background-color: red"></li>
                                            <li class="product-category__color-item" style="background-color: blue"></li>
                                            <li class="product-category__color-item" style="background-color: blueviolet"></li>
                                        </ul>
                                    </div>
                                </div>
                                <button class="add-to-favorite">
                                    <span class="icon-add-favorite"></span>
                                </button>
                                <div class="product-noty product-noty--products-item">SALE</div>
                            </li>
                            <li class="products-item">
                                <button class="products-item__open-popup js-button" data-target="product"></button>
                                <div class="products-item__img">
                                    <img v-lazy="'./img/banner-img.png'" alt="title">
                                    <img v-lazy="'./img/product-hover-img.png'" alt="title">
                                </div>
                                <div class="products-item__container">
                                    <div class="products-item__main-info">
                                        <p class="products-item__category">Категория</p>
                                        <a href="#" class="products-item__link">Название товара и, конечно же, место для второй строки</a>
                                        <div class="product-item__price product-price">
                                            <p class="product__old-price product__old-price--item">300грн</p>
                                            <p class="product__price product__price--item">280грн</p>
                                        </div>
                                    </div>
                                </div>
                                <button class="add-to-favorite">
                                    <span class="icon-add-favorite"></span>
                                </button>
                                <div class="product-noty product-noty--products-item">SALE</div>
                            </li>
                            <li class="products-item">
                                <button class="products-item__open-popup js-button" data-target="product"></button>
                                <div class="products-item__img">
                                    <img v-lazy="'./img/banner-img.png'" alt="title">
                                    <img v-lazy="'./img/product-hover-img.png'" alt="title">
                                </div>
                                <div class="products-item__container">
                                    <div class="products-item__main-info">
                                        <p class="products-item__category">Категория</p>
                                        <a href="#" class="products-item__link">Название товара и, конечно же, место для второй строки</a>
                                        <div class="product-item__price product-price">
                                            <p class="product__old-price product__old-price--item">300грн</p>
                                            <p class="product__price product__price--item">280грн</p>
                                        </div>
                                    </div>
                                </div>
                                <button class="add-to-favorite">
                                    <span class="icon-add-favorite"></span>
                                </button>
                                <div class="product-noty product-noty--products-item">SALE</div>
                            </li>
                            <li class="products-item products-item--parameters">
                                <button class="products-item__open-popup js-button" data-target="product"></button>
                                <div class="products-item__img">
                                    <img v-lazy="'./img/banner-img.png'" alt="title">
                                    <img v-lazy="'./img/product-hover-img.png'" alt="title">
                                </div>
                                <div class="products-item__container">
                                    <div class="products-item__main-info">
                                        <p class="products-item__category">Категория</p>
                                        <a href="#" class="products-item__link">Название товара и, конечно же, место для второй строки</a>
                                        <div class="product-item__price product-price">
                                            <p class="product__old-price product__old-price--item">300грн</p>
                                            <p class="product__price product__price--item">280грн</p>
                                        </div>
                                    </div>
                                    <div class="products-item__parameters">
                                        <ul class="product-category__color-list">
                                            <li class="product-category__color-item" style="background-color: red"></li>
                                            <li class="product-category__color-item" style="background-color: blue"></li>
                                            <li class="product-category__color-item" style="background-color: blueviolet"></li>
                                        </ul>
                                    </div>
                                </div>
                                <button class="add-to-favorite">
                                    <span class="icon-add-favorite"></span>
                                </button>
                                <div class="product-noty product-noty--products-item">SALE</div>
                            </li>
                            <li class="products-item products-item--parameters">
                                <button class="products-item__open-popup js-button" data-target="product"></button>
                                <div class="products-item__img">
                                    <img v-lazy="'./img/banner-img.png'" alt="title">
                                    <img v-lazy="'./img/product-hover-img.png'" alt="title">
                                </div>
                                <div class="products-item__container">
                                    <div class="products-item__main-info">
                                        <p class="products-item__category">Категория</p>
                                        <a href="#" class="products-item__link">Название товара и, конечно же, место для второй строки</a>
                                        <div class="product-item__price product-price">
                                            <p class="product__old-price product__old-price--item">300грн</p>
                                            <p class="product__price product__price--item">280грн</p>
                                        </div>
                                    </div>
                                    <div class="products-item__parameters">
                                        <ul class="product-category__color-list">
                                            <li class="product-category__color-item" style="background-color: red"></li>
                                            <li class="product-category__color-item" style="background-color: blue"></li>
                                            <li class="product-category__color-item" style="background-color: blueviolet"></li>
                                        </ul>
                                    </div>
                                </div>
                                <button class="add-to-favorite">
                                    <span class="icon-add-favorite"></span>
                                </button>
                                <div class="product-noty product-noty--products-item">SALE</div>
                            </li>
                            <li class="products-item">
                                <button class="products-item__open-popup js-button" data-target="product"></button>
                                <div class="products-item__img">
                                    <img v-lazy="'./img/banner-img.png'" alt="title">
                                    <img v-lazy="'./img/product-hover-img.png'" alt="title">
                                </div>
                                <div class="products-item__container">
                                    <div class="products-item__main-info">
                                        <p class="products-item__category">Категория</p>
                                        <a href="#" class="products-item__link">Название товара и, конечно же, место для второй строки</a>
                                        <div class="product-item__price product-price">
                                            <p class="product__old-price product__old-price--item">300грн</p>
                                            <p class="product__price product__price--item">280грн</p>
                                        </div>
                                    </div>
                                </div>
                                <button class="add-to-favorite">
                                    <span class="icon-add-favorite"></span>
                                </button>
                                <div class="product-noty product-noty--products-item">SALE</div>
                            </li>
                            <li class="products-item">
                                <button class="products-item__open-popup js-button" data-target="product"></button>
                                <div class="products-item__img">
                                    <img v-lazy="'./img/banner-img.png'" alt="title">
                                    <img v-lazy="'./img/product-hover-img.png'" alt="title">
                                </div>
                                <div class="products-item__container">
                                    <div class="products-item__main-info">
                                        <p class="products-item__category">Категория</p>
                                        <a href="#" class="products-item__link">Название товара и, конечно же, место для второй строки</a>
                                        <div class="product-item__price product-price">
                                            <p class="product__old-price product__old-price--item">300грн</p>
                                            <p class="product__price product__price--item">280грн</p>
                                        </div>
                                    </div>
                                </div>
                                <button class="add-to-favorite">
                                    <span class="icon-add-favorite"></span>
                                </button>
                                <div class="product-noty product-noty--products-item">SALE</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="profile__content" v-if="profileTabs == 7">
                    <p class="main-caption-m profile__content__caption">Мои промокоды</p>
                    <p class="promo-code-sub-caption">Доступные</p>
                    <ul class="promo-code__list">
                        <li class="promo-code__item">
                            <div class="promo-code__img" v-lazy:background-image="'./img/promo-code-img.png'"></div>
                            <div class="promo-code__info">
                                <p class="promo-code__time">Промокод активен до 18.09.2020</p>
                                <p class="promo-code__name">Выгода до 70% на женские коллекции!</p>
                                <p class="promo-code__text">Зайдите в раздел распродажи по ссылке и покупайте товары из женских коллекций с большой экономией</p>
                            </div>
                            <div class="promo-code__buttons">
                                <div class="general-drop-wrapper general-drop-wrapper--promo-code js-drop-item">
                                        <button class="promo-code__social-button js-drop-button">
                                        <span class="icon-social"></span>
                                    </button>
                                    <div class="general-drop-content__wrapper general-drop-content__wrapper--promo-code">
                                        <ul class="social__list social__list--inner-content">
                                            <li class="social__item">
                                                <a href="#" class="social__link social__link--fb">
                                                    <span class="icon-fb"></span>
                                                </a>
                                            </li>
                                            <li class="social__item">
                                                <a href="#" class="social__link">
                                                    <span class="icon-whatsapp"></span>
                                                </a>
                                            </li>
                                            <li class="social__item">
                                                <a href="#" class="social__link social__link--telegram">
                                                    <span class="icon-telegram"></span>
                                                </a>
                                            </li>
                                            <li class="social__item">
                                                <a href="#" class="social__link">
                                                    <span class="icon-viber"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <button class="main-button main-button--promo-code">
                                    <span class="text">использовать промокод</span>
                                    <span class="icon-drop-arrow"></span>
                                </button>
                            </div>
                        </li>
                        <li class="promo-code__item">
                            <div class="promo-code__img" v-lazy:background-image="'./img/promo-code-img.png'"></div>
                            <div class="promo-code__info">
                                <p class="promo-code__time">Промокод активен до 18.09.2020</p>
                                <p class="promo-code__name">Выгода до 70% на женские коллекции!</p>
                                <p class="promo-code__text">Зайдите в раздел распродажи по ссылке и покупайте товары из женских коллекций с большой экономией</p>
                            </div>
                            <div class="promo-code__buttons">
                                <div class="general-drop-wrapper general-drop-wrapper--promo-code js-drop-item">
                                        <button class="promo-code__social-button js-drop-button">
                                        <span class="icon-social"></span>
                                    </button>
                                    <div class="general-drop-content__wrapper general-drop-content__wrapper--promo-code">
                                        <ul class="social__list social__list--inner-content">
                                            <li class="social__item">
                                                <a href="#" class="social__link social__link--fb">
                                                    <span class="icon-fb"></span>
                                                </a>
                                            </li>
                                            <li class="social__item">
                                                <a href="#" class="social__link">
                                                    <span class="icon-whatsapp"></span>
                                                </a>
                                            </li>
                                            <li class="social__item">
                                                <a href="#" class="social__link social__link--telegram">
                                                    <span class="icon-telegram"></span>
                                                </a>
                                            </li>
                                            <li class="social__item">
                                                <a href="#" class="social__link">
                                                    <span class="icon-viber"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <button class="main-button main-button--promo-code">
                                    <span class="text">использовать промокод</span>
                                    <span class="icon-drop-arrow"></span>
                                </button>
                            </div>
                        </li>
                    </ul>
                    <p class="promo-code-sub-caption">Недействующие</p>
                    <ul class="promo-code__list promo-code__list--disabled">
                        <li class="promo-code__item">
                            <div class="promo-code__img" v-lazy:background-image="'./img/promo-code-img.png'"></div>
                            <div class="promo-code__info">
                                <p class="promo-code__time">Промокод активен до 18.09.2020</p>
                                <p class="promo-code__name">Выгода до 70% на женские коллекции!</p>
                                <p class="promo-code__text">Зайдите в раздел распродажи по ссылке и покупайте товары из женских коллекций с большой экономией</p>
                            </div>
                            <div class="promo-code__buttons">
                                <div class="general-drop-wrapper general-drop-wrapper--promo-code js-drop-item">
                                        <button class="promo-code__social-button js-drop-button">
                                        <span class="icon-social"></span>
                                    </button>
                                    <div class="general-drop-content__wrapper general-drop-content__wrapper--promo-code">
                                        <ul class="social__list social__list--inner-content">
                                            <li class="social__item">
                                                <a href="#" class="social__link social__link--fb">
                                                    <span class="icon-fb"></span>
                                                </a>
                                            </li>
                                            <li class="social__item">
                                                <a href="#" class="social__link">
                                                    <span class="icon-whatsapp"></span>
                                                </a>
                                            </li>
                                            <li class="social__item">
                                                <a href="#" class="social__link social__link--telegram">
                                                    <span class="icon-telegram"></span>
                                                </a>
                                            </li>
                                            <li class="social__item">
                                                <a href="#" class="social__link">
                                                    <span class="icon-viber"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <button class="main-button main-button--promo-code">
                                    <span class="text">использовать промокод</span>
                                    <span class="icon-drop-arrow"></span>
                                </button>
                            </div>
                        </li>
                        <li class="promo-code__item">
                            <div class="promo-code__img" v-lazy:background-image="'./img/promo-code-img.png'"></div>
                            <div class="promo-code__info">
                                <p class="promo-code__time">Промокод активен до 18.09.2020</p>
                                <p class="promo-code__name">Выгода до 70% на женские коллекции!</p>
                                <p class="promo-code__text">Зайдите в раздел распродажи по ссылке и покупайте товары из женских коллекций с большой экономией</p>
                            </div>
                            <div class="promo-code__buttons">
                                <div class="general-drop-wrapper general-drop-wrapper--promo-code js-drop-item">
                                        <button class="promo-code__social-button js-drop-button">
                                        <span class="icon-social"></span>
                                    </button>
                                    <div class="general-drop-content__wrapper general-drop-content__wrapper--promo-code">
                                        <ul class="social__list social__list--inner-content">
                                            <li class="social__item">
                                                <a href="#" class="social__link social__link--fb">
                                                    <span class="icon-fb"></span>
                                                </a>
                                            </li>
                                            <li class="social__item">
                                                <a href="#" class="social__link">
                                                    <span class="icon-whatsapp"></span>
                                                </a>
                                            </li>
                                            <li class="social__item">
                                                <a href="#" class="social__link social__link--telegram">
                                                    <span class="icon-telegram"></span>
                                                </a>
                                            </li>
                                            <li class="social__item">
                                                <a href="#" class="social__link">
                                                    <span class="icon-viber"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <button class="main-button main-button--promo-code">
                                    <span class="text">использовать промокод</span>
                                    <span class="icon-drop-arrow"></span>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="profile__content" v-if="profileTabs == 8">
                    <p class="main-caption-m profile__content__caption">Настройки о рассылке</p>
                    <label class="input_wrapper input_wrapper--profile-email input_wrapper--margin-bottom">
                        <span class="input-caption">Email</span>
                        <input type="email" class="main_input" placeholder="Email">
                    </label>
                    <div class="profile-email__item">
                        <p class="profile-email__caption">Уведомления о новых товарах, распродажах, и т.п</p>
                        <p class="profile-email__text">Таким образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития.</p>
                        <label class="radio__wrapper radio__wrapper--margin-bottom">
                            <input type="radio" class="input-radio" name="noty" value=" Да, я хочу получать уведомления" checked>
                            <span class="custome-radio"></span>
                            <span class="text"> Да, я хочу получать уведомления</span>
                        </label>
                        <label class="radio__wrapper radio__wrapper--margin-bottom">
                            <input type="radio" class="input-radio" name="noty" value=" Да, я хочу получать только 1 еженедельную рассылку">
                            <span class="custome-radio"></span>
                            <span class="text"> Да, я хочу получать только 1 еженедельную рассылку</span>
                        </label>
                        <label class="radio__wrapper">
                            <input type="radio" class="input-radio" name="noty" value="Нет, я хочу отказаться от рассылке">
                            <span class="custome-radio"></span>
                            <span class="text">Нет, я хочу отказаться от рассылке</span>
                        </label>
                    </div>
                    <div class="profile-email__item">
                        <p class="profile-email__caption">Сервисные электронные письма</p>
                        <p class="profile-email__text">Таким образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития.</p>
                        <label class="radio__wrapper radio__wrapper--margin-bottom">
                            <input type="radio" class="input-radio" name="noty1" value=" Да, я хочу получать уведомления" checked>
                            <span class="custome-radio"></span>
                            <span class="text"> Да, я хочу получать уведомления</span>
                        </label>
                        <label class="radio__wrapper radio__wrapper--margin-bottom">
                            <input type="radio" class="input-radio" name="noty1" value=" Да, я хочу получать только 1 еженедельную рассылку">
                            <span class="custome-radio"></span>
                            <span class="text"> Да, я хочу получать только 1 еженедельную рассылку</span>
                        </label>
                        <label class="radio__wrapper">
                            <input type="radio" class="input-radio" name="noty1" value="Нет, я хочу отказаться от рассылке">
                            <span class="custome-radio"></span>
                            <span class="text">Нет, я хочу отказаться от рассылке</span>
                        </label>
                    </div>
                    <div class="profile-email__item">
                        <p class="profile-email__caption"> SMS - уведомления </p>
                        <p class="profile-email__text">Таким образом консультация</p>
                        <label class="radio__wrapper radio__wrapper--margin-bottom">
                            <input type="radio" class="input-radio" name="noty2" value=" Да, я хочу получать уведомления" checked>
                            <span class="custome-radio"></span>
                            <span class="text"> Да, я хочу получать уведомления</span>
                        </label>
                        <label class="radio__wrapper radio__wrapper--margin-bottom">
                            <input type="radio" class="input-radio" name="noty2" value=" Да, я хочу получать только 1 еженедельную рассылку">
                            <span class="custome-radio"></span>
                            <span class="text"> Да, я хочу получать только 1 еженедельную рассылку</span>
                        </label>
                        <label class="radio__wrapper">
                            <input type="radio" class="input-radio" name="noty2" value="Нет, я хочу отказаться от рассылке">
                            <span class="custome-radio"></span>
                            <span class="text">Нет, я хочу отказаться от рассылке</span>
                        </label>
                    </div>
                    <button class="main-button">
                        <span class="text">сохранить</span>
                    </button>
                </div>
            </div>
        </section>
        <section class="social-block">
            <div class="social-block__wrapper container">
                <div class="general-header-block general-header-block--social">
                    <p class="general-header-block__caption main-caption-m">Мы в социальных сетях</p>
                    <p class="general-header-block__sub">Дополнительный текст</p>
                </div>
                <ul class="social__list">
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <span class="icon-fb"></span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <span class="icon-inst"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
                <section class="popup popup-form popup-order-info js-popup" data-target="order-info">
            <button class="close__popup js-close">
                <span class="icon-close"></span>
            </button>
            <div class="popup__wrapper">
                <p class="popup__caption">Заказ № 234543</p>
                <ul class="popup-order-info__list">
                    <li class="popup-order-info__item">
                        <p class="type">Получатель:</p>
                        <p class="description">Иванов Иван</p>
                    </li>
                    <li class="popup-order-info__item">
                        <p class="type">Номер телефона:</p>
                        <p class="description">+380509876675</p>
                    </li>
                    <li class="popup-order-info__item">
                        <p class="type">Email:</p>
                        <p class="description">email@mail.com</p>
                    </li>
                    <li class="popup-order-info__item">
                        <p class="type">Город:</p>
                        <p class="description">Харьков</p>
                    </li>
                    <li class="popup-order-info__item">
                        <p class="type">Способ доставки:</p>
                        <p class="description">Новая почта</p>
                    </li>
                    <li class="popup-order-info__item">
                        <p class="type">Отделение:</p>
                        <p class="description">№25, ул. Пушкинская, 25</p>
                    </li>
                    <li class="popup-order-info__item">
                        <p class="type"> Способ оплаты:</p>
                        <p class="description">Банковской картой</p>
                    </li>
                    <li class="popup-order-info__item">
                        <p class="type">Комментарий к заказу:</p>
                        <p class="description">Хорошо упаковать</p>
                    </li>
                </ul>
                <ul class="popup-order__product-list">
                    <li class="popup-order__product-item">
                        <div class="popup-order__product__img" v-lazy:background-image="'./img/product-img.png'"></div>
                        <div class="popup-order__product__info">
                            <p class="popup-order__product__name">Название товара в две строки</p>
                            <p class="popup-order__product__param">Параметр: <span>значение параметра</span></p>
                            <div class="popup-order__product__footer">
                                <p class="popup-order__product__param">Кол-во:<span>2×200 грн</span></p>
                                <p class="popup-order__product__price">400 грн</p>
                            </div>
                        </div>
                    </li>
                    <li class="popup-order__product-item">
                        <div class="popup-order__product__img" v-lazy:background-image="'./img/product-img.png'"></div>
                        <div class="popup-order__product__info">
                            <p class="popup-order__product__name">Название товара</p>
                            <p class="popup-order__product__param">Параметр: <span>значение параметра</span></p>
                            <div class="popup-order__product__footer">
                                <p class="popup-order__product__param">Кол-во:<span>2×200 грн</span></p>
                                <p class="popup-order__product__price">400 грн</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="popup-order__total-price">
                    <p class="popup-order__product__param">Общая сумма заказа: <strong>800 грн</strong></p>
                </div>
                <!-- Когда доставленно -->
                <button class="main-button main-button--width">
                    <span class="text">повторить заказ</span>
                </button>
                <!-- Когда отправленно -->
                <!-- <button class="general-batton-more">
                    <span class="text">отследить заказ</span>
                </button> -->
            </div>
        </section>
        <add-reviews></add-reviews>
    </main>
</template>

<script>
    export default {
        name: "faq",
        data() {
            return {
                profileTabs: 1,
            }
        },
        props:['windowWidth'],
        components: {
            addReviews: () => import('../addReviews'),
        },
        methods: {
            setStar() {
                let starsItem = document.querySelectorAll('.js-star-item');
                let starInput = document.querySelector('.js-stars-input');
                let starList = document.querySelector('.js-star-list');
                starsItem.forEach((item) =>{
                    item.addEventListener('click',function(){
                        let starValuse = item.getAttribute('data-target');
                        starInput.setAttribute('value', starValuse);
                        starList.classList.add('star__list-checked');
                        
                        for(var i = 0; starsItem.length > i; i++) {
                            starsItem[i].classList.remove('active');
                        }
                        item.classList.add('active');
                    });
                });
            },
            changeComents() {
                let textAreaAll = document.querySelectorAll('.js-change-textarea');
                let textHideblockAll = document.querySelectorAll('.js-change-text p');
                let buttonsChange = document.querySelectorAll('.js-change-reviews');
                
                function setHightTextArea() {
                    if(textHideblockAll){
                        for(let i = 0; textAreaAll.length > i; i++){
                            let textHideblockHeight = textHideblockAll[i].offsetHeight;
                            textAreaAll[i].setAttribute('style', `height: ${textHideblockHeight}px`);
                        }
                    }
                }
                
                function changeReviews() {
                    if(buttonsChange){
                        for(let i = 0; buttonsChange.length > i; i++){
                            buttonsChange[i].addEventListener('click', function(){
                                this.classList.toggle('active');
                                if(textAreaAll[i].hasAttribute('readonly')) {
                                    textAreaAll[i].removeAttribute('readonly');
                                    textAreaAll[i].focus();
                                }else {
                                    textAreaAll[i].setAttribute('readonly', "");
                                    textHideblockAll[i].innerHTML = textAreaAll[i].value;
                                    setHightTextArea();
                                }
                            });
                        }
                    }
                }
                
                window.addEventListener('resize', function() {
                    changeReviews();
                    setHightTextArea();
                });
                
                changeReviews();
                setHightTextArea();
            }
        },
        created() {
            let styleLink = document.querySelector('link[rel="stylesheet"]');
            styleLink.setAttribute('href',`${styleLink.dataset.href}/mainProfile.css`);
        },
        mounted() {
            setTimeout(() => {
                this.changeComents();
                this.setStar();
            }, 2000);
        }
    }
</script>