<template>
    <main>
        <section class="breadcrumbs">
            <div class="breadcrumbs__wrapper container">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                    <a href="#" class="breadcrumbs__link">Промокоды</a>
                </ul>
            </div>
        </section>
        <section class="promo-code">
            <div class="promo-code__wrapper container">
                <p class="main-caption-l promo-code__main-caption">Промокоды</p>
                <p class="promo-code-sub-caption">Доступные</p>
                <ul class="promo-code__list">
                    <li class="promo-code__item">
                        <div class="promo-code__img" v-lazy:background-image="'./img/promo-code-img.png'"></div>
                        <div class="promo-code__info">
                            <p class="promo-code__time">Промокод активен до 18.09.2020</p>
                            <p class="promo-code__name">Выгода до 70% на женские коллекции!</p>
                            <p class="promo-code__text">Зайдите в раздел распродажи по ссылке и покупайте товары из женских коллекций с большой экономией</p>
                        </div>
                        <div class="promo-code__buttons">
                            <div class="general-drop-wrapper general-drop-wrapper--promo-code js-drop-item">
                                    <button class="promo-code__social-button js-drop-button">
                                    <span class="icon-social"></span>
                                </button>
                                <div class="general-drop-content__wrapper general-drop-content__wrapper--promo-code">
                                    <ul class="social__list social__list--inner-content">
                                        <li class="social__item">
                                            <a href="#" class="social__link social__link--fb">
                                                <span class="icon-fb"></span>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="#" class="social__link">
                                                <span class="icon-whatsapp"></span>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="#" class="social__link social__link--telegram">
                                                <span class="icon-telegram"></span>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="#" class="social__link">
                                                <span class="icon-viber"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="main-button main-button--promo-code">
                                <span class="text">использовать промокод</span>
                                <span class="icon-drop-arrow"></span>
                            </button>
                        </div>
                    </li>
                    <li class="promo-code__item">
                        <div class="promo-code__img" v-lazy:background-image="'./img/promo-code-img.png'"></div>
                        <div class="promo-code__info">
                            <p class="promo-code__time">Промокод активен до 18.09.2020</p>
                            <p class="promo-code__name">Выгода до 70% на женские коллекции!</p>
                            <p class="promo-code__text">Зайдите в раздел распродажи по ссылке и покупайте товары из женских коллекций с большой экономией</p>
                        </div>
                        <div class="promo-code__buttons">
                            <div class="general-drop-wrapper general-drop-wrapper--promo-code js-drop-item">
                                    <button class="promo-code__social-button js-drop-button">
                                    <span class="icon-social"></span>
                                </button>
                                <div class="general-drop-content__wrapper general-drop-content__wrapper--promo-code">
                                    <ul class="social__list social__list--inner-content">
                                        <li class="social__item">
                                            <a href="#" class="social__link social__link--fb">
                                                <span class="icon-fb"></span>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="#" class="social__link">
                                                <span class="icon-whatsapp"></span>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="#" class="social__link social__link--telegram">
                                                <span class="icon-telegram"></span>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="#" class="social__link">
                                                <span class="icon-viber"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="main-button main-button--promo-code">
                                <span class="text">использовать промокод</span>
                                <span class="icon-drop-arrow"></span>
                            </button>
                        </div>
                    </li>
                </ul>
                <p class="promo-code-sub-caption">Недействующие</p>
                <ul class="promo-code__list promo-code__list--disabled">
                    <li class="promo-code__item">
                        <div class="promo-code__img" v-lazy:background-image="'./img/promo-code-img.png'"></div>
                        <div class="promo-code__info">
                            <p class="promo-code__time">Промокод активен до 18.09.2020</p>
                            <p class="promo-code__name">Выгода до 70% на женские коллекции!</p>
                            <p class="promo-code__text">Зайдите в раздел распродажи по ссылке и покупайте товары из женских коллекций с большой экономией</p>
                        </div>
                        <div class="promo-code__buttons">
                            <div class="general-drop-wrapper general-drop-wrapper--promo-code js-drop-item">
                                    <button class="promo-code__social-button js-drop-button">
                                    <span class="icon-social"></span>
                                </button>
                                <div class="general-drop-content__wrapper general-drop-content__wrapper--promo-code">
                                    <ul class="social__list social__list--inner-content">
                                        <li class="social__item">
                                            <a href="#" class="social__link social__link--fb">
                                                <span class="icon-fb"></span>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="#" class="social__link">
                                                <span class="icon-whatsapp"></span>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="#" class="social__link social__link--telegram">
                                                <span class="icon-telegram"></span>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="#" class="social__link">
                                                <span class="icon-viber"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="main-button main-button--promo-code">
                                <span class="text">использовать промокод</span>
                                <span class="icon-drop-arrow"></span>
                            </button>
                        </div>
                    </li>
                    <li class="promo-code__item">
                        <div class="promo-code__img" v-lazy:background-image="'./img/promo-code-img.png'"></div>
                        <div class="promo-code__info">
                            <p class="promo-code__time">Промокод активен до 18.09.2020</p>
                            <p class="promo-code__name">Выгода до 70% на женские коллекции!</p>
                            <p class="promo-code__text">Зайдите в раздел распродажи по ссылке и покупайте товары из женских коллекций с большой экономией</p>
                        </div>
                        <div class="promo-code__buttons">
                            <div class="general-drop-wrapper general-drop-wrapper--promo-code js-drop-item">
                                    <button class="promo-code__social-button js-drop-button">
                                    <span class="icon-social"></span>
                                </button>
                                <div class="general-drop-content__wrapper general-drop-content__wrapper--promo-code">
                                    <ul class="social__list social__list--inner-content">
                                        <li class="social__item">
                                            <a href="#" class="social__link social__link--fb">
                                                <span class="icon-fb"></span>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="#" class="social__link">
                                                <span class="icon-whatsapp"></span>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="#" class="social__link social__link--telegram">
                                                <span class="icon-telegram"></span>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="#" class="social__link">
                                                <span class="icon-viber"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="main-button main-button--promo-code">
                                <span class="text">использовать промокод</span>
                                <span class="icon-drop-arrow"></span>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </section>
        <section class="seo-blog">
            <div class="seo-blog__wrapper container">
                <p class="main-caption-m">Как использовать промокоды</p>
                <div class="seo-text">
                    <p>Получите на нашем сайте бесплатные промокоды – уникальные скидочные купоны, которые позволят вам принимать участие в самых горячих акциях</p>
                    <p> Чтобы забрать промокод, просто выберите подходящую по времени и условиям проведения акцию, нажмите кнопку «Использовать промокод», выберите товар из каталога и скидка автоматически применится в корзине</p>
                    <p>Обратите внимание, что один промокод можно использовать только один раз. Условия получения скидки по промокоду зависят от правил акции, по которой он получен – например, код может распространяться только на определенную группу товаров или на заказы на определенную суммуе</p>
                </div>
            </div>
        </section>
        <section class="social-block">
            <div class="social-block__wrapper container">
                <div class="general-header-block general-header-block--social">
                    <p class="general-header-block__caption main-caption-m">Мы в социальных сетях</p>
                    <p class="general-header-block__sub">Дополнительный текст</p>
                </div>
                <ul class="social__list">
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <span class="icon-fb"></span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <span class="icon-inst"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</template>

<script>
    export default {
        name: "popupProduct",
        data() {
            return {
                
            }
        },
        created() {
            let styleLink = document.querySelector('link[rel="stylesheet"]');
            styleLink.setAttribute('href',`${styleLink.dataset.href}/mainPromoCode.css`);
        },
    }
</script>