<template>
    <main>
        <section class="breadcrumbs">
            <div class="breadcrumbs__wrapper container">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                    <a href="#" class="breadcrumbs__link">Отзывы покупателей</a>
                </ul>
            </div>
        </section>
        <section class="reviews-page">
            <div class="reviews-page__wrapper container">
                <h1 class="main-caption-l reviews-page--caption">Отзывы покупателей о нашем магазине</h1>
                <div class="reviews-page__container">
                    <div class="product-reviews__sort">
                        <button class="main-button js-button" data-target="add-reviews">
                            <span class="text">оставить отзыв магазину</span>
                        </button>
                        <div class="general__sort" v-if="windowWidth > 1024">
                            <p class="general__sort-text">Сортировка по:</p>
                            <ul class="general__sort-list">
                                <li class="general__sort-item">
                                    <button>Дате</button>
                                </li>
                                <li class="general__sort-item active">
                                    <button>Полезности</button>
                                </li>
                                <li class="general__sort-item">
                                    <button>Оценке</button>
                                </li>
                            </ul>
                        </div>
                        <div class="general-drop-wrapper js-drop-item" v-else>
                            <button class="mobile-button-sort js-drop-button">
                                <span class="icon-decor-sort" v-lazy:background-image="'/img/icon-sort.svg'"></span>
                            </button>
                            <div class="general-drop-content__wrapper">
                                <ul class="general-drop__list">
                                    <li class="general-drop__item">
                                        <button>Дате</button>
                                    </li>
                                    <li class="general-drop__item">
                                        <button>Полезности</button>
                                    </li>
                                    <li class="general-drop__item">
                                        <button>Оценке</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="product-reviews__wrapper product-reviews__wrapper--reviews-page">
                        <ul class="product-reviews__list">
                            <ReviewCard v-for="(item, key) in reviews.data" :data-item="item" :key="key"></ReviewCard>
                        </ul>
                    </div>
                </div>
                <div class="general-navigation">
                    <button class="general-button-more-info general-button-more-info--navigation">
                        <span class="text">загрузить еще</span>
                    </button>
                    <!-- <div class="general-pagination">
                        <button class="arrow-button arrow-button--pagination disabled">
                            <span class="icon-arrow-left"></span>
                        </button>
                        <ul class="pagination__list">
                            <li class="pagination__item active">1</li>
                            <li class="pagination__item">2</li>
                            <li class="pagination__item">3</li>
                            <li class="pagination__item pagination__item--dots">...</li>
                            <li class="pagination__item">12</li>
                        </ul>
                        <button class="arrow-button arrow-button--pagination">
                            <span class="icon-arrow-right"></span>
                        </button>
                    </div> -->
                    <div class="general-pagination" v-if="reviews.meta.last_page > 1">
                        <button class="arrow-button arrow-button--pagination" :class="{disabled: reviews.meta.current_page === 1}" @click="reviews.meta.current_page--">
                            <span class="icon-arrow-left"></span>
                        </button>
                        <ul class="pagination__list">
                            <li class="pagination__item" :class="{active: reviews.meta.current_page === 1}" @click="reviews.meta.current_page = 1">1</li>

                            <template v-if="reviews.meta.current_page === 1">
                                <li class="pagination__item" :class="{active: reviews.meta.current_page === 2}" @click="reviews.meta.current_page = 2" v-if="reviews.meta.last_page > 2">2</li>
                                <li class="pagination__item" :class="{active: reviews.meta.current_page === 3}" @click="reviews.meta.current_page = 3" v-if="reviews.meta.last_page > 3">3</li>
                            </template>

                            <template v-else-if="reviews.meta.current_page === reviews.meta.last_page">
                                <li class="pagination__item" :class="{active: reviews.meta.current_page === reviews.meta.last_page - 2}" @click="reviews.meta.current_page = reviews.meta.last_page - 2" v-if="reviews.meta.last_page > 3">{{reviews.meta.last_page - 2}}</li>
                                <li class="pagination__item" :class="{active: reviews.meta.current_page === reviews.meta.last_page - 1}" @click="reviews.meta.current_page = reviews.meta.last_page - 1" v-if="reviews.meta.last_page > 2">{{ reviews.meta.last_page - 1 }}</li>
                            </template>

                            <template v-else>
                                <li class="pagination__item" @click="reviews.meta.current_page--" v-if="reviews.meta.last_page > 3 && reviews.meta.current_page === reviews.meta.last_page - 1">{{ reviews.meta.current_page - 1 }}</li>
                                <li class="pagination__item active" v-if="reviews.meta.last_page > 2">{{ reviews.meta.current_page }}</li>
                                <li class="pagination__item" @click="reviews.meta.current_page++" v-if="reviews.meta.last_page > 3 && reviews.meta.current_page < reviews.meta.last_page - 1">{{ reviews.meta.current_page + 1 }}</li>
                            </template>

                            <li class="pagination__item" :class="{active: reviews.meta.current_page === reviews.meta.last_page}" @click="reviews.meta.current_page = reviews.meta.last_page">{{ reviews.meta.last_page }}</li>
                        </ul>
                        <button class="arrow-button arrow-button--pagination" :class="{disabled: reviews.meta.current_page === reviews.meta.last_page}" @click="reviews.meta.current_page++">
                            <span class="icon-arrow-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="social-block">
            <div class="social-block__wrapper container">
                <div class="general-header-block general-header-block--social">
                    <p class="general-header-block__caption main-caption-m">Мы в социальных сетях</p>
                    <p class="general-header-block__sub">Дополнительный текст</p>
                </div>
                <ul class="social__list">
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <span class="icon-fb"></span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <span class="icon-inst"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <add-reviews></add-reviews>
    </main>
</template>
<script>
    export default {
        name: "reviews",
        data() {
            return {
                reviews: {
                    meta: {
                        current_page: 1,
                        last_page: 1
                    }
                },
            }
        },
        props:['windowWidth'],
        components: {
            addReviews: () => import('../addReviews'),
            ReviewCard: () => import('../cards/ReviewCardBig.vue'),
        },
        methods: {
            setStar() {
                let starsItem = document.querySelectorAll('.js-star-item');
                let starInput = document.querySelector('.js-stars-input');
                let starList = document.querySelector('.js-star-list');
                starsItem.forEach((item) =>{
                    item.addEventListener('click',function(){
                        let starValuse = item.getAttribute('data-target');
                        starInput.setAttribute('value', starValuse);
                        starList.classList.add('star__list-checked');
                        
                        for(var i = 0; starsItem.length > i; i++) {
                            starsItem[i].classList.remove('active');
                        }
                        item.classList.add('active');
                    });
                });
            },
            changeComents() {
                let textAreaAll = document.querySelectorAll('.js-change-textarea');
                let textHideblockAll = document.querySelectorAll('.js-change-text p');
                let buttonsChange = document.querySelectorAll('.js-change-reviews');
                
                function setHightTextArea() {
                    if(textHideblockAll){
                        for(let i = 0; textAreaAll.length > i; i++){
                            let textHideblockHeight = textHideblockAll[i].offsetHeight;
                            textAreaAll[i].setAttribute('style', `height: ${textHideblockHeight}px`);
                        }
                    }
                }
                
                function changeReviews() {
                    if(buttonsChange){
                        for(let i = 0; buttonsChange.length > i; i++){
                            buttonsChange[i].addEventListener('click', function(){
                                this.classList.toggle('active');
                                if(textAreaAll[i].hasAttribute('readonly')) {
                                    textAreaAll[i].removeAttribute('readonly');
                                    textAreaAll[i].focus();
                                }else {
                                    textAreaAll[i].setAttribute('readonly', "");
                                    textHideblockAll[i].innerHTML = textAreaAll[i].value;
                                    setHightTextArea();
                                }
                            });
                        }
                    }
                }
                
                window.addEventListener('resize', function() {
                    changeReviews();
                    setHightTextArea();
                });
                
                changeReviews();
                setHightTextArea();
            },
            getReviews: function(){
                const component = this;
                var current_page = this.reviews.meta.current_page;

                axios.get('/api/reviews/paginate?limit=3&page=' + current_page)
                 .then(function(response) {
                    component.reviews = response.data;
                 });
            },
        },
        watch: {
            'reviews.meta.current_page': function() {
                this.getReviews();
            },
        },
        created() {
            let styleLink = document.querySelector('link[rel="stylesheet"]');
            styleLink.setAttribute('href',`${styleLink.dataset.href}/reviews.css`);
        },
        mounted() {
            setTimeout(() => {
                this.changeComents();
                this.setStar();
            }, 2000);

            this.getReviews();
        }
    }
</script>