<template>
  <footer class="footer">
    <div class="footer__wrapper container">
        <div class="footer__main-info">
            <div class="footer__content">
                <a href="/" class="footer__logo">
                    <img v-lazy="'./img/logo.png'" alt="Logo">
                </a>
                <div class="footer__text">
                    <p>Таким образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития</p>
                </div>
            </div>
            <div class="footer__navigation">
                <div class="footer__navigation__item js-drop-item">
                    <button class="footer__navigation__item__caption js-drop-button">Информация</button>
                    <ul class="footer__navigation__item__list">
                        <li class="footer__navigation__item__item">
                            <a href="#" class="footer__navigation__item__link">Текст</a>
                        </li>
                        <li class="footer__navigation__item__item">
                            <a href="#" class="footer__navigation__item__link">Текст1</a>
                        </li>
                        <li class="footer__navigation__item__item">
                            <a href="#" class="footer__navigation__item__link">Текст2</a>
                        </li>
                        <li class="footer__navigation__item__item">
                            <a href="#" class="footer__navigation__item__link">Текст3</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__navigation__item js-drop-item">
                    <button class="footer__navigation__item__caption js-drop-button">Клиентам</button>
                    <ul class="footer__navigation__item__list">
                        <li class="footer__navigation__item__item">
                            <a href="#" class="footer__navigation__item__link">Текст</a>
                        </li>
                        <li class="footer__navigation__item__item">
                            <a href="#" class="footer__navigation__item__link">Текст1</a>
                        </li>
                        <li class="footer__navigation__item__item">
                            <a href="#" class="footer__navigation__item__link">Текст2</a>
                        </li>
                        <li class="footer__navigation__item__item">
                            <a href="#" class="footer__navigation__item__link">Текст3</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__navigation__item js-drop-item">
                    <button class="footer__navigation__item__caption js-drop-button">Нужна помощь?</button>
                    <ul class="footer__navigation__item__list">
                        <li class="footer__navigation__item__item">
                            <a href="#" class="footer__navigation__item__link">Текст</a>
                        </li>
                        <li class="footer__navigation__item__item">
                            <a href="#" class="footer__navigation__item__link">Текст1</a>
                        </li>
                        <li class="footer__navigation__item__item">
                            <a href="#" class="footer__navigation__item__link">Текст2</a>
                        </li>
                        <li class="footer__navigation__item__item">
                            <a href="#" class="footer__navigation__item__link">Текст3</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__down">
            <a href="#" class="footer__link">Политика конфиденциальности</a>
            <p class="footer__copyright">2020 LOGO</p>
            <a href="#" class="footer__link">Все права защищены</a>
        </div>
    </div>
  </footer>
</template>


<script>
  export default {
      name: "mainFooter",
      data() {
          return {
              
          }
      }
  }
</script>