<template>
  <header class="header">
    <div v-if="$root.windowWidth > 767">
        <div class="header__top">
            <div class="header__top__wrapper container">
                <div class="header__contact-info">
                    <div class="header__contact-info__phones header-drop general-drop-wrapper js-drop-item">
                        <button class="general-drop-wrapper__button js-drop-button">
                            <span class="text">+38 (097) 234 54 65</span>
                            <span class="icon-drop-arrow"></span>
                        </button>
                        <div class="general-drop-content__wrapper">
                            <ul class="general-drop__list">
                                <li class="general-drop__item">
                                    <a href="tel: +38 (097) 234 54 65" class="general-drop__link">+38 (097) 234 54 65</a>
                                </li>
                                <li class="general-drop__item">
                                    <a href="tel: +38 (097) 234 54 65" class="general-drop__link">+38 (097) 234 54 65</a>
                                </li>
                                <li class="general-drop__item">
                                    <button class="general-drop__link js-button" data-target="help">Перезвоните мне</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button class="js-button" data-target="help">Нужна помощь?</button>
                </div>
                <div class="header__top__main-info">
                    <ul class="header__top__list">
                        <li class="header__top__item general-drop-wrapper header-drop js-drop-item">
                            <button class="general-drop-wrapper__button js-drop-button">
                                <span class="text">Инфо</span>
                                <span class="icon-drop-arrow"></span>
                            </button>
                            <div class="general-drop-content__wrapper">
                                <ul class="general-drop__list">
                                    <li class="general-drop__item">
                                        <a href="#" class="general-drop__link">Доставка и оплата</a>
                                    </li>
                                    <li class="general-drop__item">
                                        <a href="#" class="general-drop__link">Возврат и обмен</a>
                                    </li>
                                    <li class="general-drop__item">
                                        <a href="#" class="general-drop__link">Контакты</a>
                                    </li>
                                    <li class="general-drop__item">
                                        <a href="#" class="general-drop__link">FAQ</a>
                                    </li>
                                    <li class="general-drop__item">
                                        <a href="#" class="general-drop__link">Условия использования сайта</a>
                                    </li>
                                    <li class="general-drop__item">
                                        <a href="#" class="general-drop__link">Промокоды на сентябрь 2020</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="header__top__item general-drop-wrapper header-drop js-drop-item">
                            <button class="general-drop-wrapper__button js-drop-button">
                                <span class="text">Магазины</span>
                                <span class="icon-drop-arrow"></span>
                            </button>
                            <div class="general-drop-content__wrapper">
                                <ul class="general-drop__list">
                                    <li class="general-drop__item">
                                        <a href="#" class="general-drop__link">Доставка и оплата</a>
                                    </li>
                                    <li class="general-drop__item">
                                        <a href="#" class="general-drop__link">Возврат и обмен</a>
                                    </li>
                                    <li class="general-drop__item">
                                        <a href="#" class="general-drop__link">Контакты</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="header__top__item">
                            <a href="#" class="header__top__link">О компании</a>
                        </li>
                        <li class="header__top__item">
                            <a href="#" class="header__top__link">Блог</a>
                        </li>
                    </ul>
                    <div class="change-lang">
                        <label class="change-lang__wrapper">
                            <input type="checkbox" class='hidden-input'>
                            <span class="change-lang-decor-elem"></span>
                            <span class="change-lang__item">Ru</span>
                            <span class="change-lang__item">En</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__main">
            <div class="container">
                <div class="header__main__wrapper js-drop-item">
                    <a href="/" class="header-logo">
                        <img v-lazy="'./img/logo.png'" alt="Logo">
                    </a>
                    <button class="general-batton-more general-batton-more--header js-drop-button">
                        <span class="text">категории товаров</span>
                        <span class="icon-drop-arrow"></span>
                    </button>
                    <div class="header-category-wrapper" v-if="Object.keys(categories).length">
                        <div class="header-category__buttons">
                            <router-link tag="button" :to="'/catalog/' + item.slug" class="header-category__button" :class="{active: filterHeaderCategory == index}" v-for="(item, index) in categories" @mouseover.native="filterHeaderCategory = index" :key="item.id">
                                {{item.name}}
                            </router-link>
                        </div>
                        <div class="header-category__content">
                            <ul class="header-category__list">
                                <li class="header-category__item" v-for="item in categories[filterHeaderCategory].children">
                                    <router-link :to="'/catalog/' + item.slug" class="header-category__link">
                                        {{item.name}}
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-search" :class="{active: searchInput}">
                        <label class="input_wrapper">
                            <input type="text" class="main_input" placeholder="Поиск" v-model="searchInput">
                        </label>
                        <button class="clear-search-input" v-if="searchInput" @click="searchInput = ''">
                            <span class="icon-close"></span>
                        </button>
                        <span class="icon-search input-search-icon" v-else></span>
                        <div class="header-search__live">
                            <div class="header-search__live__wrapper">
                                 <ul class="header-search__live__list">
                                    <li class="header-search__live__item">
                                        <a href="#" class="header-search__live__link">Распродажа / Lenovo</a>
                                    </li>
                                    <li class="header-search__live__item">
                                        <a href="#" class="header-search__live__link">Новинки/Компьютеры / Lenovo</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="header-search__live__wrapper">
                                <p class="header-search__live__caption">Категории</p>
                                <ul class="header-search__live__list">
                                    <li class="header-search__live__item">
                                        <a href="#" class="header-search__live__link"><span>Расп</span>родажа / Lenovo</a>
                                    </li>
                                    <li class="header-search__live__item">
                                        <a href="#" class="header-search__live__link">Новинки/Компьютеры / Lenovo</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="header__buttons">
                        <div class="general-drop-wrapper js-drop-item">
                            <!-- active когда только один єлемент в сравнении. По клику сообщение, что нужно еще добавить элементы. -->
                            <!-- active+more когда больше одного -->
                            <button class="header__buttons__item header__buttons__item--comparison active js-drop-button">
                                <span class="icon-comparison"></span>
                                <span class="noty-comparison">1</span>
                            </button>
                            <div class="general-drop-content__wrapper general-drop-content__wrapper--comparison">
                                <ul class="general-drop__list general-drop__list--comparison">
                                    <li class="general-drop__item general-drop__item--comparison">
                                        <div class="comparison-product__img" v-lazy:background-image="'./img/banner-img.png'"></div>
                                        <div class="comparison-product__info">
                                            <a href="#" class="comparison-product__link">Название товара и, конечно же, место для второй строки</a>
                                            <div class="comparison-product__price-wrapper">
                                                <p class="comparison-product__old-price">300грн</p>
                                                 <p class="comparison-product__price">280грн</p>
                                            </div>
                                        </div>
                                        <button class="comparison-product__delete">
                                            <span class="icon-close"></span>
                                        </button>
                                    </li>
                                    <li class="general-drop__item general-drop__item--comparison">
                                        <div class="comparison-product__img" v-lazy:background-image="'./img/banner-img.png'"></div>
                                        <div class="comparison-product__info">
                                            <a href="#" class="comparison-product__link">Название товара и, конечно же, место для второй строки</a>
                                            <div class="comparison-product__price-wrapper">
                                                <p class="comparison-product__old-price">300грн</p>
                                                 <p class="comparison-product__price">280грн</p>
                                            </div>
                                        </div>
                                        <button class="comparison-product__delete">
                                            <span class="icon-close"></span>
                                        </button>
                                    </li>
                                    <li class="general-drop__item general-drop__item--comparison">
                                        <div class="comparison-product__img" v-lazy:background-image="'./img/banner-img.png'"></div>
                                        <div class="comparison-product__info">
                                            <a href="#" class="comparison-product__link">Название товара и, конечно же, место для второй строки</a>
                                            <div class="comparison-product__price-wrapper">
                                                <p class="comparison-product__old-price">300грн</p>
                                                 <p class="comparison-product__price">280грн</p>
                                            </div>
                                        </div>
                                        <button class="comparison-product__delete">
                                            <span class="icon-close"></span>
                                        </button>
                                    </li>
                                    <li class="general-drop__item general-drop__item--comparison">
                                        <div class="comparison-product__img" v-lazy:background-image="'./img/banner-img.png'"></div>
                                        <div class="comparison-product__info">
                                            <a href="#" class="comparison-product__link">Название товара и, конечно же, место для второй строки</a>
                                            <div class="comparison-product__price-wrapper">
                                                <p class="comparison-product__old-price">300грн</p>
                                                 <p class="comparison-product__price">280грн</p>
                                            </div>
                                        </div>
                                        <button class="comparison-product__delete">
                                            <span class="icon-close"></span>
                                        </button>
                                    </li>
                                    <li class="general-drop__item general-drop__item--comparison">
                                        <div class="comparison-product__img" v-lazy:background-image="'./img/banner-img.png'"></div>
                                        <div class="comparison-product__info">
                                            <a href="#" class="comparison-product__link">Название товара и, конечно же, место для второй строки</a>
                                            <div class="comparison-product__price-wrapper">
                                                <p class="comparison-product__old-price">300грн</p>
                                                 <p class="comparison-product__price">280грн</p>
                                            </div>
                                        </div>
                                        <button class="comparison-product__delete">
                                            <span class="icon-close"></span>
                                        </button>
                                    </li>
                                </ul>
                                <button class="main-button main-button--small main-button--width">
                                    <span class="text">сравнить товары</span>
                                </button>
                            </div>
                        </div>
                        <button class="header__buttons__item js-button" data-target="push-noty">
                            <span class="icon-noty"></span>
                        </button>
                        <div class="general-drop-wrapper js-drop-item">
                            <button class="header__buttons__item js-drop-button">
                                <!-- <span class="icon-profile"></span> -->
                                <span class="header__buttons__item__profile-img" v-lazy:background-image="'./img/reviews-photo.png'"></span>
                            </button>
                            <!-- <div class="general-drop-content__wrapper">
                                <ul class="general-drop__list">
                                    <li class="general-drop__item">
                                        <a href="#" class="general-drop__link">Мои заказы</a>
                                    </li>
                                    <li class="general-drop__item">
                                        <a href="#" class="general-drop__link">Мои возвраты</a>
                                    </li>
                                    <li class="general-drop__item">
                                        <a href="#" class="general-drop__link">Мой профиль</a>
                                    </li>
                                    <li class="general-drop__item">
                                        <a href="#" class="general-drop__link">Мои отзывы</a>
                                    </li>
                                    <li class="general-drop__item">
                                        <a href="#" class="general-drop__link">Избранное</a>
                                    </li>
                                    <li class="general-drop__item">
                                        <a href="#" class="general-drop__link">Просмотренное</a>
                                    </li>
                                    <li class="general-drop__item">
                                        <a href="#" class="general-drop__link">Мои промокоды</a>
                                    </li>
                                    <li class="general-drop__item">
                                        <a href="#" class="general-drop__link">Настройки о рассылке</a>
                                    </li>
                                </ul>
                            </div> -->
                            <!-- Когда не залогиненый -->
                            <div class="general-drop-content__wrapper">
                                <ul class="general-drop__list">
                                    <li class="general-drop__item">
                                        <button class="general-drop__link js-button" data-target="enter">Войти</button>
                                    </li>
                                    <li class="general-drop__item">
                                        <button class="general-drop__link js-button" data-target="favorite">Просмотренное/Избранное</button>
                                    </li>
                                </ul>
                            </div>
                            <!-- Когда не залогиненый -->
                        </div>
                        <button class="header__buttons__item active js-button" data-target="preview-cart">
                            <span class="icon-cart"></span>
                            <span class="noty"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="header-info-block" v-if="$route.name == 'Home'">
                <p class="header-info-block__wrapper container">Подпишись и получи -15% на категорию</p>
            </div>
        </div>
    </div>
    <div class="header-mobile js-header-wrapper" v-else>
        <div class="header-mobile__wrapper js-header-container">
            <div class="container">
                <div class="header-mobile__top">
                    <button class="header-mobile__burger-button js-button" data-target="burger">
                        <span class="decor"></span>
                    </button>
                    <a href="/" class="header-logo">
                        <img v-lazy="'./img/logo.png'" alt="Logo">
                    </a>
                    <button class="header__buttons__item active js-button" data-target="preview-cart">
                        <span class="icon-cart"></span>
                        <span class="noty"></span>
                    </button>
                </div>
            </div>
            <div class="header-info-block" v-if="$route.name == 'Home'">
                <p class="header-info-block__wrapper container">Подпишись и получи -15% на категорию</p>
            </div>
        </div>
    </div>
  </header>
</template>


<script>
  export default {
      name: "mainHeader",
      data() {
          return {
            categories: {},
            filterHeaderCategory: 0,
            searchInput: "",
          }
      },
      mounted() {
        let component = this;

        axios.get('/api/product_categories')
        .then(function(response) {
           component.categories = response.data.data;
        });
      }
  }
</script>