<template>
  <div>
    <section class="push-notifications">
        <ul class="push_notification__list">
            <!-- <li class="noty_theme__push_notification__item">
                <p>Добавьте в список сравнения еще товары</p>
                <span class="icon-close"></span>
            </li> -->
            <!-- <li class="noty_theme__push_notification__item noty_type__offers">
                <div class="push-notifications__img" v-lazy:background-image="'./img/banner-img.png'"></div>
                <div class="push-notifications__info">
                    <p class="push-notifications__caption">Зима близко! ⛄️</p>
                    <p class="push-notifications__text"> <span class="sale">-70%</span> на теплые вещи </p>
                    <a href="#" class="main-button main-button--small">
                        <span class="text">в каталог</span>
                    </a>
                </div>
                <span class="icon-close"></span>
            </li> -->
        </ul>
    </section>
    <section class="main-push-notification js-popup" data-target="push-noty">
        <button class="main-push-notification__clear">Отметить все как прочитанные</button>
        <div class="main-push-notification__wrapper">
            <p class="main-push-notification__caption">Новое</p>
            <ul class="main-push-notification__list">
                <li class="main-push-notification__item">
                    <div class="main-push-notification__item__img" v-lazy:background-image="'./img/banner-img.png'"></div>
                    <div class="push-notifications__info">
                        <div class="push-notifications__info__header">
                            <p class="push-notifications__caption">Зима близко! ⛄️</p>
                            <p class="push-notifications__date">12.12.2020</p>
                        </div>
                        <p class="push-notifications__text"> <span class="sale">-70%</span> на теплые вещи </p>
                        <a href="#" class="push-notifications__button">
                            <span class="text">В каталог</span>
                        </a>
                    </div>
                </li>
                <li class="main-push-notification__item">
                    <div class="main-push-notification__item__img" v-lazy:background-image="'./img/banner-img.png'"></div>
                    <div class="push-notifications__info">
                        <div class="push-notifications__info__header">
                            <p class="push-notifications__caption">Зима близко! ⛄️</p>
                            <p class="push-notifications__date">12.12.2020</p>
                        </div>
                        <p class="push-notifications__text"> <span class="sale">-70%</span> на теплые вещи </p>
                        <a href="#" class="push-notifications__button">
                            <span class="text">В каталог</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="main-push-notification__wrapper">
            <p class="main-push-notification__caption">Раннее</p>
            <ul class="main-push-notification__list">
                <li class="main-push-notification__item">
                    <div class="main-push-notification__item__img" v-lazy:background-image="'./img/banner-img.png'"></div>
                    <div class="push-notifications__info">
                        <div class="push-notifications__info__header">
                            <p class="push-notifications__caption">Зима близко! ⛄️</p>
                            <p class="push-notifications__date">12.12.2020</p>
                        </div>
                        <p class="push-notifications__text"> <span class="sale">-70%</span> на теплые вещи </p>
                        <a href="#" class="push-notifications__button">
                            <span class="text">В каталог</span>
                        </a>
                    </div>
                </li>
                <li class="main-push-notification__item">
                    <div class="main-push-notification__item__img" v-lazy:background-image="'./img/banner-img.png'"></div>
                    <div class="push-notifications__info">
                        <div class="push-notifications__info__header">
                            <p class="push-notifications__caption">Зима близко! ⛄️</p>
                            <p class="push-notifications__date">12.12.2020</p>
                        </div>
                        <p class="push-notifications__text"> <span class="sale">-70%</span> на теплые вещи </p>
                        <a href="#" class="push-notifications__button">
                            <span class="text">В каталог</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="preview-cart js-popup" data-target="preview-cart">
        <button class="close__popup js-close">
            <span class="icon-close"></span>
        </button>
        <div class="preview-cart__main">
            <div class="preview-cart__header">
                <button class="text-button preview-cart__close js-close">
                    <span class="icon-arrow-left"></span>
                    <span class="text">вернуться к покупкам</span>
                </button>
            </div>
            <p class="main-caption-s">Ваш заказ</p>
            <ul class="preview-cart__list">
                <li class="preview-cart__item">
                    <div class="preview-cart__img" v-lazy:background-image="'./img/banner-img.png'">
                        <button class="add-to-favorite active">
                            <span class="icon-add-favorite"></span>
                        </button>
                    </div>
                    <div class="preview-cart__info">
                        <div class="preview-cart__info__header">
                            <p class="preview-cart__category">Категория</p>
                            <button class="preview-cart__delete">
                                <span class="icon-close"></span>
                            </button>
                        </div>
                        <div class="preview-cart__info__body">
                            <a href="#" class="preview-cart__name">Название товара название товара</a>
                            <p class="preview-cart__parm">
                                <span class="type">Параметр:</span>
                                <span class="description">значение параметра</span>
                            </p>
                        </div>
                        <div class="preview-cart__info__footer">
                            <div class="cart__change-amount">
                                <button class="cart__change-amount__button">-</button>
                                <label class="input_wrapper">
                                    <input type="text" class="main_input" value="0">
                                </label>
                                <button class="cart__change-amount__button">+</button>
                            </div>
                            <div class="cart__info__item-description__price cart__info__item-description__price--popup">
                                <p class="product__old-price-cart">300грн</p>
                                <p class="product__price-cart">280грн</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="preview-cart__item">
                    <div class="preview-cart__img" v-lazy:background-image="'./img/banner-img.png'">
                        <button class="add-to-favorite active">
                            <span class="icon-add-favorite"></span>
                        </button>
                    </div>
                    <div class="preview-cart__info">
                        <div class="preview-cart__info__header">
                            <p class="preview-cart__category">Категория</p>
                            <button class="preview-cart__delete">
                                <span class="icon-close"></span>
                            </button>
                        </div>
                        <div class="preview-cart__info__body">
                            <a href="#" class="preview-cart__name">Название товара название товара</a>
                            <p class="preview-cart__parm">
                                <span class="type">Параметр:</span>
                                <span class="description">значение параметра</span>
                            </p>
                        </div>
                        <div class="preview-cart__info__footer">
                            <div class="cart__change-amount">
                                <button class="cart__change-amount__button">-</button>
                                <label class="input_wrapper">
                                    <input type="text" class="main_input" value="0">
                                </label>
                                <button class="cart__change-amount__button">+</button>
                            </div>
                            <div class="cart__info__item-description__price cart__info__item-description__price--popup">
                                <p class="product__old-price-cart">300грн</p>
                                <p class="product__price-cart">280грн</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="preview-cart__footer">
            <ul class="preview-cart__total-list">
                <li class="preview-cart__total-item">
                    <p class="preview-cart__total-type">Кол-во товаров в корзине</p>
                    <p class="preview-cart__total-description">2</p>
                </li>
                <li class="preview-cart__total-item">
                    <p class="preview-cart__total-type">Итого</p>
                    <p class="preview-cart__total-description"><strong>950 грн</strong></p>
                </li>
                <li class="preview-cart__total-item preview-cart__total-item--promo-code">
                    <p class="preview-cart__total-type">Посмотреть доступные промокоды</p>
                    <a href="#" class="preview-cart__promo-code-button">Применить промокод</a>
                </li>
            </ul>
            <button class="main-button main-button--width js-button" data-target="transition-to-checkout">
                <span class="text">оформить заказ</span>
            </button>
            <button class="text-button">
                <span class="text">перейти в корзину</span>
            </button>
        </div>
    </section>
    <section class="favorite js-popup" data-target="favorite">
        <button class="close__popup js-close">
            <span class="icon-close"></span>
        </button>
        <div class="general-tabs">
            <div class="general-tabs__list">
                <button class="general-tabs__button" :class="{active: $root.favTab === 'viewed'}" @click="$root.favTab = 'viewed'">просмотренное ({{ $root.viewedProducts.length }})</button>
                <button class="general-tabs__button" :class="{active: $root.favTab === 'favorites'}" @click="$root.favTab = 'favorites'">избранное ({{ $root.favoriteProducts.length }})</button>
            </div>
        </div>
        <div class="position-wrapper">
            <ul class="products-list products-list--favorite">
                <productcard v-for="(item, key) in $root.favoritesOrViewed" :data-item="item" :key="key" data-classes="products-item--favorite"></productcard>
            </ul>
        </div>
    </section>
    <section class="popup popup-form js-popup" data-target="help">
        <button class="close__popup js-close">
            <span class="icon-close"></span>
        </button>
        <div class="popup__wrapper">
            <p class="popup__caption">Нужна помощь?</p>
            <p class="popup__sub">Оставьте нам заявку и мы вам перезвоним</p>
            <form action="#" class="popup__form-wrapper">
                <label class="input_wrapper input_wrapper--margin-bottom">
                    <span class="input-caption">Ваше имя</span>
                    <input type="text" class="main_input" placeholder="Имя">
                </label>
                <label class="input_wrapper input_wrapper--margin-bottom">
                    <span class="input-caption">Телефон</span>
                    <input type="tel" class="main_input" placeholder="+38">
                </label>
                <label class="input_wrapper input_wrapper--margin-bottom error">
                    <span class="input-caption">Email*</span>
                    <input type="email" class="main_input" placeholder="Email" required>
                    <span class="input-text-error">Ошибка</span>
                </label>
                <button class="main-button">
                    <span class="text">отправить</span>
                </button>
            </form>
        </div>
    </section>
    <section class="popup popup-form js-popup" data-target="transition-to-checkout">
        <button class="close__popup js-close">
            <span class="icon-close"></span>
        </button>
        <div class="popup__wrapper">
            <p class="popup__sub"><strong>Переход в оформление заказа</strong></p>
            <div class="popup-form__enter-button">
                <button class="general-button-more-info">
                    <span class="text">продолжить как гость</span>
                </button>
            </div>
            <p class="popup-form__separator">или</p>
            <div class="popup-form__enter-button">
                <button class="general-button-more-info">
                    <span class="google-icon" v-lazy:background-image="'./img/icon-google.svg'"></span>
                    <span class="text">продолжить с google</span>
                </button>
                <button class="general-button-more-info">
                    <span class="icon-fb"></span>
                    <span class="text">продолжить с facebook</span>
                </button>
                <button class="general-button-more-info js-button" data-target="enter-only-email">
                    <span class="icon-email"></span>
                    <span class="text">продолжить c email</span>
                </button>
            </div>
            
            <div class="popup-form__footer">
                <div class="popup-form__footer__item">
                    <p>При нажатие на "Регистрироваться" вы соглащаетесь с <a href="#" class="popup-form__footer__button">Условиями пользования</a> и <a href="#" class="popup-form__footer__button">Политикой кофиденциальности</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="popup popup-form popup-enter js-popup" data-target="enter-only-email">
        <button class="close__popup js-close">
            <span class="icon-close"></span>
        </button>
        <div class="popup__wrapper">
            <p class="popup__caption">Вход</p>
            <form action="#" class="popup__form-wrapper popup__form-wrapper--profile">
                <label class="input_wrapper">
                    <span class="input-caption">Email</span>
                    <input type="email" class="main_input" placeholder="Email">
                </label>
                <label class="input_wrapper js-input-wrapper">
                    <span class="input-caption">Пароль</span>
                    <input type="password" class="main_input main_input--pass-show js-pass-input" placeholder="Пароль" required>
                    <button class="show-pass js-show-pass" type="button">
                        <span class="icon-pass"></span>
                    </button>
                </label>
                <button class="resest-password js-button" data-target="reset-pass">Забыли пароль?</button>
                <button class="main-button main-button--width">
                    <span class="text">войти</span>
                </button>
            </form>
            <div class="popup-form__footer">
                <div class="popup-form__footer__item">
                    <p>Нет аккаунта? <button class="popup-form__footer__button js-button" data-target="registration">Зарегистрироваться</button></p>
                </div>
            </div>
        </div>
    </section>
    <section class="popup popup-form js-popup" data-target="reset-pass">
        <button class="close__popup js-close">
            <span class="icon-close"></span>
        </button>
        <div class="popup__wrapper">
            <p class="popup__caption">Сбросить пароль</p>
            <p class="popup__sub">Введите свою почту</p>
            <form action="#" class="popup__form-wrapper popup__form-wrapper--profile">
                <label class="input_wrapper">
                    <span class="input-caption">Email</span>
                    <input type="email" class="main_input" placeholder="Email">
                </label>
                <button class="main-button main-button--width">
                    <span class="text">войти</span>
                </button>
            </form>
        </div>
    </section>
    <section class="popup popup-form popup-enter js-popup" data-target="enter">
        <button class="close__popup js-close">
            <span class="icon-close"></span>
        </button>
        <div class="popup__wrapper">
            <p class="popup__caption">Вход</p>
            <p class="popup__sub">После регистрации вы сможете быстрее оформлять заказы и отслеживать их</p>
            <div class="popup-form__enter-button">
                <button class="general-button-more-info">
                    <span class="google-icon" v-lazy:background-image="'./img/icon-google.svg'"></span>
                    <span class="text">продолжить с google</span>
                </button>
                <button class="general-button-more-info">
                    <span class="icon-fb"></span>
                    <span class="text">продолжить с facebook</span>
                </button>
            </div>
            <p class="popup-form__separator">или</p>
            <form action="#" class="popup__form-wrapper popup__form-wrapper--profile">
                <label class="input_wrapper">
                    <span class="input-caption">Email</span>
                    <input type="email" class="main_input" placeholder="Email">
                </label>
                <label class="input_wrapper">
                    <span class="input-caption">Пароль</span>
                    <input type="password" class="main_input" placeholder="Пароль" required>
                </label>
                <button class="resest-password">Забыли пароль?</button>
                <button class="main-button main-button--width">
                    <span class="text">войти</span>
                </button>
            </form>
            <div class="popup-form__footer">
                <div class="popup-form__footer__item">
                    <p>Нет аккаунта? <button class="popup-form__footer__button js-button" data-target="registration">Зарегистрироваться</button></p>
                </div>
            </div>
        </div>
    </section>
    <section class="popup popup-form popup-registration js-popup" data-target="registration">
        <button class="close__popup js-close">
            <span class="icon-close"></span>
        </button>
        <div class="popup__wrapper">
            <p class="popup__caption">Регистрация</p>
            <p class="popup__sub">После регистрации вы сможете быстрее оформлять заказы и отслеживать их</p>
            <div class="popup-form__enter-button">
                <button class="general-button-more-info">
                    <span class="google-icon" v-lazy:background-image="'./img/icon-google.svg'"></span>
                    <span class="text">продолжить с google</span>
                </button>
                <button class="general-button-more-info">
                    <span class="icon-fb"></span>
                    <span class="text">продолжить с facebook</span>
                </button>
            </div>
            <p class="popup-form__separator">или</p>
            <p class="popup__sub-caption">Зарегистрироваться с помощью email </p>
            <form action="#" class="popup__form-wrapper popup__form-wrapper--profile">
                <label class="input_wrapper">
                    <span class="input-caption">Email</span>
                    <input type="email" class="main_input" placeholder="Email">
                </label>
                <label class="input_wrapper">
                    <span class="input-caption">Подтвердите email</span>
                    <input type="email" class="main_input" placeholder="Подтвердите email">
                </label>
                <label class="input_wrapper">
                    <span class="input-caption">Придумайте пароль</span>
                    <input type="password" class="main_input" placeholder="Придумайте пароль" required>
                </label>
                <button class="main-button main-button--width">
                    <span class="text">зарегистрироваться</span>
                </button>
            </form>
            <div class="popup-form__footer">
                <div class="popup-form__footer__item">
                    <p>При нажатие на "Регистрироваться" вы соглащаетесь с <a href="#" class="popup-form__footer__button">Условиями пользования</a> и <a href="#" class="popup-form__footer__button">Политикой кофиденциальности</a></p>
                </div>
                <div class="popup-form__footer__item">
                    <p>У меня уже есть аккаунт. <button class="popup-form__footer__button js-button" data-target="enter">Войти</button></p>
                </div>
            </div>
        </div>
    </section>
    <section class="popup popup-form popup-change-pass js-popup" data-target="change-pass">
        <button class="close__popup js-close">
            <span class="icon-close"></span>
        </button>
        <div class="popup__wrapper">
            <form action="#" class="popup__form-wrapper">
                <label class="input_wrapper">
                    <span class="input-caption">Номер телефона</span>
                    <input type="tel" class="main_input" placeholder="Номер телефона">
                </label>
                <button class="text-button text-button--change-pass js-close">отмена</button>
                <label class="input_wrapper">
                    <span class="input-caption">Ваш текущий пароль</span>
                    <input type="password" class="main_input" placeholder="Ваш текущий пароль" required>
                </label>
                <button class="resest-password resest-password--change-pass">Забыли текущий пароль?</button>
                <label class="input_wrapper">
                    <span class="input-caption">Ваш новый пароль</span>
                    <input type="password" class="main_input" placeholder="Ваш новый пароль" required>
                </label>
                <label class="input_wrapper">
                    <span class="input-caption">Подтвердите новый пароль</span>
                    <input type="password" class="main_input" placeholder="Подтвердите новый пароль" required>
                </label>
                <button class="main-button js-close">
                    <span class="text">сохранить</span>
                </button>
            </form>
        </div>
    </section>
    <section class="popup popup-product js-popup" data-target="product" v-if="$root.productDetails">
        <button class="close__popup js-close">
            <span class="icon-close"></span>
        </button>
        <div class="popup__wrapper">
            <p class="product__caption main-caption-m">Ноутбук Lenovo</p>
            <div class="product__user-info">
                <ul class="star__list star__list-checked">
                    <li class="star__item">
                        <span class="icon-star"></span>
                    </li>
                    <li class="star__item active">
                        <span class="icon-star"></span>
                    </li>
                    <li class="star__item">
                        <span class="icon-star"></span>
                    </li>
                    <li class="star__item">
                        <span class="icon-star"></span>
                    </li>
                    <li class="star__item">
                        <span class="icon-star"></span>
                    </li>
                </ul>
                <p class="product-user-info__calc-reviews">12 отзывов</p>
                <p class="product-user-info__code">Артикул: <span>25678</span></p>
            </div>
            <div class="product__main-info">
                <div class="product__popup__img js-oneMove-wrapper">
                    <button class="product-popup__arrow-button product-popup__arrow-button--left arrow-button js-oneMove-arrow-prev">
                        <span class="icon-arrow-left"></span>
                    </button>
                    <button class="product-popup__arrow-button product-popup__arrow-button--right arrow-button js-oneMove-arrow-next">
                        <span class="icon-arrow-right"></span>
                    </button>
                    <ul class="product-popup__img-list">
                        <li class="product-popup__img-item show js-oneMove-item" v-lazy:background-image="'./img/banner-img.png'"></li>
                        <li class="product-popup__img-item js-oneMove-item" v-lazy:background-image="'./img/banner-img.png'"></li>
                    </ul>
                </div>
                <div class="product__description product__description--popup">
                    <div class="product__description__header">
                        <p class="product_status">Есть в наличии</p>
                        <button class="add-to-comparison">
                            <span class="icon-comparison"></span>
                        </button>
                    </div>
                    <div class="product__parameters">
                        <div class="product__prompt js-drop-item">
                            <button class="product__prompt__button js-drop-button">Подсказка</button>
                            <div class="product__prompt__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, odio!</div>
                        </div>
                        <div class="product__parameters__wrapper">
                            <p class="product__parameters__caption">Наименование параметра:</p>
                            <ul class="product__parameters__list">
                                <li class="product__parameters__item">в1</li>
                                <li class="product__parameters__item">в2</li>
                                <li class="product__parameters__item active">в3</li>
                                <li class="product__parameters__item">в4</li>
                            </ul>
                        </div>
                        <div class="product__parameters__wrapper">
                            <p class="product__parameters__caption">Наименование параметра:</p>
                            <ul class="product__parameters__list">
                                <li class="product__parameters__item">в1</li>
                                <li class="product__parameters__item">в2</li>
                                <li class="product__parameters__item">в3</li>
                                <li class="product__parameters__item">в4</li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-price">
                        <p class="product__old-price">300грн</p>
                        <p class="product__price">280грн</p>
                    </div>
                    <div class="product__button">
                        <button class="main-button main-button--width">
                            <span class="icon-cart"></span>
                            <span class="text">в корзину</span>
                        </button>
                        <button class="general-button-more-info">
                            <span class="icon-add-favorite"></span>
                            <span class="text">в избранное</span>
                        </button>
                        <button class="text-button js-button" data-target="buy-one-click">купить в один клик</button>
                    </div>
                </div>
            </div>
            <a href="#" class="general-batton-more general-batton-more--product-popup">
                <span class="text">подробнее о товаре</span>
            </a>
        </div>
    </section>
    <div class="overlay"></div>
  </div>
</template>


<script>
  export default {
      name: "modals",
      data() {
          return {
              
          }
      },
      components: {
        productcard: () => import('../cards/ProductCard.vue'),
      }
  }
</script>