@font-face {
  font-family: "Helvetica Neue";
  src: url(/fonts/HelveticaNeueCyr-Roman.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(/fonts/HelveticaNeueCyr-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(/fonts/HelveticaNeueCyr-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[v-cloak] {
  display: none;
}
.icon-phone:before {
  content: "\E915";
}
.icon-place:before {
  content: "\E916";
}
.icon-email:before {
  content: "\E914";
}
.icon-pass:before {
  content: "\E913";
}
.icon-social:before {
  content: "\E912";
}
.icon-telegram:before {
  content: "\E90F";
}
.icon-viber:before {
  content: "\E910";
}
.icon-whatsapp:before {
  content: "\E911";
}
.icon-add-photo:before {
  content: "\E90E";
}
.icon-comparison:before {
  content: "\E90B";
}
.icon-profile:before {
  content: "\E90C";
}
.icon-active:before {
  content: "\E90A";
}
.icon-close:before {
  content: "\E909";
}
.icon-fb:before {
  content: "\E906";
}
.icon-inst:before {
  content: "\E908";
}
.icon-star:before {
  content: "\E905";
}
.icon-add-favorite:before {
  content: "\E907";
}
.icon-arrow-left:before {
  content: "\E900";
}
.icon-arrow-right:before {
  content: "\E902";
}
.icon-drop-arrow:before {
  content: "\E903";
}
.icon-search:before {
  content: "\E901";
}
.icon-noty:before {
  content: "\E90D";
}
.icon-cart:before {
  content: "\E904";
}
* {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
*::before,
*::after {
  box-sizing: border-box;
}
ul[class] {
  list-style: none;
}
ol:not([class]),
ul:not([class]) {
  padding-left: 17px;
}
ol:not([class]) ul,
ul:not([class]) ul,
ol:not([class]) ol,
ul:not([class]) ol {
  margin-top: 10px;
}
ol:not([class]) li,
ul:not([class]) li {
  margin-bottom: 12px;
}
img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
textarea {
  font: inherit;
  color: inherit;
  outline: none;
}
input {
  font: inherit;
  color: inherit;
  outline: none;
}
button {
  font: inherit;
  color: inherit;
  text-transform: inherit;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
html {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.overflow {
  height: auto;
  position: relative;
  overflow: hidden !important;
  margin-right: 17px;
}
body {
  overflow: hidden;
  min-width: 320px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  background-color: #ffffff;
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  position: relative;
}
.container {
  max-width: 1330px;
  width: 100%;
  padding: 0px 20px;
  margin: 0px auto;
}
.general-drop-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 13px;
  line-height: 16px;
}
.general-drop-wrapper.active {
  z-index: 2;
}
.general-drop-wrapper.active .general-drop-content__wrapper {
  visibility: visible;
  opacity: 1;
  z-index: 5;
  transition: visibility 0s 0s, opacity 0.3s;
}
.general-drop-wrapper.active .icon-drop-arrow {
  transform: rotate(180deg);
}
.general-drop-wrapper .icon-drop-arrow {
  font-size: 4px;
  transition: transform 0.3s, color 0.3s;
}
.general-drop-wrapper__button {
  display: flex;
  align-items: center;
}
.general-drop-wrapper__button .text {
  margin-right: 10px;
}
.general-drop-wrapper__button--inputs {
  width: 100%;
  position: relative;
}
.general-drop-wrapper__button--inputs .icon-drop-arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.general-drop-wrapper__button--inputs .main_input {
  cursor: pointer;
}
.general-drop-content__wrapper {
  position: absolute;
  top: calc(100% + 10px);
  right: 0px;
  min-width: 225px;
  visibility: hidden;
  opacity: 0;
  padding-right: 5px;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px rgba(196, 196, 196, 0.35);
  border-radius: 2px;
  color: #333333;
  z-index: 4;
  transition: visibility 0s 0.3s, opacity 0.3s;
}
.general-drop-content__wrapper--input {
  width: 100%;
}
.general-drop__list {
  display: flex;
  flex-direction: column;
  max-height: 285px;
  padding: 20px 15px 20px 20px;
  overflow: auto;
  scrollbar-color: #EEEEEE white;
  scrollbar-width: 2px;
  -ms-overflow-style: none;
}
.general-drop__list::-webkit-scrollbar {
  width: 2px;
}
.general-drop__list::-webkit-scrollbar-thumb {
  background: #EEEEEE;
  border-radius: 1px;
}
.general-drop__item {
  margin-bottom: 20px;
  cursor: pointer;
}
.general-drop__item:last-child {
  margin-bottom: 0px;
}
.general-drop__item.active {
  color: #E0E0E0;
  pointer-events: none;
}
.general-drop__link {
  transition: color 0.3s;
}
.hidden-input {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  visibility: hidden;
}
.general-batton-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  height: 45px;
  background: #F6F6F6;
  border: 1px solid transparent;
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.05em;
  white-space: nowrap;
  text-transform: uppercase;
  color: #333333;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
.general-batton-more .icon-drop-arrow {
  font-size: 4px;
  color: #2F80ED;
  margin-left: 15px;
}
.general-batton-more.disabled {
  color: #BDBDBD;
  background-color: #F6F6F6;
}
.input_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  position: relative;
}
.input_wrapper.error .main_input {
  border-color: #EB5757;
}
.input_wrapper.error .input-text-error {
  display: block;
}
.input_wrapper.disabled {
  pointer-events: none;
}
.input_wrapper.disabled .main_input {
  border-color: #EEEEEE;
}
.input_wrapper.disabled .main_input::-moz-placeholder {
  color: #EEEEEE;
}
.input_wrapper.disabled .main_input:-ms-input-placeholder {
  color: #EEEEEE;
}
.input_wrapper.disabled .main_input::placeholder {
  color: #EEEEEE;
}
.input_wrapper.disabled .icon-drop-arrow {
  color: #EEEEEE;
}
.input_wrapper.active .main_input {
  border-bottom-color: #2F80ED !important;
}
.input_wrapper.active .main_input:focus {
  border-color: #E0E0E0;
}
.input_wrapper .general-drop-content__wrapper {
  top: 100%;
  padding-right: 0px;
}
.input_wrapper .general-drop__list {
  padding: 10px 0px;
}
.input_wrapper .general-drop__item {
  padding: 10px 20px;
  margin: 0px;
  transition: color 0.3s, background-color 0.3s;
}
.show-pass {
  position: absolute;
  bottom: 16px;
  right: 16px;
  font-size: 11px;
  color: #BDBDBD;
  transition: color 0.3s;
}
.input_wrapper--margin-bottom {
  margin-bottom: 20px;
}
.input-text-error {
  position: absolute;
  left: 0px;
  top: calc(100% + 2px);
  display: none;
  font-size: 12px;
  line-height: 14px;
  color: #EB5757;
}
.main_input {
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0px 16px;
  outline: none;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  transition: border-color 0.3s;
}
.main_input::-ms-clear {
  display: none;
}
.main_input::-moz-placeholder {
  color: #E0E0E0;
}
.main_input:-ms-input-placeholder {
  color: #E0E0E0;
}
.main_input::placeholder {
  color: #E0E0E0;
}
.main_input:focus {
  border-color: #2F80ED !important;
}
.main_textarea {
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 16px;
  outline: none;
  resize: none;
  height: 135px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  transition: border-color 0.3s;
}
.main_textarea::-ms-clear {
  display: none;
}
.main_textarea::-moz-placeholder {
  color: #E0E0E0;
}
.main_textarea:-ms-input-placeholder {
  color: #E0E0E0;
}
.main_textarea::placeholder {
  color: #E0E0E0;
}
.main_textarea:focus {
  border-color: #2F80ED !important;
}
.main_input--pass-show {
  padding-right: 40px;
}
.text-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333;
  transition: color 0.3s;
}
.text-button.disabled {
  color: #BDBDBD;
  pointer-events: none;
}
.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0px 30px;
  max-width: 300px;
  height: 45px;
  background: #2F80ED;
  border-radius: 2px;
  transition: background-color 0.3s;
}
.main-button.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.main-button .icon-cart {
  margin-right: 10px;
}
.main-button--small {
  height: 35px;
}
.main-button--width {
  max-width: 100%;
  width: 100%;
}
.input-caption {
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  margin-bottom: 10px;
}
.main-caption-l {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #333333;
}
.main-caption-m {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #333333;
}
.main-caption-s {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
.arrow-button {
  transition: color 0.3s;
}
.arrow-button.disabled {
  color: #E0E0E0;
  pointer-events: none;
}
.general-button-more-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  max-width: 250px;
  height: 45px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #333333;
  border: 1px solid #EEEEEE;
  border-radius: 2px;
  transition: color 0.3s, border-color 0.3s;
}
.general-button-more-info.disabled {
  color: #BDBDBD;
  border-color: #EEEEEE;
  pointer-events: none;
}
.general-button-more-info .icon-add-favorite {
  margin-right: 10px;
}
/* General navigation */
.general-navigation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 40px;
  position: relative;
}
.general-button-more-info--navigation {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.pagination__list {
  display: flex;
  align-items: center;
  margin: 0px 20px;
}
.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: color 0.3s, background-color 0.3s;
}
.pagination__item:last-child {
  margin-right: 0px;
}
.pagination__item.active {
  color: #2F80ED;
  background: rgba(47, 128, 237, 0.05);
}
.pagination__item--dots {
  pointer-events: none;
}
.arrow-button--pagination {
  font-size: 12px;
}
.general-pagination {
  display: flex;
  align-items: center;
}
/* //General navigation */
/* General header block */
.general-header-block {
  margin-bottom: 30px;
}
.general-header-block__caption {
  margin-bottom: 20px;
}
.general-header-block__sub {
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;
}
/* //General header block */
/* Stars */
.star__list {
  display: flex;
  font-size: 17px;
  color: rgba(242, 153, 74, 0.35);
}
.star__list-checked {
  color: #F2994A;
}
.star__item {
  padding-right: 5px;
}
.star__item:last-child {
  padding-right: 0px;
}
.star__item.active ~ .star__item {
  color: rgba(242, 153, 74, 0.35);
}
/* //Stars */
/* Checkbox */
.checkbox__wrapper {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  cursor: pointer;
  position: relative;
  margin-right: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox__wrapper:last-child {
  margin-right: 0px;
}
.input-checkbox {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  opacity: 0;
}
.input-checkbox:checked + .custome-check .icon-active {
  opacity: 1;
}
.custome-check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 1px;
  flex-shrink: 0;
  transition: border-color 0.3s;
  position: relative;
}
.custome-check .icon-active {
  content: "";
  font-size: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #2F80ED;
  transition: opacity 0.3s;
}
/* //Checkbox */
/* Radio */
.radio__wrapper {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio__wrapper--margin-bottom {
  margin-bottom: 20px;
}
.input-radio {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  opacity: 0;
}
.input-radio:checked + .custome-radio::before {
  opacity: 1;
}
.custome-radio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
}
.custome-radio::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: #2F80ED;
  border-radius: 50%;
  transition: opacity 0.3s;
}
/* Notyficaption */
.push-notifications {
  position: fixed;
  top: 125px;
  right: 30px;
  z-index: 4;
  max-width: 350px;
  width: 100%;
}
.noty_theme__push_notification__item {
  display: flex;
  color: #333333;
  background: #FFFFFF;
  padding: 20px;
  font-size: 13px;
  line-height: 16px;
  box-shadow: 0px 4px 15px rgba(196, 196, 196, 0.35);
  border-radius: 2px;
  z-index: 4;
  position: relative;
  cursor: pointer;
}
.noty_theme__push_notification__item .icon-close {
  position: absolute;
  right: 11px;
  top: 11px;
  font-size: 11px;
}
.noty_theme__push_notification__item.noty_type__offers .main-button {
  max-width: 100%;
}
.push-notifications__img {
  width: 86px;
  height: 87px;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
  flex-shrink: 0;
}
.push-notifications__info {
  width: 100%;
}
.push-notifications__caption {
  font-weight: 500;
  margin-bottom: 10px;
}
.push-notifications__text {
  margin-bottom: 10px;
}
.push-notifications__text .sale {
  color: #EB5757;
}
.main-push-notification {
  position: fixed;
  top: 125px;
  right: 30px;
  z-index: 10;
  max-width: 405px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  padding: 20px;
  background-color: #ffffff;
  overflow: auto;
  scrollbar-color: rgba(193, 199, 221, 0.75) white;
  scrollbar-width: 5px;
  -ms-overflow-style: none;
  transform: translateX(115%);
  opacity: 0;
  transition: transform 0.6s, opacity 0.6s;
}
.main-push-notification.active {
  transform: translateX(0%);
  opacity: 1;
}
.main-push-notification::-webkit-scrollbar {
  width: 5px;
}
.main-push-notification::-webkit-scrollbar-thumb {
  background: rgba(193, 199, 221, 0.75);
  border-radius: 4px;
}
.main-push-notification__wrapper {
  margin-bottom: 20px;
  color: #333333;
}
.main-push-notification__wrapper:last-child {
  margin-bottom: 0px;
}
.main-push-notification__item {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 20px;
}
.main-push-notification__item:last-child {
  margin-bottom: 0px;
}
.main-push-notification__item .push-notifications__caption {
  font-size: 13px;
  line-height: 16px;
}
.main-push-notification__caption {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 20px;
}
.push-notifications__info__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-push-notification__item__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
  flex-shrink: 0;
}
.push-notifications__date {
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD;
  margin-left: 15px;
}
.push-notifications__button {
  font-size: 12px;
  line-height: 14px;
  color: #2F80ED;
  transition: color 0.3s;
}
.main-push-notification__clear {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 13px;
  line-height: 16px;
  color: #828282;
  transition: color 0.3s;
}
/* //Notyficaption */
.add-to-comparison {
  font-size: 16px;
  transition: color 0.3s;
}
/* Search */
.clear-search-input {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 14px;
  transform: translateY(-50%);
  transition: color 0.3s;
}
.input-search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: color 0.3s;
}
/* /Search */
/* Breadcrumbs */
.breadcrumbs {
  margin: 40px 0px;
}
.breadcrumbs__link {
  position: relative;
  margin-right: 4px;
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.breadcrumbs__link::after {
  content: "";
  display: inline-block;
  position: relative;
  bottom: -2px;
  height: 14px;
  width: 1px;
  margin-left: 8px;
  background-color: #333333;
  pointer-events: none;
}
.breadcrumbs__link:last-child {
  pointer-events: none;
  color: #BDBDBD;
  margin-right: 0px;
}
.breadcrumbs__link:last-child::after {
  display: none;
}
.breadcrumbs-mobile {
  display: none;
}
/* //Breadcrumbs */
/* Seo block */
.seo-blog {
  margin-top: 120px;
}
.seo-text {
  font-size: 16px;
  line-height: 150%;
  color: #4F4F4F;
  margin-top: 30px;
}
.seo-text p {
  margin-bottom: 30px;
}
.seo-text p:last-child {
  margin-bottom: 0px;
}
.seo-text h1,
.seo-text h2,
.seo-text h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
  color: #333333;
}
.seo-text h4,
.seo-text h5,
.seo-text h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #333333;
}
/* //Seo block */
/* Cookie */
.cookie {
  position: fixed;
  right: 30px;
  bottom: 30px;
  max-width: 270px;
  padding: 20px;
  background-color: #2F80ED;
  color: #ffffff;
  opacity: 0;
  transform: translateX(150%);
  transition: opacity 0.6s, transform 0.6s;
}
.cookie.active {
  opacity: 1;
  transform: translateX(0%);
}
.cookie .close__popup {
  color: #ffffff !important;
  top: 5px;
  right: 5px;
  font-size: 10px;
}
.cookie-caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}
.cookie-text {
  font-size: 12px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.75);
}
.cookie-text a {
  color: #ffffff;
}
/* // Cookie */
/* General tabs */
.general-tabs {
  margin-bottom: 30px;
  position: relative;
}
.general-tabs::before,
.general-tabs::after {
  content: "";
  position: absolute;
  right: -2px;
  top: -6px;
  width: 40px;
  height: 130%;
  background: linear-gradient(270deg, #FFFFFF 58.75%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}
.general-tabs::after {
  right: auto;
  left: 0px;
  background: linear-gradient(90deg, #FFFFFF 58.75%, rgba(255, 255, 255, 0) 100%);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s;
}
.general-tabs.active::after {
  opacity: 1;
  z-index: 2;
}
.general-tabs__list {
  display: flex;
  align-items: center;
  margin-right: -30px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  scroll-behavior: smooth;
}
.general-tabs__list::-webkit-scrollbar {
  display: none;
}
.general-tabs__list::after {
  content: ".";
  width: 1px;
  height: 1px;
  color: transparent;
  font-size: 1px;
}
.general-tabs__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  padding-bottom: 15px;
  transition: color 0.3s;
  margin-right: 30px;
  white-space: nowrap;
}
.general-tabs__button.active {
  color: #2F80ED;
}
.general-tabs__button.active::before {
  width: 100%;
}
.general-tabs__button::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0px;
  height: 1px;
  background-color: #2F80ED;
  transition: width 0.3s;
}
.general-tabs__scroll-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 2px;
  background-color: #ffffff;
  font-size: 8px;
  width: 10px;
  height: 10px;
  color: #333333;
  z-index: 3;
  transition: opacity 0.3s, visibility 0s 0s;
}
.general-tabs__scroll-button.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s 0.3s;
}
.general-tabs__scroll-button--right {
  left: auto;
  right: 0px;
}
/* //General tabs */
/* General sort */
.general__sort {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
}
.general__sort-text {
  color: #333333;
  margin-right: 20px;
}
.general__sort-list {
  display: flex;
  align-items: center;
}
.general__sort-item {
  margin-right: 20px;
  color: #828282;
  transition: color 0.3s;
}
.general__sort-item.active {
  color: #333333;
}
.general__sort-item:last-child {
  margin-right: 0px;
}
.general__sort-item--check {
  color: #333333;
  margin-left: 20px;
}
.mobile-button-sort {
  display: none;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 1px solid #EEEEEE;
  border-radius: 2px;
  flex-shrink: 0;
  margin-left: 10px;
}
.mobile-button-sort .icon-decor-sort {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* //General sort */
/* General error page */
.page-error {
  margin-top: 110px;
}
.page-error__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-error__caption {
  font-weight: 700;
  font-size: 144px;
  line-height: 100%;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
.page-error__sub {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 20px;
}
.page-error__text {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 20px;
}
/* //General error page */
/* General cart */
.add-to-favorite {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 17px;
  opacity: 0;
  z-index: 3;
  transition: color 0.3s, opacity 0.3s;
}
.add-to-favorite.active {
  opacity: 1;
  color: #2F80ED;
}
.preview-cart {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  top: 0px;
  right: 0px;
  background-color: #ffffff;
  z-index: 10;
  overflow: auto;
  scrollbar-color: rgba(193, 199, 221, 0.75) white;
  scrollbar-width: 5px;
  -ms-overflow-style: none;
  opacity: 0;
  transform: translateX(101%);
  transition: transform 0.6s, opacity 0.6s;
}
.preview-cart.active {
  opacity: 1;
  transform: translateX(0%);
}
.preview-cart::-webkit-scrollbar {
  width: 5px;
}
.preview-cart::-webkit-scrollbar-thumb {
  background: rgba(193, 199, 221, 0.75);
  border-radius: 4px;
}
.preview-cart__main {
  padding: 40px 50px 0px;
}
.preview-cart__header {
  margin-bottom: 30px;
}
.preview-cart__close {
  display: flex;
  align-items: center;
}
.preview-cart__close .icon-arrow-left {
  font-size: 14px;
  padding-right: 10px;
}
.preview-cart__list {
  margin-top: 30px;
}
.preview-cart__item {
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #EEEEEE;
}
.preview-cart__img {
  width: 160px;
  height: 160px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
  border-radius: 2px;
}
.preview-cart__img .add-to-favorite {
  font-size: 14px;
  top: 10px;
  right: 10px;
}
.preview-cart__info {
  display: flex;
  flex-direction: column;
}
.preview-cart__info__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.preview-cart__delete {
  font-size: 10px;
}
.preview-cart__name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 15px;
  transition: color 0.3s;
}
.preview-cart__parm {
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  margin-bottom: 10px;
}
.preview-cart__parm .description {
  color: #333333;
}
.preview-cart__category {
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}
.preview-cart__info__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.cart__change-amount {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart__change-amount .input_wrapper {
  width: 40px;
  margin: 0px 5px;
}
.cart__change-amount .main_input {
  height: 30px;
  text-align: center;
  padding: 0px 5px;
}
.cart__change-amount__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}
.cart__info__item-description__price--popup {
  display: flex;
  align-items: center;
}
.cart__info__item-description__price--popup .product__old-price-cart {
  margin-bottom: 0px;
  margin-right: 10px;
}
.product__old-price-cart {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  margin-bottom: 5px;
}
.product__old-price-cart + .product__price-cart {
  color: #EB5757;
}
.product__price-cart {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.preview-cart__footer {
  padding: 20px 50px 40px;
  background-color: #F6F6F6;
  margin-top: auto;
}
.preview-cart__footer .text-button {
  display: flex;
  margin: 20px auto 0px;
}
.preview-cart__total-list {
  font-size: 13px;
  line-height: 16px;
  color: #333333;
  margin-bottom: 20px;
}
.preview-cart__total-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.preview-cart__total-item:last-child {
  margin-bottom: 0px;
}
.preview-cart__total-item--promo-code {
  color: #828282;
}
.preview-cart__total-type {
  margin-right: 15px;
}
.preview-cart__promo-code-button {
  font-size: 13px;
  line-height: 16px;
  color: #2F80ED;
  text-align: right;
  transition: color 0.3s;
}
/* Previews cart */
/* Favorite */
.favorite {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  top: 0px;
  right: 0px;
  background-color: #ffffff;
  z-index: 10;
  padding: 40px;
  overflow: auto;
  scrollbar-color: rgba(193, 199, 221, 0.75) white;
  scrollbar-width: 5px;
  -ms-overflow-style: none;
  opacity: 0;
  transform: translateX(101%);
  transition: transform 0.6s, opacity 0.6s;
}
.favorite.active {
  opacity: 1;
  transform: translateX(0%);
}
.favorite::-webkit-scrollbar {
  width: 5px;
}
.favorite::-webkit-scrollbar-thumb {
  background: rgba(193, 199, 221, 0.75);
  border-radius: 4px;
}
.favorite .position-wrapper {
  max-width: 690px;
}
.favorite .products-list--favorite {
  margin-right: -20px;
  margin-bottom: -20px;
}
.products-item--favorite.products-item {
  width: 156px;
  margin-right: 20px;
}
.products-item--favorite.products-item .products-item__img {
  height: 160px;
}
.products-item--favorite.products-item .products-item__img img:nth-child(1) {
  opacity: 1 !important;
  transform: none !important;
}
.products-item--favorite.products-item .add-to-favorite {
  top: 10px;
  right: 10px;
  font-size: 14px;
}
.products-item--favorite.products-item .products-item__link {
  font-size: 12px;
  line-height: 140%;
  height: 30px;
}
.products-item--favorite.products-item .products-item__open-popup {
  display: none;
}
@media screen and (min-width: 1201px) {
  /* General hover */
  .general-drop__link:hover {
    color: #000000;
  }
  .main_input:hover,
  .main_textarea:hover {
    border-color: #BDBDBD;
  }
  .main_input:hover + .icon-drop-arrow {
    color: #2F80ED;
  }
  .main-button:hover {
    background-color: #2A74D9;
  }
  .text-button:hover {
    color: #2F80ED;
  }
  .general-batton-more:hover {
    color: #2F80ED;
    background: #EEEEEE;
  }
  .arrow-button:hover {
    color: #2F80ED;
  }
  .general-button-more-info:hover {
    border-color: #2F80ED;
    color: #2F80ED;
  }
  .pagination__item:hover {
    color: #2F80ED;
  }
  .checkbox__wrapper:hover .custome-check {
    border-color: #2F80ED;
  }
  .push-notifications__button:hover {
    color: #0f52a9;
  }
  .main-push-notification__clear:hover {
    color: #333333;
  }
  .add-to-comparison:hover {
    color: #2F80ED;
  }
  .general-tabs__button:hover {
    color: #2F80ED;
  }
  .general__sort-item:hover {
    color: #333333;
  }
  .star__list--form:hover {
    color: #F2994A;
  }
  .star__item--form:hover ~ .star__item {
    color: rgba(242, 153, 74, 0.35);
  }
  .input_wrapper .general-drop__item:hover {
    color: #2F80ED;
    background-color: #F6F6F6;
  }
  .show-pass:hover {
    color: #333333;
  }
  .preview-cart__name:hover {
    color: #2F80ED;
  }
  .preview-cart__promo-code-button:hover {
    color: #1368d8;
  }
}
@media screen and (max-width: 1330px) {
  /* Position */
  .position-wrapper {
    display: flex;
    justify-content: center;
  }
  .position-wrapper__list {
    max-width: 990px;
  }
  .position-wrapper__item:nth-child(4) {
    display: none;
  }
  /* Position */
}
@media screen and (max-width: 1200px) {
  html.overflow {
    margin-right: 0px;
  }
}
@media screen and (max-width: 1024px) {
  .main-caption-m {
    font-size: 24px;
    line-height: 29px;
  }
  .main-caption-l {
    font-size: 28px;
    line-height: 34px;
  }
  /* Position */
  .position-wrapper__list {
    max-width: 747px;
  }
  /* Position */
  /* Pagination */
  .pagination__list {
    margin: 0px;
  }
  .arrow-button--pagination {
    display: none;
  }
  /* //Pagination */
  /* Breadcrumbs */
  .breadcrumbs {
    margin: 30px 0px;
  }
  /* //Breadcrumbs */
  /* Seo block */
  .seo-blog {
    margin-top: 80px;
  }
  /* //Seo block */
  /* General tabs */
  .general-tabs::before {
    width: 30px;
  }
  .general-tabs__scroll-button {
    display: none;
  }
  /* //General tabs */
  /* Push noty */
  .main-push-notification {
    top: 20px;
    right: 20px;
    max-height: 250px;
  }
  /* //Push noty */
  /* General navigation */
  .general-navigation {
    margin-top: 30px;
  }
  /* //General navigation */
  /* General error page */
  .page-error {
    margin-top: 75px;
  }
  /* //General error page */
}
@media screen and (max-width: 767px) {
  .main-search {
    margin-top: 100px;
  }
  .main-page {
    margin-top: 85px;
  }
  main {
    margin-top: 55px;
  }
  .container {
    padding: 0px 16px;
  }
  .main-caption-l {
    font-size: 20px;
    line-height: 24px;
  }
  .main-caption-m {
    font-size: 20px;
    line-height: 24px;
  }
  .main-caption-s {
    font-size: 16px;
    line-height: 130%;
  }
  /* Previews cart */
  .preview-cart__main {
    padding: 40px 16px 0px;
  }
  .preview-cart__footer {
    padding: 20px 16px 40px;
  }
  .preview-cart__img {
    width: 110px;
    height: 110px;
    flex-shrink: 0;
    margin-right: 10px;
  }
  .preview-cart__info__footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .cart__info__item-description__price--popup {
    margin-top: 15px;
  }
  /* Pagination */
  .pagination__item {
    width: 28px;
    height: 28px;
    margin-right: 7px;
  }
  /* //Pagination */
  /* Search-page */
  .search-page {
    margin-top: 20px;
  }
  .search-page-empty {
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    margin-bottom: 30px;
  }
  .search-page__caption {
    margin-bottom: 20px;
  }
  /* //Search-page */
  /* Breadcrumbs */
  .breadcrumbs {
    display: none;
  }
  .breadcrumbs-mobile {
    display: block;
    margin: 30px 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
  }
  .breadcrumbs-mobile__wrapper {
    display: flex;
    align-items: center;
  }
  .breadcrumbs-mobile__wrapper .icon-arrow-left {
    font-size: 14px;
    padding-right: 20px;
  }
  /* //Breadcrumbs */
  /* Position */
  .position-wrapper__list {
    max-width: 304px;
  }
  .position-wrapper__list.products-list {
    max-width: 456px;
  }
  /* Position */
  .mobile-button-sort {
    display: flex;
  }
  /* Position */
  /* General tabs */
  .general-tabs {
    margin-bottom: 20px;
  }
  .general-tabs::before {
    right: -16px;
  }
  .general-tabs__list {
    width: calc(100% + 32px);
    margin-left: -16px;
    padding-left: 16px;
  }
  .general-tabs__button {
    margin-right: 20px;
  }
  .general-tabs__button {
    padding-bottom: 10px;
  }
  /* //General tabs */
  /* Star */
  .star__list {
    font-size: 14px;
  }
  /* //Star */
  /* General navigation */
  .general-navigation {
    margin-top: 20px;
  }
  /* //General navigation */
  /* General error page */
  .page-error {
    margin-top: 45px;
  }
  .page-error__caption {
    font-size: 70px;
    line-height: 100%;
  }
  /* //General error page */
  /* Favorite */
  .favorite {
    padding: 40px 20px;
  }
  .favorite .position-wrapper {
    max-width: 440px;
  }
  .favorite .products-list--favorite {
    margin-right: -16px;
  }
  .products-item--favorite.products-item {
    width: 136px;
    margin-right: 16px;
  }
  /* Favorite */
}
@media screen and (max-width: 576px) {
  .general-header-block__caption {
    margin-bottom: 10px;
  }
  /* Position */
  .position-wrapper__list.products-list {
    max-width: 304px;
  }
  .position-wrapper__item.products-item:nth-child(4) {
    display: block;
  }
  /* Position */
  /* Pagination */
  .pagination__list {
    display: none;
  }
  .general-button-more-info--navigation {
    max-width: 100%;
    width: 100%;
    position: static;
    transform: none;
  }
  /* //Pagination */
  /* Favorite */
  .favorite .position-wrapper {
    max-width: 288px;
  }
}
/* Header */
.header__top {
  display: flex;
  align-items: center;
  height: 40px;
  background: #333333;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 16px;
}
.header__top__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.header__contact-info {
  display: flex;
  height: 100%;
}
.header__contact-info__phones {
  margin-right: 20px;
}
.header__contact-info__phones .general-drop-content__wrapper {
  right: auto;
  left: 50%;
}
.header-drop {
  height: 100%;
  cursor: pointer;
}
.header-drop .general-drop-content__wrapper {
  top: calc(100% - 5px);
}
.header__top__list {
  display: flex;
  align-items: center;
  height: 100%;
}
.header__top__item {
  margin-right: 30px;
}
.header__top__main-info {
  display: flex;
  align-items: center;
  height: 100%;
}
.change-lang__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px;
  position: relative;
  background: #4F4F4F;
  border-radius: 20px;
  width: 50px;
  height: 24px;
  z-index: 1;
  font-size: 10px;
  line-height: 12px;
}
.change-lang__wrapper .hidden-input:checked + .change-lang-decor-elem {
  left: calc(100% - 21px);
}
.change-lang-decor-elem {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #2F80ED;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  transition: left 0.4s, background-color 0.4s;
}
.header__main__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 20px;
}
.header__main__wrapper.active .header-category-wrapper {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 0s, opacity 0.4s;
}
.header-logo {
  width: 70px;
  max-height: 29px;
  margin-right: 32px;
  flex-shrink: 0;
}
.general-batton-more--header {
  padding: 0px 15px;
  max-width: 198px;
  width: 100%;
}
.general-batton-more--header .icon-drop-arrow {
  transform: rotate(-90deg);
}
.header-search {
  margin: 0px 50px 0px 30px;
  width: 57.4%;
  position: relative;
}
.header-search.active .header-search__live {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s, visibility 0s 0s;
}
.header-search.active .input-search-icon {
  color: #2F80ED;
}
.header-search.active .main_input {
  border-bottom-color: #2F80ED;
}
.header-search__live {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(196, 196, 196, 0.35);
  border-radius: 2px;
  position: absolute;
  left: 0px;
  top: 100%;
  width: 100%;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s 0.4s;
}
.header-search__live__list {
  margin: 10px 0px;
  max-height: 350px;
  overflow: auto;
  scrollbar-color: rgba(193, 199, 221, 0.75) white;
  scrollbar-width: 5px;
  -ms-overflow-style: none;
}
.header-search__live__list::-webkit-scrollbar {
  width: 5px;
}
.header-search__live__list::-webkit-scrollbar-thumb {
  background: rgba(193, 199, 221, 0.75);
  border-radius: 4px;
}
.header-search__live__caption {
  font-size: 10px;
  line-height: 12px;
  color: #828282;
  margin: 0px 20px 15px;
}
.header-search__live__item {
  display: flex;
  font-size: 13px;
  line-height: 16px;
  color: #BDBDBD;
  transition: background-color 0.4s;
}
.header-search__live__link {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}
.header-search__live__link span {
  color: #333333;
}
.header__buttons {
  display: flex;
  align-items: center;
}
.header__buttons__item {
  margin-right: 30px;
  font-size: 17px;
  color: #333333;
  transition: color 0.4s;
  position: relative;
}
.header__buttons__item.active .noty {
  opacity: 1;
}
.header__buttons__item:last-child {
  margin-right: 0px;
}
.header__buttons__item .noty {
  position: absolute;
  right: -5px;
  top: -5px;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #2F80ED;
  opacity: 0;
  transition: opacity 0.4s;
}
.header__buttons__item .icon-noty {
  font-size: 19px;
}
.header__buttons__item__profile-img {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__buttons__item--comparison {
  color: #828282;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s 0.4s, color 0.4s;
}
.header__buttons__item--comparison .noty-comparison {
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 7px;
  line-height: 7px;
  font-weight: 700;
}
.header__buttons__item--comparison.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s, visibility 0s 0s, color 0.4s;
}
.header__buttons__item--comparison.more {
  color: #2F80ED;
}
.general-drop-content__wrapper--comparison {
  min-width: 385px;
}
.general-drop-content__wrapper--comparison .main-button {
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-bottom: 20px;
}
.general-drop__item--comparison {
  display: flex;
  position: relative;
}
.comparison-product__img {
  width: 53px;
  height: 53px;
  margin-right: 10px;
  flex-shrink: 0;
}
.comparison-product__link {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 30px;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  text-transform: uppercase;
  padding-right: 20px;
  transition: color 0.4s;
}
.comparison-product__price-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.comparison-product__old-price {
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #333333;
}
.comparison-product__old-price + .comparison-product__price {
  order: -1;
  color: #EB5757;
  margin-right: 10px;
}
.comparison-product__price {
  font-size: 14px;
  line-height: 17px;
}
.comparison-product__delete {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 10px;
  opacity: 0;
  transition: opacity 0.4s;
}
.header-info-block {
  background: #2F80ED;
  padding: 6px 0px;
  color: #FFFFFF;
  margin-top: 20px;
}
.header-info-block__wrapper {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
}
.header-category-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  left: 0px;
  top: calc(100% - 10px);
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(196, 196, 196, 0.35);
  border-radius: 5px;
  font-size: 14px;
  line-height: 17px;
  visibility: hidden;
  opacity: 0;
  z-index: 4;
  transition: visibility 0s 0.4s, opacity 0.4s;
}
.header-category__buttons {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: #000000;
  background: #F6F6F6;
  width: calc(25% - 15px);
  padding: 30px 0px 20px;
}
.header-category__button {
  text-align: left;
  padding: 10px 10px 10px 50px;
  transition: background-color 0.4s, color 0.4s;
}
.header-category__button.active {
  color: #2F80ED;
  background-color: rgba(47, 128, 237, 0.15);
}
.header-category__content {
  width: calc(75% - 15px);
  padding: 40px 0px 30px;
}
.header-category__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
}
.header-category__item {
  width: calc(25% - 10px);
}
/* Header hover */
@media screen and (min-width: 1201px) {
  .header-category__button:hover {
    color: #2F80ED;
  }
  .header__buttons__item:hover {
    color: #2F80ED;
  }
  .header-search__live__item:hover {
    background-color: #F6F6F6;
  }
  .change-lang-decor-elem:hover {
    background-color: #1368d8;
  }
  .clear-search-input:hover {
    color: #2F80ED;
  }
  .comparison-product__link:hover {
    color: #2F80ED;
  }
  .general-drop__item--comparison:hover .comparison-product__delete {
    opacity: 1;
  }
}
/* //Header hover */
/* header media */
@media screen and (max-width: 1200px) {
  .comparison-product__delete {
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) {
  .header-search {
    margin: 0px 20px;
  }
  .header-search .main_input {
    padding: 0px 16px;
  }
  .header-search .input-search-icon {
    right: 16px;
  }
  .header-logo {
    margin-right: 20px;
  }
  .header__buttons__item {
    margin-right: 20px;
  }
  .header-category__buttons {
    width: calc(25% - 10px);
  }
  .header-category__content {
    width: calc(75% - 10px);
  }
  .header-category__button {
    padding-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .header-mobile {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 4;
  }
  .header-mobile__burger-button {
    width: 27px;
    height: 16px;
    position: relative;
  }
  .header-mobile__burger-button::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #333333;
  }
  .header-mobile__burger-button .decor::before,
  .header-mobile__burger-button .decor::after {
    content: "";
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    top: 7px;
    background-color: #333333;
  }
  .header-mobile__burger-button .decor::after {
    top: auto;
    bottom: 0px;
  }
  .header-mobile__wrapper {
    padding-top: 15px;
  }
  .header-mobile__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .header-search {
    width: 100%;
    margin: 0px;
  }
  .header__burger-wrapper {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10;
    width: 80%;
    height: 100%;
    padding: 16px 0px 30px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    background-color: #333333;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.6s, transform 0.6s;
  }
  .header__burger-wrapper.active {
    opacity: 1;
    transform: translateX(0%);
  }
  .header__burger-wrapper::-webkit-scrollbar {
    display: none;
  }
  .header__burger-top {
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
    margin-bottom: 20px;
  }
  .close__popup.close__popup--header {
    color: #FFFFFF;
    font-size: 12px;
    width: 20px;
    height: 20px;
  }
  .header__burger-search {
    width: calc(100% - 32px);
    margin: 0px 16px 10px;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #828282;
    padding-bottom: 10px;
    border-bottom: 1px solid #4F4F4F;
  }
  .header__burger-search .input-search-icon {
    color: #FFFFFF;
    right: 0px;
    top: 0px;
    transform: translateX(0px);
  }
  .header__burger-catalog {
    margin-bottom: 15px;
  }
  .header__burger-catalog__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 14px 16px;
    background-color: #4F4F4F;
  }
  .header__burger-catalog__button .icon-drop-arrow {
    font-size: 4px;
    transform: rotate(-90deg);
  }
  .header__burger-items__wrapper {
    padding: 0px 16px;
  }
  .header__burger-item {
    border-bottom: 1px solid #4F4F4F;
    margin-bottom: 20px;
  }
  .header__burger-item:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
  }
  .header__burger-item:last-child .header__burger-item__item:last-child {
    margin-bottom: 0px;
  }
  .header__burger-item__item {
    margin-bottom: 20px;
  }
  .header__burger-item__item.active {
    color: #BDBDBD;
  }
  .header__burger-item__caption {
    color: #BDBDBD;
    margin-bottom: 20px;
  }
}
/* Products */
.products-block {
  margin-top: 120px;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.products-item {
  width: 300px;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}
.products-item__open-popup {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.products-item__img {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.products-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: opacity 0.3s;
}
.products-item__img img:nth-child(1) {
  opacity: 1;
}
.products-item__container {
  position: relative;
}
.products-item__main-info {
  margin-top: 10px;
  transition: opacity 0.3s, transform 0.3s, visibility 0s 0s;
}
.products-item__parameters {
  position: absolute;
  left: 0px;
  top: 10px;
  opacity: 0;
  z-index: 3;
  visibility: hidden;
  transform: translateY(-50px);
  transition: opacity 0.3s, visibility 0s 0.3s, transform 0.3s 0s;
}
.product-category__color-list {
  display: flex;
}
.product-category__color-item {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 10px;
}
.product-category__color-item:last-child {
  margin-right: 0px;
}
.products-item__category {
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  margin-bottom: 10px;
}
.products-item__link {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  text-transform: uppercase;
  transition: color 0.3s;
}
.product-item__price {
  margin-top: 10px;
}
.product-price {
  display: flex;
  align-items: center;
}
.product__price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}
.product__old-price {
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #333333;
}
.product__old-price + .product__price {
  order: -1;
  color: #EB5757;
  margin-right: 20px;
}
.product__price--item {
  font-size: 14px;
  line-height: 17px;
}
.product__old-price--item {
  font-size: 12px;
  line-height: 14px;
}
.product__old-price--item + .product__price--item {
  margin-right: 10px;
}
.product-noty {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.012em;
  color: #FFFFFF;
  font-weight: 700;
  padding: 8px 20px;
  background: #EB5757;
}
.product-noty--products-item {
  border-radius: 5px 0px 0px 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}
@media screen and (min-width: 1201px) {
  .products-item:hover .products-item__link {
    color: #2F80ED;
  }
  .products-item:hover .add-to-favorite {
    opacity: 1;
  }
  .products-item:hover .products-item__img--else img:nth-child(1) {
    opacity: 0;
  }
  .products-item:hover .products-item__img--else img:nth-child(2) {
    opacity: 1;
  }
  .products-item--parameters:hover .products-item__main-info {
    opacity: 0;
    transform: translateY(50px);
    visibility: hidden;
    transition: opacity 0.4s, transform 0.4s, visibility 0s 0.4s;
  }
  .products-item--parameters:hover .products-item__parameters {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition: opacity 0.4s, visibility 0s 0s, transform 0.4s 0s;
  }
  .add-to-favorite:hover {
    color: #2F80ED;
  }
}
@media screen and (max-width: 1201px) {
  .add-to-favorite {
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) {
  .products-block {
    margin-top: 80px;
  }
  .products-list {
    margin-right: -10px;
  }
  .products-item {
    width: 236px;
    margin-right: 10px;
  }
  .products-item__img {
    height: 266px;
  }
}
@media screen and (max-width: 767px) {
  .products-block {
    margin-top: 50px;
  }
  .products-list {
    margin-right: -16px;
  }
  .products-item {
    width: 136px;
    margin-right: 16px;
  }
  .product-noty {
    font-size: 10px;
    line-height: 10px;
  }
  .add-to-favorite {
    font-size: 12px;
    top: 8px;
    right: 8px;
  }
  .products-item__img {
    height: 158px;
  }
  .products-item__open-popup {
    display: none;
  }
  .products-item__category {
    font-size: 10px;
    line-height: 12px;
  }
  .products-item__link {
    font-size: 12px;
    height: 30px;
  }
  .product__price--item {
    font-size: 12px;
    line-height: 15px;
  }
  .product__old-price--item {
    font-size: 10px;
    line-height: 12px;
  }
  .product__old-price + .product__price {
    margin-right: 10px;
  }
}
/* //Products */
.popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) translateZ(0);
  z-index: 10;
  background-color: #fff;
  max-height: 100%;
  overflow: hidden;
  border-radius: 5px;
  max-width: 480px;
  width: 100%;
}
.popup .input_wrapper {
  margin-bottom: 20px;
}
.popup .main_button-color {
  margin: 0px auto;
}
.popup__wrapper {
  overflow: auto;
  scrollbar-color: rgba(193, 199, 221, 0.75) white;
  scrollbar-width: 5px;
  -ms-overflow-style: none;
  padding: 40px;
}
.popup__wrapper::-webkit-scrollbar {
  width: 5px;
}
.popup__wrapper::-webkit-scrollbar-thumb {
  background: rgba(193, 199, 221, 0.75);
  border-radius: 4px;
}
.popup.active {
  transform: translate(-50%, -50%) scale(1) translateZ(0);
  transition: transform 0.4s;
}
.close__popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  color: #333333;
  z-index: 4;
  transition: color 0.4s, transform 0.4s;
}
.overlay {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 8;
}
.overlay.active {
  display: block;
  -webkit-animation: overlay 0.6s;
          animation: overlay 0.6s;
}
@-webkit-keyframes overlay {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes overlay {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
/* Popup reviews */
.popup__wrapper .reviews__item__footer .text-button {
  display: none;
}
.popup__wrapper .reviews__item__text {
  display: block;
}
/* //Popup reviews */
/* Popup form */
.popup-form {
  max-width: 366px;
}
.popup__caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}
.popup-sub-caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin-bottom: 15px;
}
.popup__sub {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4F4F4F;
}
.popup__form-wrapper {
  margin-top: 30px;
}
.popup__form-wrapper .main-button {
  margin: 0px auto;
}
/* //Popup form */
/* Popup product */
.popup-product {
  max-width: 880px;
}
.product__popup__img {
  position: relative;
  width: calc(45% - 15px);
  height: 345px;
}
.product-popup__img-list {
  width: 100%;
  height: 100%;
  position: relative;
}
.product-popup__img-item {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.6s, transform 0.6s;
}
.product-popup__img-item.show {
  opacity: 1;
  transform: translateY(0px);
  z-index: 1;
}
.product-popup__arrow-button {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  font-size: 14px;
}
.product-popup__arrow-button--right {
  left: auto;
  right: 15px;
}
.product__description--popup.product__description {
  width: calc(55% - 15px);
}
.general-batton-more--product-popup {
  max-width: 215px;
  margin: 30px auto 0px;
}
.product__prompt.product__prompt--popup {
  position: relative;
  margin-top: 20px;
}
.product__prompt.product__prompt--popup .product__prompt__text {
  width: 100%;
}
/* //Popup product */
/* Popup thanks */
.popup-thanks {
  max-width: 365px;
}
.popup-thanks__button {
  margin: 20px auto 0px;
}
/* //Popup thanks */
/* Popup show reviews photo */
.popup-reviews-photo {
  max-width: 375px;
}
.popup-reviews-photo .close__popup {
  color: #ffffff;
}
.popup-reviews-photo .popup__wrapper {
  padding: 0px;
}
.popup-reviews-photo .reviews-photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 501px;
}
/* //Popup show reviews photo */
/* Popup add reviews product */
.popup-add-product-reviews__item {
  margin-bottom: 30px;
}
.add-reviews__list {
  display: flex;
  margin: 10px 0px 0px;
}
.add-reviews__item {
  position: relative;
  width: 50px;
  height: 70px;
  border: 1px solid #EEEEEE;
  transition: border-color 0.4s, opacity 0.4s;
  cursor: pointer;
  margin-right: 10px;
  opacity: 0;
  z-index: -1;
  border-radius: 2px;
}
.add-reviews__item:first-child {
  opacity: 1;
  z-index: 2;
}
.add-reviews__item.active {
  opacity: 1;
  z-index: 2;
}
.add-reviews__item.active + .add-reviews__item {
  opacity: 1;
  z-index: 2;
}
.add-reviews__item:last-child {
  margin-right: 0px;
}
.add-reviews__item .icon-add-photo {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  transition: color 0.4s;
}
.add-reviews__item.active .add-reviews__img {
  opacity: 1;
  z-index: 2;
}
.add-reviews__item.active .icon-add-photo {
  opacity: 0;
}
.add-reviews__item.active .add-reviews__delete-img {
  opacity: 1;
  z-index: 2;
}
.add-reviews__delete-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 0px 2px 0px 0px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s;
}
.add-reviews__delete-img .icon-close {
  font-size: 7px;
}
.add-reviews__input {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  z-index: -1;
  width: 1px;
  height: 1px;
}
.add-reviews__img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  transition: opacity 0.4s;
}
.popup-radio__wrapper {
  display: flex;
}
.popup-radio__wrapper .radio__wrapper {
  margin-right: 50px;
}
.popup-radio__wrapper .radio__wrapper:last-child {
  margin-right: 0px;
}
.popup-add-review-text {
  color: #333333;
  font-size: 14px;
  line-height: 140%;
}
/* //Popup add reviews product */
/* Popup delete item */
.popup__caption--delete-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin-bottom: 30px;
  text-align: center;
}
.popup__caption--delete-item .name {
  text-transform: uppercase;
}
.general-button-more-info--delete-item {
  margin-bottom: 10px;
  width: 100%;
  max-width: 100%;
}
.main-button--delete-item {
  width: 100%;
  max-width: 100%;
}
/* //Popup delete item */
/* Popup change pass */
.resest-password {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 20px;
  margin-top: -10px;
  transition: color 0.4s;
}
.resest-password--change-pass {
  justify-content: flex-end;
}
.text-button--change-pass {
  margin-bottom: 20px;
}
/* //Popup change pass */
/* Popup registration */
.popup-form__enter-button {
  margin-top: 30px;
  margin-bottom: 20px;
}
.popup-form__enter-button .general-button-more-info {
  max-width: 100%;
  width: 100%;
  margin-bottom: 10px;
}
.popup-form__enter-button .general-button-more-info:last-child {
  margin-bottom: 0px;
}
.popup-form__enter-button .general-button-more-info .text {
  padding-left: 10px;
}
.popup-form__enter-button .google-icon {
  width: 14px;
  height: 14px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.popup-form__enter-button .icon-fb {
  font-size: 14px;
  color: #3B5998;
}
.popup-form__enter-button .icon-email {
  font-size: 10px;
  color: #333333;
}
.popup-form__separator {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 20px;
  text-align: center;
}
.popup__sub-caption {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.popup__form-wrapper--profile {
  margin-top: 20px;
}
.popup-form__footer {
  margin-top: 20px;
  text-align: center;
}
.popup-form__footer__item {
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  margin-bottom: 30px;
}
.popup-form__footer__item:last-child {
  margin-bottom: 0px;
}
.popup-form__footer__button {
  color: #333333;
  transition: color 0.4s;
}
/* //Popup registration */
/* Popup order */
.popup-order-info__list {
  margin-bottom: 40px;
}
.popup-order-info__item {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  margin-bottom: 15px;
}
.popup-order-info__item:last-child {
  margin-bottom: 0px;
}
.popup-order-info__item .description {
  color: #333333;
  padding-left: 2px;
}
.popup-order__product-item {
  display: flex;
  margin-bottom: 30px;
}
.popup-order__product-item:last-child {
  margin-bottom: 0px;
}
.popup-order__product__img {
  width: 88px;
  height: 91px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
  flex-shrink: 0;
}
.popup-order__product__info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.popup-order__product__name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  text-transform: uppercase;
  max-height: 32px;
  margin-bottom: 10px;
}
.popup-order__product__param {
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  margin-bottom: 10px;
}
.popup-order__product__param span {
  color: #333333;
  padding-left: 2px;
}
.popup-order__product__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.popup-order__product__footer .popup-order__product__param {
  margin-bottom: 0px;
}
.popup-order__product__price {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.popup-order-info .general-batton-more {
  max-width: 100%;
  width: 100%;
}
.popup-order__total-price {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 10px;
  border-top: 1px solid #EEEEEE;
  text-align: right;
}
.popup-order__total-price strong {
  font-size: 16px;
  color: #333333;
}
@media screen and (min-width: 1201px) {
  .close__popup:hover {
    color: #000000;
    transform: rotate(90deg);
  }
  .add-reviews__item:hover .icon-add-photo {
    color: #2F80ED;
  }
  .resest-password:hover {
    color: #2F80ED;
  }
  .popup-form__footer__button:hover {
    color: #2F80ED;
  }
}
@media screen and (max-width: 1024px) {
  /* Popup product */
  .product__popup__img {
    width: calc(45% - 10px);
  }
  .product__description--popup.product__description {
    width: calc(55% - 10px);
  }
}
@media screen and (max-width: 767px) {
  .popup__wrapper {
    padding: 40px 20px;
  }
}
/* Footer */
.footer {
  margin-top: 120px;
  background: #F6F6F6;
  padding: 30px 0px;
}
.footer__main-info {
  display: flex;
  justify-content: space-between;
}
.footer__content {
  max-width: 520px;
  width: 100%;
}
.footer__logo {
  max-width: 70px;
  max-height: 29px;
}
.footer__text {
  font-size: 14px;
  line-height: 150%;
  color: #4F4F4F;
  margin-top: 20px;
}
.footer__navigation {
  display: flex;
  justify-content: space-between;
  margin-right: -30px;
  width: 45%;
}
.footer__navigation__item {
  margin-right: 30px;
  font-size: 14px;
  line-height: 140%;
}
.footer__navigation__item__link {
  transition: color 0.3s;
}
.footer__navigation__item__caption {
  color: #2F80ED;
  margin-bottom: 20px;
  cursor: initial;
}
.footer__navigation__item__list {
  color: #333333;
}
.footer__navigation__item__item {
  margin-bottom: 20px;
}
.footer__navigation__item__item:last-child {
  margin-bottom: 0px;
}
.footer__down {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-size: 12px;
  line-height: 150%;
}
.footer__link {
  transition: color 0.4s;
}
.footer__copyright {
  color: #4F4F4F;
}
@media screen and (min-width: 1201px) {
  .footer__navigation__item__link:hover {
    color: #828282;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    margin-top: 80px;
  }
  .footer__content {
    width: calc(45% - 25px);
  }
  .footer__navigation {
    width: calc(55% - 25px);
    margin-right: 0px;
  }
  .footer__navigation__item {
    margin-right: 50px;
  }
  .footer__navigation__item:last-child {
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    margin-top: 50px;
    padding: 20px 0px;
  }
  .footer__main-info {
    flex-direction: column;
  }
  .footer__content {
    width: 100%;
    max-width: 100%;
  }
  .footer__navigation {
    flex-direction: column;
    width: 100%;
    order: -1;
    margin-bottom: 30px;
  }
  .footer__navigation__item {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .footer__navigation__item:last-child {
    margin-bottom: 0px;
  }
  .footer__navigation__item.active .footer__navigation__item__list {
    display: block;
    -webkit-animation: footer-opacity 0.6s;
            animation: footer-opacity 0.6s;
  }
  .footer__navigation__item__caption {
    margin-bottom: 0px;
  }
  .footer__navigation__item__list {
    display: none;
    margin-top: 20px;
  }
  @-webkit-keyframes footer-opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes footer-opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .footer__down {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__down--mobile {
    margin-top: auto;
  }
  .footer__link {
    margin-bottom: 20px;
  }
  .footer__copyright {
    order: 3;
  }
}
/* /Footer */
/* Product reviews */
.main-button--product-reviews {
  margin-bottom: 30px;
}
.product-reviews__item .product-reviews__list {
  width: 86.5%;
  margin-top: 30px;
  margin-left: auto;
}
.product-reviews__item:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}
.product-reviews__item .product-reviews__item {
  margin-bottom: 0px;
  border-bottom: none;
}
.product-reviews__item .product-reviews__item:last-child {
  padding-bottom: 0px;
}
.product-reviews-photo__caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin-bottom: 20px;
}
.product-reviews-photo + .product-reviews__text {
  margin-top: 20px;
}
.product-reviews-photo__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: -10px;
}
.product-reviews-photo__item {
  width: 60px;
  height: 80px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-reviews__sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.product-reviews__sort__caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}
.product-reviews__wrapper {
  margin-toP: 30px;
}
.product-reviews__item {
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 20px;
}
.product-reviews__item:last-child {
  margin-bottom: 0px;
}
.product-reviews__header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.product-reviews__img {
  width: 36px;
  height: 36px;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-reviews__name {
  font-weight: 500;
  color: #333333;
}
.product-reviews__date {
  font-size: 12px;
  line-height: 150%;
  color: #828282;
  margin-left: auto;
}
.product-reviews__info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.product-reviews__info__status {
  color: #2F80ED;
  margin-left: 30px;
}
.product-reviews__info__status.bad {
  color: #EB5757;
}
.product-reviews__text {
  color: #333333;
  margin-bottom: 20px;
  position: relative;
}
.product-reviews__footer.active .product-reviews__add-comment {
  display: block;
  -webkit-animation: show-comment 0.6s;
          animation: show-comment 0.6s;
}
.product-reviews__footer__wrapper {
  display: flex;
  align-items: center;
}
.product-reviews__footer__wrapper .product__parameters__item {
  padding: 10px;
}
.product-reviews__footer__wrapper .product__parameters__item span {
  color: #828282;
  padding-left: 5px;
}
.product-reviews__footer__caption {
  color: #828282;
  margin-right: 20px;
}
.text-button--reviews-answer {
  margin-left: 20px;
}
.product-reviews__add-comment {
  display: none;
  width: 86.5%;
  margin-top: 30px;
  margin-left: auto;
}
.product-reviews__add-comment__buttons {
  display: flex;
  justify-content: flex-end;
}
.product-reviews__add-comment__buttons .text-button {
  margin-right: 20px;
}
@-webkit-keyframes show-comment {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes show-comment {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.product-reviews___button-edit {
  position: relative;
  width: 16px;
  height: 16px;
  margin-left: 20px;
}
.product-reviews___button-edit .decor {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 3px;
  height: 3px;
  background-color: #333333;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.product-reviews___button-edit .decor::before,
.product-reviews___button-edit .decor::after {
  content: "";
  position: absolute;
  top: calc(100% + 3px);
  left: 0px;
  width: 3px;
  height: 3px;
  background-color: #333333;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.product-reviews___button-edit .decor::after {
  top: auto;
  bottom: calc(100% + 3px);
}
.hide-block-for-text {
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
}
.change-reviews {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  resize: none;
  overflow: hidden;
  outline: none;
  transition: height 0.4s;
}
.general-drop__link--change-reviews .save {
  display: none;
}
.general-drop__link--change-reviews.active .edit {
  display: none;
}
.general-drop__link--change-reviews.active .save {
  display: block;
}
.star__list--form {
  display: inline-flex;
  font-size: 22px;
}
.star__item--form {
  cursor: pointer;
}
@media screen and (min-width: 1201px) {
  .product-reviews___button-edit:hover .decor {
    background-color: #2F80ED;
  }
  .product-reviews___button-edit:hover .decor::before,
  .product-reviews___button-edit:hover .decor::after {
    background-color: #2F80ED;
  }
}
@media screen and (max-width: 1024px) {
  .product-reviews__sort {
    flex-wrap: wrap;
  }
  .product-reviews__sort .mobile-button-sort {
    display: flex;
  }
  .checkbox__wrapper--reviews-sort {
    margin-top: 10px;
  }
  .product-reviews__sort__caption {
    width: calc(100% - 65px);
  }
  .product-reviews__item .product-reviews__list {
    width: 95%;
  }
  .product-reviews__add-comment {
    width: 95%;
  }
  .product-reviews__footer__wrapper {
    flex-wrap: wrap;
  }
  .text-button--reviews-answer {
    width: 100%;
    text-align: left;
    margin-left: 0px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .product-reviews-photo__list {
    flex-wrap: nowrap;
    width: calc(100% + 32px);
    margin-left: -16px;
    padding-left: 16px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .product-reviews-photo__list::-webkit-scrollbar {
    display: none;
  }
  .product-reviews-photo__list::after {
    content: ".";
    width: 1px;
    height: 1px;
    color: transparent;
    font-size: 1px;
  }
  .product-reviews-photo__item {
    width: 80px;
    height: 95px;
    flex-shrink: 0;
  }
  .product-reviews__sort {
    margin-top: 20px;
  }
  .product-reviews__item {
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .product-reviews__header {
    flex-wrap: wrap;
    position: relative;
  }
  .general-drop-wrapper--edit-reviews {
    top: 10px;
    right: 0px;
    position: absolute;
  }
  .product-reviews__img {
    margin-right: 10px;
  }
  .product-reviews__name {
    width: calc(100% - 46px);
  }
  .product-reviews__date {
    margin-top: 15px;
    margin-left: 0px;
  }
  .product-reviews__info {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  .product-reviews__info__status {
    margin-left: 0px;
    order: -1;
    margin-bottom: 15px;
  }
  .product-reviews__text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
  }
  .product-reviews__footer__caption {
    margin-right: 10px;
  }
}
@media screen and (max-width: 576px) {
  .product-reviews__footer__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .product-reviews__footer__caption {
    margin-bottom: 10px;
  }
}
/* Article */
.article__caption {
  margin-bottom: 20px;
}
.article__container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.article__main-info {
  width: calc(67% - 25px);
}
.article__main-info__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article__autor {
  display: flex;
}
.article__autor__img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.article__autor__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px;
}
.article__autor__position {
  font-size: 12px;
  line-height: 12px;
}
.article__general-info {
  font-size: 12px;
  line-height: 150%;
  color: #828282;
}
.article__main-info__content {
  margin-top: 20px;
  font-size: 16px;
  line-height: 150%;
}
.article__main-info__content h1,
.article__main-info__content h2,
.article__main-info__content h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 20px;
}
.article__main-info__content h4,
.article__main-info__content h5,
.article__main-info__content h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 20px;
}
.article__main-info__content .content > p {
  margin-bottom: 40px;
}
.article__main-info__content > ul {
  margin-bottom: 40px;
}
.article__main-info__content blockquote {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 40px;
}
.article__main-info__content blockquote::before {
  content: "";
  display: block;
  width: 23px;
  height: 17px;
  margin-bottom: 15px;
  background: url(/img/reviews-decor.png) center / contain no-repeat;
}
.article__main-info__content img {
  display: block;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 40px;
}
.article__main-info__content .article__main-img {
  height: 300px;
}
.article__table {
  margin-top: 10px;
}
.article__table__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-top: 20px;
  text-align: center;
}
.article__table__header {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #828282;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333333;
}
.article__table__item {
  display: flex;
  font-size: 14px;
  line-height: 150%;
  color: #3D3C38;
  padding-bottom: 20px;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 20px;
}
.article__table__item:last-child {
  margin-bottom: 0px;
}
.article__table__item .type {
  display: none;
}
.article__table__item__info:first-child {
  color: #2F80ED;
}
.article__footer {
  display: flex;
  margin-top: 30px;
}
.article__footer .product__parameters__item {
  padding: 10px;
}
.article__footer__like {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 50px;
}
.article__footer__like .product__parameters__item span {
  color: #828282;
  padding-left: 5px;
}
.article__footer__like__caption {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  margin-right: 20px;
}
.article__aside-wrapper {
  width: calc(33% - 25px);
  position: relative;
}
.article__aside-container {
  background: #F6F6F6;
  border-radius: 5px;
  padding: 40px;
  transition: opacity 0.6s, transform 0.6s;
}
.article__aside-container.hide {
  opacity: 0;
  transform: translateY(-110%);
}
.article__aside__caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #828282;
  margin-bottom: 30px;
}
.article__aside__item {
  margin-bottom: 20px;
}
.article__aside__sub-list {
  margin-top: 20px;
  margin-left: 40px;
}
.article__aside__sub-item {
  margin-bottom: 20px;
}
.article__aside__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  transition: color 0.4s;
}
.article__aside__sub-link {
  font-size: 14px;
  line-height: 120%;
  color: #4F4F4F;
  transition: color 0.4s;
}
.article__comments {
  width: calc(67% - 25px);
  margin-top: 70px;
}
.article__comments__caption {
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.product-reviews__add-comment--article {
  width: 100%;
}
.article__add-comments.active .product-reviews__add-comment {
  display: block;
  -webkit-animation: show-comment 0.6s;
          animation: show-comment 0.6s;
}
.article__add-comments.active .general-batton-more .close {
  display: block;
}
.article__add-comments.active .general-batton-more .text {
  display: none;
}
.article__add-comments .general-batton-more {
  max-width: 190px;
  width: 100%;
}
.article__add-comments .general-batton-more .close {
  display: none;
}
@keyframes show-comment {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media screen and (min-width: 1201px) {
  .article__aside__link:hover,
  .article__aside__sub-link:hover {
    color: #2F80ED;
  }
}
@media screen and (min-width: 768px) {
  .article-main-position {
    width: 19%;
    margin-right: 20px;
  }
  .article-description-position {
    width: 34%;
  }
}
@media screen and (max-width: 1200px) {
  .article__main-info__header {
    flex-direction: column;
    align-items: flex-start;
  }
  .article__main-info__header .social__list--inner-content {
    margin-top: 15px;
  }
  .article__general-info {
    margin-top: 15px;
  }
  .article__footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .article__footer .text-button {
    order: 3;
    margin-top: 30px;
  }
  .article__footer__like {
    margin: 0px 0px 30px;
  }
}
@media screen and (max-width: 1024px) {
  .article__main-info {
    width: 100%;
  }
  .article__aside-wrapper {
    width: 100%;
    margin-bottom: 50px;
  }
  .article__aside__item__wrapper .icon-drop-arrow {
    display: none;
  }
  .article__comments {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .article__caption {
    margin-bottom: 10px;
  }
  .article__container {
    margin-top: 10px;
  }
  .article__main-info__content img {
    height: 76px;
    width: calc(100% + 32px);
    max-width: calc(100% + 32px);
    margin-left: -16px;
  }
  .article__main-info__content .article__main-img {
    height: 115px;
  }
  .article__main-info__content h1,
  .article__main-info__content h2,
  .article__main-info__content h3 {
    font-size: 18px;
    line-height: 120%;
  }
  .article__main-info__content > p {
    margin-bottom: 20px;
  }
  .article__main-info__content > p:last-child {
    margin-bottom: 0px;
  }
  .article__main-info__content > ul {
    margin-bottom: 20px;
  }
  .article__main-info__content blockquote {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 20px;
  }
  .article__main-info__content blockquote::before {
    content: "";
    display: block;
    width: 23px;
    height: 17px;
    margin-bottom: 10px;
    background: url(/img/reviews-decor.png) center / contain no-repeat;
  }
  .article__aside-container {
    padding: 0px;
    background-color: transparent;
  }
  .article__aside__caption {
    margin-bottom: 20px;
  }
  .article__aside__sub-list {
    margin-left: 30px;
  }
  .article__aside__item.active .article__aside__sub-list {
    display: block;
    -webkit-animation: show-sub-aside 0.6s;
            animation: show-sub-aside 0.6s;
  }
  .article__aside__item.active .article__aside__item__wrapper .icon-drop-arrow {
    transform: rotate(180deg);
  }
  .article__aside__item__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .article__aside__item__wrapper .icon-drop-arrow {
    display: flex;
    font-size: 6px;
    transition: transform 0.4s;
  }
  .article__aside__sub-list {
    display: none;
  }
  @-webkit-keyframes show-sub-aside {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes show-sub-aside {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .article__table {
    margin-top: 20px;
  }
  .article__table__name {
    font-size: 12px;
    line-height: 15px;
    text-align: left;
  }
  .article__table__header {
    display: none;
  }
  .article__table__item {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .article__table__item .type {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #828282;
    margin-bottom: 10px;
  }
  .article__table__item__info {
    margin-bottom: 15px;
  }
  .article__table__item__info:last-child {
    margin-bottom: 0px;
  }
  .article__footer__like {
    flex-direction: column;
    align-items: flex-start;
  }
  .article__footer__like__caption {
    margin-bottom: 15px;
  }
  .article__comments {
    margin-top: 30px;
  }
  .article__add-comments .general-batton-more {
    max-width: 100%;
  }
  .article__comments__caption {
    font-size: 16px;
    line-height: 20px;
  }
}
/* Blog */
.blog-block {
  margin-top: 120px;
}
.blog__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.blog__item {
  width: 300px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.blog__item--big {
  width: 630px;
}
.blog__item__img {
  height: 232px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
.blog__item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog__item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.blog__item__header .star__list {
  font-size: 12px;
}
.blog__item__category {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #2F80ED;
}
.blog__item__link {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #333333;
  transition: color 0.4s;
}
.blog__item__footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 150%;
  color: #828282;
  margin-top: 10px;
}
@media screen and (min-width: 1201px) {
  .blog__item__link:hover {
    color: #2F80ED;
  }
}
@media screen and (max-width: 1024px) {
  .blog-block {
    margin-top: 80px;
  }
  .blog__list {
    margin-right: -10px;
  }
  .blog__item {
    width: 236px;
    margin-right: 10px;
  }
  .blog__item__img {
    height: 182px;
  }
}
@media screen and (max-width: 767px) {
  .blog-block {
    margin-top: 50px;
  }
  .blog__list {
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -16px;
    margin-bottom: -16px;
  }
  .blog__item {
    width: 288px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
}
/* Social block */
.social-block {
  margin-top: 120px;
}
.general-header-block--social {
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
.social__list {
  display: flex;
  justify-content: center;
  margin-right: -30px;
}
.social__item {
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 30px;
  background-color: #2F80ED;
  overflow: hidden;
  transition: background-color 0.4s;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 15px;
}
.social__list--inner-content {
  margin-right: -10px;
}
.social__list--inner-content .social__item {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.social__list--inner-content .social__link {
  font-size: 14px;
}
.social__list--inner-content .social__link--telegram {
  font-size: 10px;
}
.social__list--inner-content .social__link--fb {
  font-size: 12px;
}
@media screen and (min-width: 1201px) {
  .social__item:hover {
    background-color: #2A74D9;
  }
}
@media screen and (max-width: 1024px) {
  .social-block {
    margin-top: 80px;
  }
}
@media screen and (max-width: 768px) {
  .social-block {
    margin-top: 50px;
  }
}
/* //Social block */
/* Subscription */
.subscription {
  margin-top: 120px;
}
.subscription__caption {
  text-align: center;
  margin-bottom: 30px;
}
.subscription__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input_wrapper--subscription {
  max-width: 285px;
  margin-bottom: 20px;
}
.checkbox__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
}
.checkbox__wrapper--subscription {
  margin-bottom: 20px;
}
.main-button--subscription {
  margin-top: 30px;
}
@media screen and (max-width: 1024px) {
  .subscription {
    margin-top: 80px;
  }
}
@media screen and (max-width: 768px) {
  .subscription {
    margin-top: 50px;
  }
}
@media screen and (max-width: 576px) {
  .subscription__caption {
    margin-bottom: 20px;
  }
  .subscription__form {
    align-items: flex-start;
  }
  .input_wrapper--subscription {
    max-width: 100%;
  }
  .checkbox__container {
    flex-direction: column;
  }
  .main-button--subscription {
    margin-top: 20px;
    max-width: 100%;
    width: 100%;
  }
}
/* //Subscription */
/* General product style */
.product__caption {
  margin-bottom: 20px;
}
.product__user-info {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin-bottom: 20px;
}
.product-user-info__calc-reviews {
  margin-left: 20px;
}
.product-user-info__code {
  margin-left: auto;
  color: #BDBDBD;
}
.product-user-info__code span {
  color: #333333;
}
.product__main-info {
  display: flex;
  justify-content: space-between;
}
.product__description__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.product_status {
  font-size: 14px;
  line-height: 17px;
  color: #2F80ED;
}
.product__parameters {
  position: relative;
  margin-bottom: 20px;
}
.product__prompt {
  position: absolute;
  top: 0px;
  right: 0px;
}
.product__prompt.active .product__prompt__text {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s, visibility 0s 0s;
}
.product__prompt__button {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  transition: color 0.4s;
}
.product__prompt__button::after {
  content: "?";
  text-align: center;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  color: #2F80ED;
  border: 1px solid #2F80ED;
  border-radius: 50%;
  margin-left: 10px;
}
.product__prompt__text {
  position: absolute;
  top: calc(100% + 5px);
  right: 0px;
  width: 200px;
  font-size: 13px;
  line-height: 130%;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(196, 196, 196, 0.35);
  border-radius: 2px;
  padding: 20px;
  opacity: 0;
  color: #333333;
  visibility: hidden;
  z-index: 2;
  transition: opacity 0.4s, visibility 0s 0.4s;
}
.product__parameters__wrapper {
  margin-bottom: 20px;
}
.product__parameters__wrapper:last-child {
  margin-bottom: 0px;
}
.product__parameters__caption {
  font-size: 14px;
  line-height: 17px;
  color: #BDBDBD;
  margin-bottom: 10px;
}
.product__parameters__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: -10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #333333;
}
.product__parameters__item {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 1px solid #EEEEEE;
  border-radius: 2px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: color 0.4s, border-color 0.4s;
}
.product__parameters__item.active {
  border-color: #2F80ED;
}
.product__button {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.product__button .general-button-more-info {
  max-width: 200px;
  width: 100%;
  margin-right: 40px;
}
.product__button .main-button {
  margin-bottom: 10px;
}
@media screen and (min-width: 1201px) {
  .product__parameters__item:hover {
    color: #2F80ED;
  }
  .product__prompt__button:hover {
    color: #1368d8;
  }
}
@media screen and (max-width: 1024px) {
  .product__button .general-button-more-info {
    max-width: 172px;
    margin-right: 26px;
  }
}
/* General product style */
