<template>
  <li class="blog__item" :class="classes">
    <div class="blog__item__img">
        <img v-lazy="item.image" alt="title">
    </div>
    <div class="blog__item__header">
        <p class="blog__item__category">{{ item.category_name }}</p>
        <ul class="star__list star__list-checked">
            <li class="star__item">
                <span class="icon-star"></span>
            </li>
            <li class="star__item active">
                <span class="icon-star"></span>
            </li>
            <li class="star__item">
                <span class="icon-star"></span>
            </li>
            <li class="star__item">
                <span class="icon-star"></span>
            </li>
            <li class="star__item">
                <span class="icon-star"></span>
            </li>
        </ul>
    </div>
    <router-link :to="'/blog/' + item.category_slug + '/' + item.slug" class="blog__item__link">
      {{ item.title }}
    </router-link>
    <div class="blog__item__footer">
        <p class="blog__item__time">6 мин чтения</p>
        <p class="blog__item__comment">2 комментария</p>
    </div>
  </li>
</template>

<script>
  export default {
		name: 'articlecard',
		data (){
      return {
        item: this.dataItem,
        classes: this.dataClasses
      }
    },
    props: ['dataItem', 'dataClasses'],
    watch: {
      dataItem: {
        handler: function(value) {
          this.item = value;
        },
        deep: true
      }
    }
  }
</script>