<template>
  <li class="products-item" :class="classes">
    <button class="products-item__open-popup js-button" data-target="product" @click="$root.productDetails = item"></button>
    <div class="products-item__img products-item__img--else">
        <img v-lazy="item.image" :alt="item.name">
        <img v-lazy="'./img/product-hover-img.png'" alt="title">
    </div>
    <div class="products-item__container">
        <div class="products-item__main-info">
            <p class="products-item__category">{{ item.category_name }}</p>
            <a href="#" class="products-item__link">{{ item.name }}</a>
            <div class="product-item__price product-price">
                <p class="product__old-price product__old-price--item" v-if="item.old_price">{{ item.old_price }} грн</p>
                <p class="product__price product__price--item">{{ item.price }} грн</p>
            </div>
        </div>
        <div class="products-item__parameters">
            <ul class="product-category__color-list">
                <li class="product-category__color-item" style="background-color: red"></li>
                <li class="product-category__color-item" style="background-color: blue"></li>
                <li class="product-category__color-item" style="background-color: blueviolet"></li>
            </ul>
        </div>
    </div>
    <button class="add-to-favorite" @click="addToFavorites()" :class="{active: isActive}">
        <span class="icon-add-favorite"></span>
    </button>
    <div class="product-noty product-noty--products-item" v-if="item.old_price">SALE</div>
  </li>
</template>

<script>
  export default {
		name: 'productcard',
		data (){
      return {
        item: this.dataItem,
        classes: this.dataClasses
      }
    },
    props: ['dataItem', 'dataClasses'],
    computed: {
      isActive: function() {
        return this.$root.favorites.includes(this.item.id);
      }
    },
    methods: {
      addToFavorites: function() {
        this.$root.$emit('add-to-favorites', this.item);
      },
    },
    watch: {
      dataItem: {
        handler: function(value) {
          this.item = value;
        },
        deep: true
      }
    }
  }
</script>