<template>
  <li class="product-reviews__item">
    <div class="product-reviews__header">
        <div class="product-reviews__img" v-lazy:background-image="item.file"></div>
        <p class="product-reviews__name">{{ item.name }}</p>
        <p class="product-reviews__date">{{ item.created_at }}</p>
    </div>
    <div class="product-reviews__info">
        <ul class="star__list star__list-checked">
          <li class="star__item" v-for="star in 5" :class="{active: item.rating === star}">
            <span class="icon-star"></span>
          </li>
        </ul>
    </div>
    <div class="product-reviews__text">
        <p>{{ item.text }}</p>
    </div>
    <div class="product-reviews__footer js-drop-item">
        <div class="product-reviews__footer__wrapper">
            <p class="product-reviews__footer__caption">Ответ полезен?</p>
            <ul class="product__parameters__list">
                <li class="product__parameters__item">да<span>(5)</span></li>
                <li class="product__parameters__item">нет<span>(5)</span></li>
            </ul>
            <button class="text-button text-button--reviews-answer js-drop-button">ответить (0)</button>
        </div>
        <div class="product-reviews__add-comment">
            <form action="product-reviews__add-comment__form">
                <div class="product-reviews__header">
                    <div class="product-reviews__img" v-lazy:background-image="'./img/reviews-photo.png'"></div>
                    <p class="product-reviews__name">Марина</p>
                </div>
                <label class="input_wrapper input_wrapper--margin-bottom">
                    <input type="text" class="main_input" placeholder="Ваш ответ">
                </label>
                <div class="product-reviews__add-comment__buttons">
                    <button type="button" class="text-button js-drop-button">отмена</button>
                    <button class="main-button main-button--small">
                        <span class="text">ответить</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
  </li>
</template>

<script>
  export default {
		name: 'reviewcard',
		data (){
      return {
        item: this.dataItem
      }
    },
    props: ['dataItem'],
    watch: {
      dataItem: {
        handler: function(value) {
          this.item = value;
        },
        deep: true
      }
    }
  }
</script>