<template>
  <li class="reviews__item js-item-more position-wrapper__item">
    <div class="reviews__item__container js-reviews-container">
        <div class="reviews-decor-elem" v-lazy:background-image="'/img/reviews-decor.png'"></div>
        <div class="reviews__item__header">
            <ul class="star__list star__list-checked">
                <li class="star__item" v-for="star in 5" :class="{active: item.rating === star}">
                    <span class="icon-star"></span>
                </li>
            </ul>
            <p class="reviews__item__date">{{ item.created_at }}</p>
        </div>
        <div class="reviews__item__text">
            <div class="content js-item-more-container">
                <p class="js-item-more-text">{{ item.text }}</p>
            </div>
        </div>
        <div class="reviews__item__footer">
            <button class="js-more-info js-button text-button" data-target="more-review">Подробнее</button>
            <div class="wrapper">
                <div class="reviews__img" v-lazy:background-image="item.file"></div>
                <p class="reviews__name">{{ item.name }}</p>
            </div>
        </div>
    </div>
  </li>
</template>

<script>
  export default {
		name: 'reviewcard',
		data (){
      return {
        item: this.dataItem
      }
    },
    props: ['dataItem'],
    watch: {
      dataItem: {
        handler: function(value) {
          this.item = value;
        },
        deep: true
      }
    }
  }
</script>