<template>
    <section>
        <section class="popup popup-form js-popup" data-target="add-reviews">
            <button class="close__popup js-close">
                <span class="icon-close"></span>
            </button>
            <div class="popup__wrapper">
                <p class="popup__caption">Оставить отзыв</p>
                <form action="#" class="popup__form-wrapper">
                    <div class="popup-add-product-reviews__item">
                        <p class="popup-sub-caption">Оцените товар</p>
                        <input type="hidden" name="stars" class="js-stars-input">
                        <ul class="star__list star__list--form js-star-list">
                            <li class="star__item star__item--form js-star-item" data-target="1">
                                <span class="icon-star"></span>
                            </li>
                            <li class="star__item star__item--form js-star-item" data-target="2">
                                <span class="icon-star"></span>
                            </li>
                            <li class="star__item star__item--form js-star-item" data-target="3">
                                <span class="icon-star"></span>
                            </li>
                            <li class="star__item star__item--form js-star-item" data-target="4">
                                <span class="icon-star"></span>
                            </li>
                            <li class="star__item star__item--form js-star-item" data-target="5">
                                <span class="icon-star"></span>
                            </li>
                        </ul>
                    </div>
                    <label class="input_wrapper input_wrapper--margin-bottom">
                        <span class="input-caption">Ваш отзыв</span>
                        <textarea class="main_textarea"></textarea>
                    </label>
                    <button class="main-button">
                        <span class="text">опубликовать отзыв</span>
                    </button>
                </form>
            </div>
        </section>
        <section class="popup popup-thanks js-popup" data-target="thanks">
            <button class="close__popup js-close">
                <span class="icon-close"></span>
            </button>
            <div class="popup__wrapper">
                <p class="popup__caption">Спасибо за ваш отзы</p>
                <p class="popup__sub">Ваши отзывы очень полезны для нас</p>
                <button class="main-button popup-thanks__button js-close">
                    <span class="text">продолжить покупки</span>
                </button>
            </div>
        </section>
    </section>
</template>

<script>
    export default {
        name: "addReviews",
        data() {
            return {
                
            }
        }
    }
</script>