<template>
    <section class="breadcrumbs">
        <div class="breadcrumbs__wrapper container">
            <router-link class="breadcrumbs__link" to="/">Главная</router-link>
            <router-link class="breadcrumbs__link"
            v-for="(breadcrumb, idx) in breadcrumbList"
            v-if="!breadcrumb.relatives && breadcrumb.link"
            :to="breadcrumb.link"
            :key="idx">{{ breadcrumb.name }}</router-link>
        </div>
    </section>
</template>

<script>
export default {
    name: 'breadcrumb',
    props: {
        caption: {
            type: String,
            default: "",
        }
    },
    data () {
        return {
            breadcrumbList: [],
            object: {},
            objectBreadCrumbList: [],
        }
    },
    mounted () { 
        this.updateList();
    },
    watch: { 
        '$route' () { 
            this.updateList();
        } 
    },
    methods: {
        updateList(currentName) {
            this.breadcrumbList = this.$route.meta.breadcrumb;
            let allRoutes = this.$route.meta.breadcrumb;
            allRoutes.forEach((item) => {
                if(item.relatives) {
                    this.object.name = this.caption;
                    this.object.link = this.$route.fullPath;
                    
                    if(this.breadcrumbList.length > 2) {
                        this.breadcrumbList.pop();
                    }
                    
                    this.breadcrumbList.push(this.object);
                }
            });
            
            this.breadcrumbList.forEach((item,index) => {
                if(!item.relatives) {
                    if(index == 0) index = 1;
                    this.objectBreadCrumbList.push(
                        {
                          "@type": "ListItem",
                            "position": index,
                            "item":
                            {
                                "@id": window.location.protocol + '//' + window.location.host + `${item.link}`,
                                "name": `${item.name}`
                            }
                        },
                    )
                }
            });
            
            let jsonScript = document.querySelectorAll('script[type="application/ld+json"]');
            if(jsonScript.length) {
                jsonScript.forEach(item => {
                    item.remove();
                });
            }
            const script = document.createElement('script');
            script.setAttribute('type', 'application/ld+json');
            
            let structuredDataText = 
                `{"@context": "http://schema.org",
                "@type": "BreadcrumbList",
                "itemListElement":${JSON.stringify(this.objectBreadCrumbList)}
                }
                `;
            script.textContent = structuredDataText;
            document.head.appendChild(script);
            this.objectBreadCrumbList = [];
        }
    }
}
</script>