<template>
    <section class="popup popup-product js-popup" data-target="product">
        <button class="close__popup js-close">
            <span class="icon-close"></span>
        </button>
        <div class="popup__wrapper">
            <p class="product__caption main-caption-m">Ноутбук Lenovo</p>
            <div class="product__user-info">
                <ul class="star__list star__list-checked">
                    <li class="star__item">
                        <span class="icon-star"></span>
                    </li>
                    <li class="star__item active">
                        <span class="icon-star"></span>
                    </li>
                    <li class="star__item">
                        <span class="icon-star"></span>
                    </li>
                    <li class="star__item">
                        <span class="icon-star"></span>
                    </li>
                    <li class="star__item">
                        <span class="icon-star"></span>
                    </li>
                </ul>
                <p class="product-user-info__calc-reviews">12 отзывов</p>
                <p class="product-user-info__code">Артикул: <span>25678</span></p>
            </div>
            <div class="product__main-info">
                <div class="product__popup__img js-oneMove-wrapper">
                    <button class="product-popup__arrow-button product-popup__arrow-button--left arrow-button js-oneMove-arrow-prev">
                        <span class="icon-arrow-left"></span>
                    </button>
                    <button class="product-popup__arrow-button product-popup__arrow-button--right arrow-button js-oneMove-arrow-next">
                        <span class="icon-arrow-right"></span>
                    </button>
                    <ul class="product-popup__img-list">
                        <li class="product-popup__img-item show js-oneMove-item" v-lazy:background-image="'./img/banner-img.png'"></li>
                        <li class="product-popup__img-item js-oneMove-item" v-lazy:background-image="'./img/banner-img.png'"></li>
                    </ul>
                </div>
                <div class="product__description product__description--popup">
                    <div class="product__description__header">
                        <p class="product_status">Есть в наличии</p>
                        <button class="add-to-comparison">
                            <span class="icon-comparison"></span>
                        </button>
                    </div>
                    <div class="product__parameters">
                        <div class="product__prompt js-drop-item">
                            <button class="product__prompt__button js-drop-button">Подсказка</button>
                            <div class="product__prompt__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, odio!</div>
                        </div>
                        <div class="product__parameters__wrapper">
                            <p class="product__parameters__caption">Наименование параметра:</p>
                            <ul class="product__parameters__list">
                                <li class="product__parameters__item">в1</li>
                                <li class="product__parameters__item">в2</li>
                                <li class="product__parameters__item active">в3</li>
                                <li class="product__parameters__item">в4</li>
                            </ul>
                        </div>
                        <div class="product__parameters__wrapper">
                            <p class="product__parameters__caption">Наименование параметра:</p>
                            <ul class="product__parameters__list">
                                <li class="product__parameters__item">в1</li>
                                <li class="product__parameters__item">в2</li>
                                <li class="product__parameters__item">в3</li>
                                <li class="product__parameters__item">в4</li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-price">
                        <p class="product__old-price">300грн</p>
                        <p class="product__price">280грн</p>
                    </div>
                    <div class="product__button">
                        <button class="main-button main-button--width">
                            <span class="icon-cart"></span>
                            <span class="text">в корзину</span>
                        </button>
                        <button class="general-button-more-info">
                            <span class="icon-add-favorite"></span>
                            <span class="text">в избранное</span>
                        </button>
                        <button class="text-button js-button" data-target="buy-one-click">купить в один клик</button>
                    </div>
                </div>
            </div>
            <a href="#" class="general-batton-more general-batton-more--product-popup">
                <span class="text">подробнее о товаре</span>
            </a>
        </div>
    </section>
</template>

<script>
    export default {
        name: "popupProduct",
        data() {
            return {
                
            }
        }
    }
</script>