.popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) translateZ(0);
    z-index: 10;
    background-color: #fff;
    max-height: 100%;
    overflow: hidden;
    border-radius: 5px;
    max-width: 480px;
    width: 100%;
    
    .input_wrapper {
        margin-bottom: 20px;
    }
    
    .main_button-color {
        margin: 0px auto;
    }
}

.popup__wrapper {
    overflow: auto;
    scrollbar-color: rgba(193, 199, 221, 0.75) white;
    scrollbar-width: 5px;
    -ms-overflow-style: none;
    padding: 40px;
    
    &::-webkit-scrollbar {
        width: 5px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: rgba(193, 199, 221, 0.75);
        border-radius: 4px;
    }
}

.popup.active {
    transform: translate(-50%, -50%) scale(1) translateZ(0);
    transition: transform 0.4s;
}


.close__popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    color: #333333;
    z-index: 4;
    transition: color .4s, transform .4s;
}

.overlay {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 8;
}

.overlay.active {
    display: block;
    animation: overlay .6s;
}

@keyframes overlay {
    0% {
        transform: translateY(-100%);
    }
    
    100% {
        transform: translateY(0%);
    }
}

/* Popup reviews */

.popup__wrapper {
    .reviews__item__footer {
        .text-button {
            display: none;
        }
    }
    
    .reviews__item__text {
        display: block;
    }
}

/* //Popup reviews */

/* Popup form */

.popup-form {
    max-width: 366px;
}

.popup__caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

.popup-sub-caption {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    margin-bottom: 15px;
}

.popup__sub {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4F4F4F;
}

.popup__form-wrapper {
    margin-top: 30px;
    
    .main-button {
        margin: 0px auto;
    }
}

/* //Popup form */

/* Popup product */

.popup-product {
    max-width: 880px;
}

.product__popup__img {
    position: relative;
    width: calc(45% - 15px);
    height: 345px;
}

.product-popup__img-list {
    width: 100%;
    height: 100%;
    position: relative;
}

.product-popup__img-item {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity .6s, transform .6s;
    
    &.show {
        opacity: 1;
        transform: translateY(0px);
        z-index: 1;
    }
}

.product-popup__arrow-button {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    font-size: 14px;
}

.product-popup__arrow-button--right {
    left: auto;
    right: 15px;
}

.product__description--popup {
    &.product__description {
        width: calc(55% - 15px);
    }
}

.general-batton-more--product-popup {
    max-width: 215px;
    margin: 30px auto 0px;
}

.product__prompt {
    &.product__prompt--popup {
        position: relative;
        margin-top: 20px;
        
        .product__prompt__text {
            width: 100%;
            
        }
    }
}

/* //Popup product */

/* Popup thanks */

.popup-thanks {
    max-width: 365px;
}

.popup-thanks__button {
    margin: 20px auto 0px;
}

/* //Popup thanks */

/* Popup show reviews photo */

.popup-reviews-photo {
    max-width: 375px;
    
    .close__popup {
        color: #ffffff;
    }
    
    .popup__wrapper {
        padding: 0px;
    }
    
    .reviews-photo  {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 501px;
    }
}

/* //Popup show reviews photo */

/* Popup add reviews product */

.popup-add-product-reviews__item {
    margin-bottom: 30px;
}

.add-reviews__list {
    display: flex;
    margin: 10px 0px 0px;
}

.add-reviews__item {
    position: relative;
    width: 50px;
    height: 70px;
    border: 1px solid #EEEEEE;
    transition: border-color .4s, opacity .4s;
    cursor: pointer;
    margin-right: 10px;
    opacity: 0;
    z-index: -1;
    border-radius: 2px;
    
    &:first-child {
        opacity: 1;
        z-index: 2;
    }
    
    &.active {
        opacity: 1;
        z-index: 2;
        
        + .add-reviews__item {
            opacity: 1;
            z-index: 2;
        }
    }
    
    &:last-child {
        margin-right: 0px;
    }
    
    .icon-add-photo {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 15px;
        transform: translate(-50%, -50%);
        transition: color .4s;
    }
    
    &.active {
        .add-reviews__img {
            opacity: 1;
            z-index: 2;
        }
        
        .icon-add-photo {
            opacity: 0;
        }
        
        .add-reviews__delete-img {
            opacity: 1;
            z-index: 2;
        }
    }
}

.add-reviews__delete-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 0px 2px 0px 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity .4s;
    
    .icon-close {
        font-size: 7px;
    }
}

.add-reviews__input {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    z-index: -1;
    width: 1px;
    height: 1px;
}

.add-reviews__img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    object-fit: cover;
    object-position: top;
    transition: opacity .4s;
}

.popup-radio__wrapper {
    display: flex;
    
    .radio__wrapper {
        margin-right: 50px;
        
        &:last-child {
            margin-right: 0px;
        }
    }
}

.popup-add-review-text {
    color: #333333;
    font-size: 14px;
    line-height: 140%;
}

/* //Popup add reviews product */

/* Popup delete item */

.popup__caption--delete-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    margin-bottom: 30px;
    text-align: center;
    
    .name {
        text-transform: uppercase;
    }
}

.general-button-more-info--delete-item {
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;
}

.main-button--delete-item {
    width: 100%;
    max-width: 100%;
}

/* //Popup delete item */

/* Popup change pass */

.resest-password {
    display: flex;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
    margin-top: -10px;
    transition: color .4s;
}

.resest-password--change-pass {
    justify-content: flex-end;
}

.text-button--change-pass {
    margin-bottom: 20px;
}

/* //Popup change pass */

/* Popup registration */

.popup-form__enter-button {
    margin-top: 30px;
    margin-bottom: 20px;
    
    .general-button-more-info {
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
        
        &:last-child {
            margin-bottom: 0px;
        }
        
        .text {
            padding-left: 10px;
        }
    }
    
    .google-icon {
        width: 14px;
        height: 14px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .icon-fb {
        font-size: 14px;
        color: #3B5998;
    }
    
    .icon-email {
        font-size: 10px;
        color: #333333;
    }
}

.popup-form__separator {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
    text-align: center;
}

.popup__sub-caption {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.popup__form-wrapper--profile {
    margin-top: 20px;
}

.popup-form__footer {
    margin-top: 20px;
    text-align: center;
}

.popup-form__footer__item {
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    margin-bottom: 30px;
    
    &:last-child {
        margin-bottom: 0px;
    }
}

.popup-form__footer__button {
    color: #333333;
    transition: color .4s;
}
/* //Popup registration */

/* Popup order */

.popup-order-info__list {
    margin-bottom: 40px;
}

.popup-order-info__item {
    display: flex;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    margin-bottom: 15px;
    
    &:last-child {
        margin-bottom: 0px;
    }
    
    .description {
        color: #333333;
        padding-left: 2px;
    }
}

.popup-order__product-item {
    display: flex;
    margin-bottom: 30px;
    
    &:last-child {
        margin-bottom: 0px;
    }
}

.popup-order__product__img {
    width: 88px;
    height: 91px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
    flex-shrink: 0;
}

.popup-order__product__info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.popup-order__product__name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    max-height: 32px;
    margin-bottom: 10px;
}

.popup-order__product__param {
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    margin-bottom: 10px;
    
    span {
        color: #333333;
        padding-left: 2px;
    }
}

.popup-order__product__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    
    .popup-order__product__param {
        margin-bottom: 0px;
    }
}

.popup-order__product__price {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.popup-order-info {
    .general-batton-more {
        max-width: 100%;
        width: 100%;
    }
}

.popup-order__total-price {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 10px;
    border-top: 1px solid #EEEEEE;
    text-align: right;
    
    strong {
        font-size: 16px;
        color: #333333;
    }
}

@media screen and (min-width: 1201px) {
    .close__popup {
        &:hover {
            color: #000000;
            transform: rotate(90deg);
        }
    }
    
    .add-reviews__item {
        &:hover {
            .icon-add-photo {
                color: #2F80ED;
            }
        }
    }
    
    .resest-password {
        &:hover {
            color: #2F80ED;
        }
    }
    
    .popup-form__footer__button {
        &:hover {
            color: #2F80ED;
        }
    }
}

@media screen and (max-width: 1024px) {
    /* Popup product */
    
    .product__popup__img {
        width: calc(45% - 10px);
    }
    
    .product__description--popup {
        &.product__description {
            width: calc(55% - 10px);
        }
    }
}

@media screen and (max-width: 767px) {
    .popup__wrapper {
        padding: 40px 20px;
    }
}