/* Reviews */

.reviews-block {
    margin-top: 120px;
}

.reviews__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.reviews__item {
    width: 300px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 30px;
    background: #F6F6F6;
    border-radius: 5px;
}

.reviews__item__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.reviews__item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.reviews-decor-elem {
    width: 23px;
    height: 17px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.reviews__item__date {
    font-size: 12px;
    line-height: 150%;
    color: #BDBDBD;
}

.reviews__item__text {
    font-size: 14px;
    line-height: 150%;
    color: #4F4F4F;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-bottom: auto;
    height: 84px;
}

.reviews__item__footer {
    margin-top: 20px;
    
    .wrapper {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    
    .text-button {
        display: none;
        
        &.show {
            display: block;
        }
    }
}

.reviews__img {
    width: 36px;
    height: 36px;
    margin-right: 15px;
    border-radius: 50%;
    background: 50% 50% / cover no-repeat;
}

.reviews__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
}

@media screen and (max-width: 1024px) {
    .reviews-block {
        margin-top: 80px;
    }
    
    .reviews__list {
        margin-right: -10px;
    }
    
    .reviews__item {
        width: 236px;
        margin-right: 10px;
    }
    
    .reviews-decor-elem {
        margin-bottom: 10px;
    }
    
    .reviews__item__header {
        margin-bottom: 10px;
    }
    
    .reviews__item__footer {
        margin-top: 10px;
        
        .wrapper {
            margin-top: 15px;
        }
    }
}

@media screen and (max-width: 767px) {
    .reviews-block {
        margin-top: 50px;
    }
    
    .reviews__list {
        justify-content: center;
        margin-right: -16px;
        margin-bottom: -16px;
    }
    
    .reviews__item {
        width: 288px;
        margin-right: 16px;
        margin-bottom: 16px;
    }
}

/* //Reviews */